<!DOCTYPE html>
<html>
<div th:fragment="adminFrame">
	<div class="container" style="max-width: 1200px">
	
		<!-- 윗 단 화면 -->
		<div class="top-container" style="padding-top: 140px;">

			<div class="col-sm-2 top-rectangle-01">
				<span class="page-title">관리자</span>
			</div>


			<div class="col-sm-2 top-rectangle-02">
				<div class="rectangle-title">입금/완료</div>
				<div class="rectangle-count-wrap">
					<span class="rectangle-count">21</span> <!-- 바꿔놓아야함 -->
					<span class="rectangle-02-count">건</span> <!-- 바꿔놓아야함 -->
				</div>
			</div>


			<div class="col-sm-2 top-rectangle-02">
				<div class="rectangle-title">배송중</div>
				<div class="rectangle-count-wrap">
					<span class="rectangle-count">17</span> <!-- 바꿔놓아야함 -->
					<span class="rectangle-02-count">건</span> <!-- 바꿔놓아야함 -->
				</div>
			</div>


			<div class="col-sm-2 top-rectangle-02">
				<div class="rectangle-title">문의 대기 중</div>
				<div class="rectangle-count-wrap">
					<span class="rectangle-count">5</span> <!-- 바꿔놓아야함 -->
					<span class="rectangle-02-count">건</span> <!-- 바꿔놓아야함 -->
				</div>
			</div>

		</div>

		<!-- 메인 콘텐츠 -->
		<div class="main-content">
			<!-- 왼쪽 사이드바 -->
			<div class="left-menu-container">
				<div class="left-menu">
					<div class="left-menu-title">상품관리</div>
					<div class="left-menu-semi-01">
						<a th:href="@{/admin/category}">카테고리 추가/수정/삭제</a>
						<a th:href="@{/admin/product}">상품정보 추가/수정/삭제</a>
						<a th:href="@{/admin/category/update}">상품 카테고리 관리</a>
					</div>
				</div>

				<div class="left-menu">
					<div class="left-menu-title">쿠폰관리</div>
					<div class="left-menu-semi-01">
						<a href="#">쿠폰 등록/수정/삭제</a>
					</div>
				</div>

				<div class="left-menu">
					<div class="left-menu-title">고객관리</div>
					<div class="left-menu-semi-01">
						<a th:href="@{/admin/purchase}">결제 관리</a>
					</div>
				</div>

				<div class="left-menu">
					<div class="left-menu-title">문의관리</div>
					<div class="left-menu-semi-01">
						<a th:href="@{/admin/inquiry/W}">문의 조회/답변</a>
					</div>
				</div>

				<div class="left-menu">
					<div class="left-menu-title">공통코드 관리</div>
					<div class="left-menu-semi-01">
						<a th:href="@{/admin/common-code}">공통코드 조회</a>
					</div>
				</div>
			</div>
</html>