<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="coupon-paging">
<nav aria-label="Page navigation">
<ul class="pagination1">
	<li th:if="${nowPageBlock>1}">
		<button th:onclick="couponPaging([[${startPage-1}]])" aria-label="Previous" style="background-color:white; width:26px; height:26px; cursor:pointer;">◀</button>
	</li>
	
	<li th:each="i: ${#numbers.sequence(startPage, endPage)}" th:if="${i != 0}" th:classappend="${i==nowPage}?active">
		<button th:onclick="couponPaging([[${i}]])" th:if="${i==nowPage}" style="background-color:white; font:bold 12px tahoma; width:26px; height:26px; cursor:pointer; border:2px solid #39594e"><span>[[${i}]]</span></button>
		<button th:onclick="couponPaging([[${i}]])" th:if="${i!=nowPage}" style="background-color:white; font:bold 12px tahoma; width:26px; height:26px; cursor:pointer; border:1px solid #39594e" ><span>[[${i}]]</span></button>
	</li>
	
	<li th:if="${nowPageBlock<totalPageBlock}">
		<button th:onclick="couponPaging([[${endPage+1}]])" aria-label="Next" style="background-color:white; width:26px; height:26px; cursor:pointer;">▶</button>
	</li>
</ul>
</nav>
</div>