<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>다있소</title>
    
    <!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- CSS File -->
    <link rel="stylesheet" th:href="@{/css/header-style.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage-bread-board.css}">
    <link rel="stylesheet" th:href="@{/css/sign-up.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/review.css}">
    <link rel="stylesheet" th:href="@{/css/order-list.css}">
    
    
    <!-- JS -->
    <script>
    window.onload = function() {	
			const categoryList = document.getElementById('header-category-list');
			const category = document.getElementById('header-category');
			
			category.addEventListener('mouseover', () => {
    	   		categoryList.style.display = 'block';
    	    });
			
			categoryList.addEventListener('mouseleave', () => {
    	   		categoryList.style.display = 'none';
    	    });
			
			
    	    fetch('http://localhost:8080/category/getAllFirstCategoryIdAndName')
    	  		.then((res) => {
    	  			//Promise 반환
    	        	return res.json(); 
    	    	})
    	    	.then((json) => {
    	    		// 서버에서 주는 json데이터가 출력 됨
    	        	let datas = json;
    	        	datas.map(function(data) {
    	        		/* console.log(`${data.categoryNm}`); */
    	        		const div1 = document.createElement('div');
    	        		div1.setAttribute('id', 'header-category-first')
    	        		const div2 = document.createElement('div');
    	        		div2.setAttribute('id', 'header-category-list-box')
    	        		div2.style.display = 'flex';
    	        		div2.style.marginBottom = '20px';
    	        		const a = document.createElement('a');
    	        		const textnode = document.createTextNode(`${data.categoryNm}`);
    	        		a.appendChild(textnode);
    	        		div1.appendChild(a);
    	        		div2.appendChild(div1)
    	        		categoryList.appendChild(div2);
    	        		 		
    	        		const categoryId = `${data.categoryId}`;
    	        		
    	        		a.style.cursor = 'pointer';
    	        		a.style.textDecoration = 'none';
    	        		a.style.color = 'black';
    	        		a.style.fontWeight = 'bold';
    	        		a.style.fontSize = '18px';
    	        		a.setAttribute('href', '#');
    	        		a.setAttribute('id', 'a');		
    	        	
    	        		a.addEventListener('mouseover', () => {
    	        	   		a.style.color = '#39594e';
    	        	   		a.style.textDecoration = 'underline'
    	        	   		a.style.textDecorationColor = '#39594e';
    	        	    });
    	        		
    	        		a.addEventListener('mouseout', () => {
    	        	   		a.style.color = 'black';
    	        	   		a.style.textDecoration = 'none'
    	        	    });
    	        		
    	    	    	fetch('http://localhost:8080/category/getSecondCategoryIdAndNameByFirstCategoryId/' + categoryId)
    		     	  		.then((res) => {
    		     	  			//Promise 반환
    		   		        	return res.json(); 
    		   		    	})
    	    		    	.then((json) => {
    		   		    		// 서버에서 주는 json데이터가 출력 됨
    		   		    		let datas = json;
    		   		    		const div3 = document.createElement('div');
		     	        		div3.setAttribute('id', 'header-category-second')
		     	        		div3.style.marginLeft = '40px';
    		     		       	datas.map(function(data) {
    		     	        		//console.log(`${data.categoryNm}`);
    		     	        		const span = document.createElement('span');
    		     	        		span.style.marginRight = '18px';
    		     	        		const a = document.createElement('a');
    		    	        		const textnode = document.createTextNode(`${data.categoryNm}`);
    		    	        		a.appendChild(textnode);
    		    	        		span.appendChild(a);
    		    	        		div3.appendChild(span);
    		    	        		div2.appendChild(div3);
    		    	        		
    		    	        		a.style.cursor = 'pointer';
    		    	        		a.style.textDecoration = 'none';
    		    	        		a.style.color = 'black';
    		    	        		a.style.fontSize = '14px';
    		    	        		a.setAttribute('href', '#');
    		    	        		a.setAttribute('id', 'a');
    		    	        		
    		    	        		a.addEventListener('mouseover', () => {
    		    	        	   		a.style.color = '#8BBA66';
    		    	        	   		a.style.textDecoration = 'underline';
    		    	        	   		a.style.textDecorationColor = '#8BBA66';
    		    	        	   		a.style.fontWeight = 'bold';
    		    	        	    });
    		    	        		
    		    	        		a.addEventListener('mouseout', () => {
    		    	        	   		a.style.color = 'black';
    		    	        	   		a.style.fontWeight = 'normal';
    		    	        	   		a.style.textDecoration = 'none'
    		    	        	    });
    		     		        });
    		     		    })
    		     		    .catch(function(error) {
    		     		    	    console.log(error);
    		     		    });
    	              });
    	    	})
    	    	.catch(function(error) {
    	    	      console.log(error);
    	    	});  
    }
    </script>
</head>
</html>