<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}"></head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div class="main">
	<div class="top-container">
		<div class="top-rectangle-01">
			<span class="page-title">MY다있소</span>
		</div><!-- top-rectangle-01 -->
		
		<div class="top-rectangle-02">
			<div class="rectangle-title">배송중</div>
				<div class="rectangle-count-wrap">
					<span class="rectangle-count">0</span> <!-- 타임리프 써야함 -->
					<span class="rectangle-02-count">개</span>
				</div><!-- rectangle-count-wrap  -->
		</div><!--top-rectangle-02  -->
		
		<div class="top-rectangle-02">
			<div class="rectangle-title">배송완료</div>
				<div class="rectangle-count-wrap">
					<span class="rectangle-count">0</span> <!-- 타임리프 써야함 -->
					<span class="rectangle-02-count">개</span>
			</div><!-- rectangle-count-wrap  -->
		</div><!-- top-rectangle-02 -->
		
		<div class="top-rectangle-02">
			<div class="rectangle-title">보유쿠폰</div>
				<div class="rectangle-count-wrap">
					<span class="rectangle-count">0</span> <!-- 타임리프 써야함 -->
					<span class="rectangle-02-count">개</span>
			</div><!-- rectangle-count-wrap  -->
		</div><!-- top-rectangle-02 -->
		
		<div class="top-rectangle-02">
			<div class="rectangle-title">포인트</div>
				<div class="rectangle-count-wrap">
					<span class="rectangle-count" >10000</span> <!-- 타임리프 써야함 -->
					<span class="rectangle-02-count">P</span>
			</div><!-- rectangle-count-wrap  -->
		</div><!-- top-rectangle-02 -->
	</div><!-- top-container -->
	<div class="left-menu-container">
		
	</div><!-- left-menu-container -->
</div> <!-- main div -->
<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>