<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/bs-header :: bsHeader}"></head>
<link rel="stylesheet" th:href="@{/css/admin-product.css}">
<link rel="stylesheet" th:href="@{/css/admin-frame.css}">
<body>
	<div th:replace="~{/include/admin-body-header :: adminBodyHeader}"></div>
	<div th:replace="~{/include/admin-frame :: adminFrame}"></div>

	<!-- 오른쪽 컨텐츠 -->
	<div id="productTable">
		<hr class="my-3">
		<div class="row" style="padding-bottom: 10px;">
			<div class="col" style="z-index: 1; display: flex; justify-content: space-between;">
				<div class="col-sm-5" style="display: inline-flex; align-items: flex-end; padding-left: 0px;">
					<!-- 첫 번째 카테고리 -->
					<div class="col-sm-3" style="padding-left: 0px; padding-right: 0px;">
						<label for="firstCategory"></label> 
						<select id="firstCategory" name="firstCategory" onchange="getSecondCategories(this.value, 'unsyn')"
							style="border-radius: 8px; padding-left: 5px; padding-right: 5px;">
							<option value="">전체</option>
							<option th:each="category : ${firstCategories}"
								th:value="${category.categoryId}"
								th:text="${category.categoryNm}"
								th:selected="${category.categoryId == selectedFirstCategoryId}"></option>
						</select>
					</div>
					<!-- 두 번째 카테고리 -->
					<div class="col-sm-5">
						<label for="secondCategory"></label> 
						<select id="secondCategory"	name="secondCategory" onchange="getThirdCategories('unsyn')"
							style="border-radius: 8px; padding-left: 5px; padding-right: 5px; width: 167px;">
							<option value="">전체</option>
						</select>
					</div>
					<!-- 세 번째 카테고리 -->
					<div class="col-sm-5"
						style="text-align: center; padding-left: 0px;">
						<label for="thirdCategory"></label> 
						<select id="thirdCategory" name="thirdCategory"	style="border-radius: 8px; padding-left: 10px; padding-right: 5px;">
							<option value="">전체</option>
						</select>
					</div>
				</div>

				<div class="col-sm-3" style="display: inline-flex; align-items: flex-end; padding-left: 0px; justify-content: flex-end;">
					<!-- "조회" 버튼 -->
					<div class="col-sm-5" style="text-align: end; padding-right: 0px;">
						<button class="btn btn-primary" onclick="searchByCategory()"
							style="background-color: #E8C369; border-color: #E8C369" type="button">조회</button>
					</div>
					<!-- "신규등록" 버튼 -->
					<div class="col-sm-6" style="text-align: end; padding-left: 0px;">
						<button class="btn btn-primary" style="background-color: #39594e"
							data-bs-toggle="modal" data-bs-target="#registerNewModal" type="button">신규등록</button>
					</div>
				</div>

			</div>
		</div>

		<!-- 카테고리별 상품 조회하기 -->
		<div style="height: 690px;">
			<table class="table" style="text-align: center;">
				<thead>
					<tr>
						<th>순번</th>
						<th>그룹 ID</th>
						<th>카테고리명</th>
						<th>상품명</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td th:text="${product.rn}"></td>
						<td th:text="${product.productGroupId}"></td>
						<td th:text="${product.categoryNm}"></td>
						<td th:text="${product.productNm}"></td>
						<td>
							<div class="btn-group">
								<button class="btn btn-xs"
									style="background-color: #aac8b2; color: #ffff"
									data-bs-toggle="modal" data-bs-target="#searchModal"
									type="button" th:onclick="selectProductsByGroupId([[${product.productGroupId}]])">상세</button>
								<button class="btn btn-xs"
									style="background-color: red; color: #fff" 
									type="button"
									th:onclick="deleteGroupProduct([[${product.productGroupId}]])">삭제</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 페이지 링크 표시 -->
		<div th:if="${totalCount > 0}">
			<ul class="pagination">
				<!-- 이전 페이지 -->
				<li class="page-item" th:classappend="${currentPage == 1} ? disabled"> <!-- 현재 페이지가 1이면 비활성화 -->
					<!-- 이전 페이지로 이동하는 링크 -->
					<a class="page-link"
					th:href="@{/admin/product(page=${currentPage - 1}, pageSize=${pageSize}, firstCategoryId=${selectedFirstCategoryId}, secondCategoryId=${selectedSecondCategoryId}, thirdCategoryId=${selectedThirdCategoryId})}"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<!-- 페이지 번호 링크 -->
				<li th:each="page : ${#numbers.sequence(1, totalPages, 1)}" class="page-item" th:classappend="${page == currentPage} ? active">
					<a class="page-link"
					th:href="@{/admin/product(page=${page}, pageSize=${pageSize}, firstCategoryId=${selectedFirstCategoryId}, secondCategoryId=${selectedSecondCategoryId}, thirdCategoryId=${selectedThirdCategoryId})}"
					th:text="${page}">
					</a>
				</li>

				<!-- 다음 페이지 -->
				<li class="page-item" th:classappend="${currentPage * pageSize >= totalCount} ? disabled"> <!-- 현재 페이지가 마지막 페이지면 비활성화 -->
					<!-- 다음 페이지로 이동하는 링크 -->
					<a class="page-link" 
					th:href="@{/admin/product(page=${currentPage + 1}, pageSize=${pageSize}, firstCategoryId=${selectedFirstCategoryId}, secondCategoryId=${selectedSecondCategoryId}, thirdCategoryId=${selectedThirdCategoryId})}"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	</div>

	<!-- 기존 상품 등록 모달 -->
	<div id="registerExistingModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="max-width: 700px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">기존 상품 등록</h5>
				</div>
				<!-- <form th:action method="post" enctype="multipart/form-data">	 -->
					<form th:action method="post">
					<div class="modal-body">
						<div class="row mb-3">
							<label for="productGroupId" class="col-sm-2 col-form-label">그룹ID</label>
							<div class="col-sm-10">
							<input type="text" id="getProductGroupId" name="productGroupId" style="font-weight: bold;" readonly="readonly">
							</div>
						</div>
					    <div class="row mb-3">
							<label for="categoryNm" class="col-sm-2 col-form-label">카테고리명</label>
							<div class="col-sm-10">
							<input type="text" id="getCategoryNm" name="categoryNm" style="font-weight: bold;" readonly="readonly">
							</div>
						</div>
						<input type="hidden" id="getCategoryId" name="categoryId">
						<div class="row mb-3">
							<label for="productNm" class="col-sm-2 col-form-label">상품명</label>
							<div class="col-sm-10">
							<input type="text" id="getProductNm" name="productNm" style="font-weight: bold;"readonly="readonly">
							</div>
						</div>			
						
						<div class="row mb-3">
							<label for="productContent" class="col-sm-2 col-form-label" style="padding-bottom: 100px;">상세내용</label>
							<div class="col-sm-10">
								<textarea id="productContent" name="productContent"
									style="height: 200px; width: 510px"></textarea>
							</div>
						</div>

						<div class="row mb-3">
							<label for="productOptionFirst" class="col-sm-2 col-form-label">사이즈</label>
							<div class="col-sm-10">
								<input type="text" id="productOptionFirst" maxlength="10"
									name="productOptionFirst">
							</div>
						</div>

						<div class="row mb-3">
							<label for="productOptionSecond" class="col-sm-2 col-form-label">색상</label>
							<div class="col-sm-10">
								<input type="text" id="productOptionSecond" maxlength="10"
									name="productOptionSecond">
							</div>
						</div>

						<div class="row mb-3">
							<label for="productOptionThird" class="col-sm-2 col-form-label">기타</label>
							<div class="col-sm-10">
								<input type="text" id="productOptionThird" maxlength="10"
									name="productOptionThird">
							</div>
						</div>

						<div class="row mb-3">
							<label for="productPrice" class="col-sm-2 col-form-label"
								style="color: red;">* 가격</label>
							<div class="col-sm-10">
								<input type="text" maxlength="8" id="productPrice"
									name="productPrice" onkeyup="inputNumberFormat(this);"
									style="text-align: right;  width: 33%;" 
									placeholder="* 필수 입력 항목입니다." required>
							</div>
						</div>
						
						<div class="row mb-3">
							<label for="productStock" class="col-sm-2 col-form-label"
								style="color: red">* 수량</label>
							<div class="col-sm-10">
								<input type="text" maxlength="7" id="productStock"
									name="productStock" onkeyup="inputOnlyNumberFormat(this);"
									placeholder="* 필수 입력 항목입니다." required>
							</div>
						</div>
<!-- 						<div class="row mb-3">
							<label for="productImages" class="col-sm-2 col-form-label">
								상품 이미지(3개) </label>
							<div class="col-sm-10">
								<input type="file" id="files" name="files"
									accept=".gif, .jpg, .png, .jpeg" onchange="fileCheck()"
									multiple required>
								<div id="files-error"
									style="margin: 0 0 10px 0; color: red; font-size: 16px; display: none;"></div>
							</div>
						</div> 
-->
						<div class="row mb-3">
						<label for="productImageFirst" class="col-sm-2 col-form-label">상품 이미지</label>
						<div class="col-sm-10">
							<input type="file" id="productImageFirst"
								name="productImageFirst" required>
						</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" style="background-color: #668663"
								onclick="changeData()" type="submit">저장</button>
							<button class="btn btn-secondary"
								th:onclick="|location.href='@{/admin/product}'|" type="button">닫기</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 신규 상품 등록 모달 -->
	<div id="registerNewModal" class="modal fade" tabindex="-1"	role="dialog">
		<div class="modal-dialog" role="document" style="max-width: 900px;">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title">신규 상품 등록</h5>
				</div>
				<form th:action method="post">
					<div class="modal-body">
						<div id="searchTextDiv" style="display:flex;">
							<input id="searchText" style="width:20%;" type="text" onkeypress="if( event.keyCode == 13 ){searchList();}">  
							<input type="button" class="btn btn-primary" style="width:7%; background-color: #668663" value="검색" onclick="searchList()"/>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th>그룹 ID</th>
									<th>카테고리명</th>
									<th>상품명</th>
								</tr>
							</thead>
							<tbody id="searchTable">
							</tbody>
						</table>
						<input type="hidden" id="selectProductGroupId" name="productGroupId">
						<input type="hidden" id="selectCategoryNm" name ="categoryNm">
						<input type="hidden" id="selectProductNm" name="productNm">
						<input type="hidden" id="selectCategoryId" name="categoryId">
						<div class="row mb-3">
							<label for="productContent" class="col-sm-2 col-form-label"
								style="padding-bottom: 100px;">상세내용</label>
							<div class="col-sm-10">
								<textarea id="productContent" name="productContent"
									style="height: 200px; width: 510px"></textarea>
							</div>
						</div>

						<div class="row mb-3">
							<label for="productOptionFirst" class="col-sm-2 col-form-label">사이즈</label>
							<div class="col-sm-10">
								<input type="text" id="productOptionFirst" maxlength="10"
									name="productOptionFirst">
							</div>
						</div>

						<div class="row mb-3">
							<label for="productOptionSecond" class="col-sm-2 col-form-label">색상</label>
							<div class="col-sm-10">
								<input type="text" id="productOptionSecond" maxlength="10"
									name="productOptionSecond">
							</div>
						</div>

						<div class="row mb-3">
							<label for="productOptionThird" class="col-sm-2 col-form-label">기타</label>
							<div class="col-sm-10">
								<input type="text" id="productOptionThird" maxlength="10"
									name="productOptionThird">
							</div>
						</div>

						<!-- <div class="row mb-3">
							<label for="productPrice" class="col-sm-2 col-form-label"
								style="color: red;">* 가격</label>
							<div class="col-sm-10">
								<input type="number" maxlength="8" id="productPrice"
									name="productPrice" 
									style="text-align: right; width: 33%;"
									placeholder="* 필수 입력 항목입니다." required>
							</div>
						</div>

						<div class="row mb-3">
							<label for="productStock" class="col-sm-2 col-form-label"
								style="color: red">* 수량</label>
							<div class="col-sm-10">
								<input type="number" maxlength="7" id="productStock"
									name="productStock" 
									placeholder="* 필수 입력 항목입니다." required>
							</div>
						</div> -->
						<div class="row mb-3">
							<label for="productPrice" class="col-sm-2 col-form-label"
								style="color: red;">* 가격</label>
							<div class="col-sm-10">
								<input type="text" maxlength="8" id="productPrice"
									name="productPrice" onkeyup="inputNumberFormat(this);"
									style="text-align: right;  width: 28%;" 
									placeholder="* 필수 입력 항목입니다." required>
							</div>
						</div>
						
						<div class="row mb-3">
							<label for="productStock" class="col-sm-2 col-form-label"
								style="color: red">* 수량</label>
							<div class="col-sm-10">
								<input type="text" maxlength="7" id="productStock"
									name="productStock" onkeyup="inputOnlyNumberFormat(this);"
									 style="width: 28%;" placeholder="* 필수 입력 항목입니다." required>
							</div>
						</div>

						<div class="row mb-3">
							<label for="productImageFirst" class="col-sm-2 col-form-label">상품
								이미지</label>
							<div class="col-sm-10">
								<input type="file" id="productImageFirst"
									name="productImageFirst" required>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" style="background-color: #668663"
								onclick="changeData()" type="submit">저장</button>
							<button class="btn btn-secondary"
								th:onclick="|location.href='@{/admin/product}'|" type="button">닫기</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- 상품 수정 모달 -->
	<div id="updateModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="max-width: 600px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">상품 수정</h5>
				</div>
				<form th:action="@{/admin/update}" method="post">
					<input type="hidden" id="updateProductId" name="productId">
					<div class="modal-body">
						<div class="row mb-3">
							<label for="productNm" class="col-sm-2 col-form-label">상품명</label>
							<div class="col-sm-10">
								<span id="updateProductNm" 
									style="font-weight: bold;"></span>
							</div>
						</div>
						<div class="row mb-3">
							<label for="productCode" class="col-sm-2 col-form-label">상품 코드</label>
							<div class="col-sm-10">
								<span id="updateProductCode" 
									style="font-weight: bold;"></span>
							</div>
						</div>
						<div class="row mb-3">
							<label for="productOptionFirst" class="col-sm-2 col-form-label">사이즈</label>
							<div class="col-sm-10">
								<input type="text" id="updateProductOptionFirst" maxlength="8"
									name="productOptionFirst" >
							</div>
						</div>
						<div class="row mb-3">
							<label for="productOptionSecond" class="col-sm-2 col-form-label">색상</label>
							<div class="col-sm-10">
								<input type="text" id="updateProductOptionSecond" maxlength="8"
									name="productOptionSecond" >
							</div>
						</div>
						<div class="row mb-3">
							<label for="productOptionThird" class="col-sm-2 col-form-label">기타</label>
							<div class="col-sm-10">
								<input type="text" id="updateProductOptionThird" maxlength="8"
									name="productOptionThird" >
							</div>
						</div>

						<div class="row mb-3">
							<label for="productPrice" class="col-sm-2 col-form-label">가격</label>
							<div class="col-sm-10">
								<input type="text" maxlength="8" id="updateProductPrice" 
									name="productPrice" onkeyup="inputNumberFormat(this);"
									style="text-align: right;" required>
							</div>
						</div>
						<div class="row mb-3">
							<label for="productStock" class="col-sm-2 col-form-label">수량</label>
							<div class="col-sm-10">
								<input type="number" maxlength="7" oninput="maxLengthCheck(this)" id="updateProductStock" name="productStock"
									required>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" style="background-color: #668663"
								type="submit" onclick="submitForm()">저장</button>
							<button class="btn btn-secondary"
								th:onclick="|location.href='@{/admin/product}'|" type="button">닫기</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 그룹별 상품 조회 모달 -->
	<div id="searchModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="max-width: 1200px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">그룹별 상품 조회</h5>
				</div>
				<!-- <form th:action="@{/admin/search}" method="get"> -->
					<div class="modal-body">
						<table class="table">
							<thead>
								<tr>
									<th><input type="checkbox" name='selectall' onclick='selectAll(this)'></th>
									<th>그룹 ID</th>
									<th>상품코드</th>
									<th>상품명</th>
									<th>사이즈</th>
									<th>색상</th>
									<th>기타</th>
									<th>가격</th>
									<th>재고</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="productTableBody">
							</tbody>
						</table>
					</div>
				<!--  </form>  -->
				<div class="modal-footer">
					<button class="btn btn-xs" style="background-color: #39594e; color: #ffff" data-bs-toggle="modal" data-bs-target="#registerExistingModal"
							  type="button" onclick="registerExisting()">추가</button> 
					<button class="btn btn-xs" style="background-color: red; color: #fff;" type="button"
		  					 id="deleteButton">삭제</button>
				</div>
			</div>
		</div>
	</div>

	</div>

	<div th:replace="~{/include/footer :: footer}"></div>
	<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script th:inline="javascript">
	
  	//기존 상품 등록시 그룹ID, 카테고리명, 상품명 불러오기
     function registerExisting() {
        document.getElementById("getProductGroupId").value = document.getElementById("productGroupId").innerText; //"getProductGroupId"라는 ID를 가진 HTML 요소의 value 속성에 productGroupId 값을 설정합니다.
        document.getElementById("getCategoryNm").value =  document.getElementById("categoryNm").value;
        document.getElementById("getProductNm").value =  document.getElementById("productNm").innerText;
        document.getElementById("getCategoryId").value =  document.getElementById("categoryId").value;
    } 
	 	
     function searchList() {
    	    var searchText = document.getElementById('searchText').value;
    	    $.ajax({
    	        type: "GET",
    	        url: "/admin/search-product",
    	        contentType: "application/json",
    	        data: { searchText: searchText },
    	        success: function (response) {
    	            $('#searchTable').empty();
    	            console.log(response);    	            
    	            if (response.length == 0) {
    	                var noResultRow = "<tr><td colspan='5'> 검색 결과가 없습니다.</td></tr>";
    	                $('#searchTable').append(noResultRow);
    	            } else {
    	                for (var i = 0; i < response.length; i++) {
    	                	
    	                    var addTableRow = "<tr>" +
    	                        "<td><input type='radio' onchange='getProductCheck(this)' name ='productCheck' value=" + response[i].productGroupId + " class ='productCheckbox' required></td>" +
    	                        "<td>" + response[i].productGroupId + "</td>" +
    	                        "<td id = categoryNm" + response[i].productGroupId +">" + response[i].categoryNm + "</td>" +
    	                        "<td id = productNm" + response[i].productGroupId +">" + response[i].productNm + "</td>" +
    	                        "<td id='categoryId" + response[i].productGroupId + "' style='display: none;'>" + response[i].categoryId + "</td>" +
    	                        "</tr>"
    	                        ;

    	                    $('#searchTable').append(addTableRow);
    	                }
    	            }
    	            return;
    	        }
    	    });
    	}
     
     
     function getProductCheck(item) {
    	if(item.checked){
    		document.getElementById("selectProductGroupId").value = item.value;
    		document.getElementById("selectCategoryNm").value = document.getElementById("categoryNm" + item.value).innerText;
    		document.getElementById("selectProductNm").value =  document.getElementById("productNm" + item.value).innerText;
    		document.getElementById("selectCategoryId").value =  document.getElementById("categoryId" + item.value).innerText;
    		console.log(item.value);
    	}
     }
	
	// 리로드해도 선택한 값들 유지하려고 (조회 페이지에서 다시 순서대로 클릭 안해도 해당 값들이 나오고 새로고침해도 계속 유지됨)
	document.addEventListener("DOMContentLoaded", function() {

	    var selectedFirstCategoryId = $("#firstCategory").val();   
		// HTML 문서 내에 있는 id가 "firstCategory"인 요소의 값을 가져와 selectedFirstCategoryId 변수에 저장
		// 첫 번째 카테고리의 현재 선택 값을 저장
	    var selectedSecondCategoryId = $("#secondCategory").val();
	    var selectedThirdCategoryId = $("#thirdCategory").val();

	    $("#firstCategory").val(selectedFirstCategoryId); 
	    // 첫 번째 카테고리(#firstCategory)의 선택 값을 이전에 저장한 selectedFirstCategoryId 값으로 설정
	    // 이렇게 하면 페이지가 로드될 때 사용자가 이전에 선택한 첫 번째 카테고리가 선택된 상태로 표시된다.
	    getSecondCategories(selectedFirstCategoryId, 'syn');
	    // 선택한 첫 번째 카테고리(selectedFirstCategoryId)를 기반으로 두 번째 카테고리 값을 업데이트
	    // 페이지가 로드될 때 두 번째 카테고리를 업데이트
	    $("#secondCategory").val(selectedSecondCategoryId);
	    // 두 번째 카테고리(#secondCategory)의 선택 값을 이전에 저장한 selectedSecondCategoryId 값으로 설정
	    // 페이지 로드 시 사용자가 이전에 선택한 두 번째 카테고리가 선택된 상태로 표시
		getThirdCategories('syn');
	    $("#thirdCategory").val(selectedThirdCategoryId);
	    
		/*if (selectedFirstCategoryId) {
	        getThirdCategories('syn');
	    }  */

	}); 

	const secondCategoryNum = /*[[${selectedSecondCategoryId}]]*/ null;

	// 두 번째 카테고리 불러오기
	function getSecondCategories(firstCategoryId, selector) {
	    var secondCategory = $("#secondCategory");
	    secondCategory.empty(); // 조회하고 다시 조회하면 이전 값 붙어서 안 나오게 비워줘야함
	    secondCategory.append('<option value="">전체</option>');
	    getThirdCategories('unsyn');
		if(selector == 'syn'){
		    // 첫 번째 카테고리가 "전체"로 선택된 경우 처리 종료
		    if (firstCategoryId === "") {
		        return;
		    }
		    
		    $.ajax({
		        type: "GET",
		        url: "/admin/product/second/" + firstCategoryId,
		        success: function (data) {
		            // 선택된 첫 번째 카테고리의 하위 카테고리 목록을 추가
		            for (var i = 0; i < data.length; i++) {
		            	 if (secondCategoryNum == data[i].categoryId){ // 선택된 항목인 경우 selected 속성을 추가해서 새로고침해도 유지되도록
		            		secondCategory.append('<option value="' + data[i].categoryId + '" selected>' + data[i].categoryNm + '</option>');
		            	} else {
		            		// 선택되지 않은 나머지 옵션들도 나올 수 있도록
		            		secondCategory.append('<option value="' + data[i].categoryId + '">' + data[i].categoryNm + '</option>');	
		            	} 
		            }
		        }
		    });
			
		}
		else if(selector == 'unsyn'){
		    // 첫 번째 카테고리가 "전체"로 선택된 경우 처리 종료
		    if (firstCategoryId === "") {
		        return;
		    }
		    
		    $.ajax({
		        type: "GET",
		        url: "/admin/product/second/" + firstCategoryId,
		        success: function (data) {
		            // 선택된 첫 번째 카테고리의 하위 카테고리 목록을 추가
		            for (var i = 0; i < data.length; i++) {
	            		secondCategory.append('<option value="' + data[i].categoryId + '">' + data[i].categoryNm + '</option>');	
		            }
		        }
		    });
			
		}
	    
	} 
	
	const thirdCategoryNum = /*[[${selectedThirdCategoryId}]]*/ null;
	
	// 세 번째 카테고리 불러오기
	function getThirdCategories(selector) {
	    var thirdCategory = $("#thirdCategory");
	    var secondCategoryId = $("#secondCategory").val(); // 두 번째 카테고리의 값을 가져옴
		if(selector == 'syn'){
			if (secondCategoryId === "") {
		    	secondCategoryId = secondCategoryNum;
		    }    
		    if (!secondCategoryId) {
		        thirdCategory.empty();
		        thirdCategory.append('<option value="">전체</option>');
		    } else {
		        $.ajax({
		            type: "GET",
		            url: "/admin/product/third/" + secondCategoryId,
		            success: function (data) {
		                thirdCategory.empty();
		                thirdCategory.append('<option value="">전체</option>');
		                for (var i = 0; i < data.length; i++)  {
			                if (thirdCategoryNum == data[i].categoryId) {
			                	thirdCategory.append('<option value="' + data[i].categoryId + '" selected>' + data[i].categoryNm + '</option>');
			                } else {
			                	thirdCategory.append('<option value="' + data[i].categoryId + '">' + data[i].categoryNm + '</option>');	
			                }
		                }
		            }
		        });
		    }
		}
		else if(selector == 'unsyn'){
			console.log("not so bad")
		    if (!secondCategoryId) {
		        thirdCategory.empty();
		        thirdCategory.append('<option value="">전체</option>');
		    } else {
		        $.ajax({
		            type: "GET",
		            url: "/admin/product/third/" + secondCategoryId,
		            success: function (data) {
		            	/* thirdCategory.show(); //세 번째 카테고리 표시 */
		                thirdCategory.empty();
		                thirdCategory.append('<option value="">전체</option>');
		                for (var i = 0; i < data.length; i++)  {
			                if (thirdCategoryNum == data[i].categoryId) {
			                	thirdCategory.append('<option value="' + data[i].categoryId + '" selected>' + data[i].categoryNm + '</option>');
			                } else {
			                	thirdCategory.append('<option value="' + data[i].categoryId + '">' + data[i].categoryNm + '</option>');	
			                }
		                }
		            }
		        });
		    }
		}
	}   
  	
	// 카테고리별 상품 "조회" 버튼
    function searchByCategory() {
		var firstCategoryId = $("#firstCategory").val(); // id 속성이 "firstCategory"인 요소의 값을 가져와서 firstCategoryId 변수에 저장
        var secondCategoryId = $("#secondCategory").val();
        var thirdCategoryId = $("#thirdCategory").val(); 
        
        if (!firstCategoryId) {
            firstCategoryId = 0;
        }
        if (!secondCategoryId) {
        	secondCategoryId = 0;
        }  
        if (!thirdCategoryId) {
        	thirdCategoryId = 0;
        } 

        var newUrl = "/admin/product";
        if (firstCategoryId !== 0) {
            newUrl += "?firstCategoryId=" + firstCategoryId;
            if (secondCategoryId !== 0) {
                newUrl += "&secondCategoryId=" + secondCategoryId;
                if (thirdCategoryId !== 0) {
                    newUrl += "&thirdCategoryId=" + thirdCategoryId;
                }
            }
        }
        window.location.href = newUrl;
        return false;
    }
	

  	// (그룹) 상품 삭제 확인 메시지
    function deleteGroupProduct(productGroupId) {
        if (!confirm('그룹 상품을 삭제하시겠습니까?')) {
            return false;
        }
        const formHtml = `
            <form id="deleteForm" action="/admin/delete-group?productGroupId=${productGroupId}" method="post">
            </form>
        `;
        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        setTimeout(() => {
            document.getElementById('deleteForm').submit();
        }, 50) //대기시간
    }  	
  	
 	// 그룹별 상품 조회
    function selectProductsByGroupId(productGroupId) {
 		console.log(productGroupId);
         fetch("/admin/search/" + productGroupId)
             .then(response => response.json())
             .then(data => {
                 const productTableBody = document.getElementById("productTableBody");

                 productTableBody.innerHTML = "";
                 data.forEach(product => {
                     const row = document.createElement("tr");
                     row.innerHTML = `
                    	  <td><input type="checkbox" name="productCheckbox" onclick='checkSelectAll()' value="${product.productId}"></td>
                          <td id="productGroupId">${product.productGroupId}</td>
                          <td>${product.productCode}</td>
                          <td id="productNm">${product.productNm}</td>
                          <td>${product.productOptionFirst}</td>
                          <td>${product.productOptionSecond}</td>
                          <td>${product.productOptionThird}</td>
                          <td>${comma(product.productPrice)}</td>
                          <td>${product.productStock}</td>                        
                          <td>
		    				<div class="btn-group">
		  						<button class="btn btn-xs" style="background-color: #aac8b2; color: #ffff">이미지</button>
		   						<button class="btn btn-xs" data-bs-toggle="modal" data-bs-target="#updateModal" 
		   						style="background-color: #39594e; color: #ffff" type="button"
		   						onclick = "selectProductId(${product.productId})">수정</button>
		    				</div>
		    			  </td>
		    			  <input id="categoryNm" type="hidden" value=${product.categoryNm}></td>
		    			  <input id="categoryId" type="hidden" value=${product.categoryId}></td>
                         `;
                      productTableBody.appendChild(row);
                  });
              });
      }
    
 	
    // 상품ID로 상품 정보 갖고와서 상품 수정하기
    function selectProductId(productId) {
         fetch("/admin/update/" + productId)
            .then(response => response.json())
            .then(data => {
                const product = data;
                console.log(product);
                document.getElementById("updateProductId").value = product.productId; //value는 input에 사용
                document.getElementById("updateProductNm").textContent = product.productNm; //textContent는 span
                document.getElementById("updateProductCode").textContent = product.productCode;
                document.getElementById("updateProductOptionFirst").value = product.productOptionFirst;
                document.getElementById("updateProductOptionSecond").value = product.productOptionSecond;
                document.getElementById("updateProductOptionThird").value = product.productOptionThird;
                document.getElementById("updateProductPrice").value = product.productPrice;
                document.getElementById("updateProductStock").value = product.productStock;
            }); 
    }
    
    
    //입력된 가격 필드 값을 콤마 제거하고 숫자로 변환해 저장하기
    function submitForm() {
        const updatePrice = document.getElementById("updateProductPrice");
        const priceUpdated = uncomma(updatePrice.value);
        updatePrice.value = priceUpdated;
    }
   
 	//입력된 가격 필드 값을 콤마 제거하고 숫자로 변환해 저장하기
    function changeData() {
        const changedPrices = document.querySelectorAll("#productPrice");
        for (let i = 0; i < changedPrices.length; i++) {
            const changedPrice = changedPrices[i];
            const priceChanged = uncomma(changedPrice.value);
            changedPrice.value = priceChanged;
        }
    }

/*     
    //가격 콤마 제거하고 정수로 변환하여 저장하기
    function saveData() {
    	const productPriceInput = document.getElementById("productPrice");
    	const productPriceValue = uncomma(productPriceInput.value); // 콤마 제거
    	productPriceInput.value = productPriceValue;
    	const productPrice = parseInt(productPriceValue); // 정수로 변환
    }
 */
    
    // number 타입 maxlength 걸어주기
    function maxLengthCheck(object){
        if (object.value.length > object.maxLength){
          object.value = object.value.slice(0, object.maxLength);
        }    
      }
 
    
    //
   	function checkSelectAll() {
  	    const checkboxes = document.querySelectorAll('input[name="productCheckbox"]');
  	    const selectAll = document.querySelector('input[name="selectall"]');

  	    selectAll.checked = Array.from(checkboxes).every((checkbox) => checkbox.checked);
  	}

    
    //
  	function selectAll(selectAll) {
  	    const checkboxes = document.getElementsByName('productCheckbox');
  	    checkboxes.forEach((checkbox) => {
  	        checkbox.checked = selectAll.checked;
  	    });
  	}

    
	// 상품 삭제하기 (개별 선택 삭제, 전체 선택 삭제)
	document.getElementById("deleteButton").addEventListener("click", function () {
	    const selectedProductIds = [];
	    const productCheckboxes = document.querySelectorAll('input[name="productCheckbox"]');

	    productCheckboxes.forEach((checkbox) => {
	        if (checkbox.checked) {
	            selectedProductIds.push(checkbox.value);
	        }
	    });
	
	    if (selectedProductIds.length === 0) {
	        alert("선택된 상품이 없습니다.");
	        return;
	    }
	    
	    if (confirm('해당 상품을 삭제하시겠습니까?')) {
	        fetch("/admin/delete", {
	            method: "POST",
	            headers: {
	                "Content-Type": "application/json",
	            },
	            body: JSON.stringify(selectedProductIds),
	        })
	        .then((response) => response.json())
	        .then((data) => {
	            alert("상품이 삭제되었습니다.");
	            setTimeout(() => {
	                window.location.href = "/admin/product";
	            }, 50);
	        })
	        .catch((error) => {
	            console.error("상품 삭제 오류:", error);
	        });
	    }
	}); 


    // 천 단위로 comma 찍기
    function inputNumberFormat(obj) {
        obj.value = comma(uncomma(obj.value));
    }

    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }
    
    function uncomma(str) {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    } 
    
    // 숫자만 입력받기
    function inputOnlyNumberFormat(obj) {
        obj.value = onlynumber(uncomma(obj.value));
    }

    function onlynumber(str) {
	    str = String(str);
	    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1');
	}
    
	/*   // 모달 창 닫기 버튼 클릭 이벤트 처리
    document.getElementById("closeModalButton").addEventListener("click", function () {
        // 모달 창 숨기기 (Bootstrap 모달 숨김 클래스 활용)
        const modal = document.getElementById("searchModal");
        modal.classList.remove("show");
        modal.style.display = "none";
        modal.setAttribute("aria-hidden", "true");
        
        // 모달 배경 숨기기
        const modalBackdrop = document.querySelector(".modal-backdrop");
        modalBackdrop.style.display = "none";
    }); */
 
	// 이미지 파일 개수 제한
    function fileCheck() {
    	var filesInput = document.getElementById("files");
        var filesError = document.getElementById("files-error");
        var filesEnrollBtn = document.getElementById("product-enroll-btn");
        
        if( filesInput.files.length < 3 ){
        	filesError.style.display = 'block';
        	filesError.innerText = '이미지 파일 3개를 업로드 해주세요';
        	filesEnrollBtn.disabled = true;
    	} else if(filesInput.files.length > 3) {
    		filesError.style.display = 'block';
        	filesError.innerText = '상품 이미지 적정 개수(3개)를 초과하였습니다!';
        	filesEnrollBtn.disabled = true;
    	} else {
    		filesError.style.display = 'none';
    		filesEnrollBtn.disabled = false;
    	}
    }

</script>
</body>
</html>