<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/bs-header :: bsHeader}"></head>
<body>
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<div class="container d-flex justify-content-center align-items-center min-vh-100">
		<!-- 상품 상세 내용-->
		<section class="section">
			<div class="row">
				<div class="col-lg-20">
					<div class="card">
						<div class="card-body" style="width: 800px">
							<h5 class="card-title">상품 등록하기</h5>
							<form th:action method="post">
								<!-- 상위 카테고리 -->
								<div class="row mb-3">
									<label form="categoryId" class="col-sm-2 col-form-label">상위 카테고리</label>
									<div class="col-sm-10">
										<select id="categoryId" name="categoryId" onchange="getSubCategories(this.value)">
											<option value="">전체</option>
											<option th:each="category : ${categories}"
												th:value="${category.categoryId}"
												th:text="${category.categoryNm}"></option>
										</select>
									</div>
								</div>

								<!-- 하위 카테고리 -->
								<div class="row mb-3">
									<label form="subCategoryId" class="col-sm-2 col-form-label">하위 카테고리</label>
									<div class="col-sm-10">
										<select id="subCategoryId" name="subCategoryId">
											<option value="" >전체</option>
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<label form="productNm" class="col-sm-2 col-form-label">상품명</label>
									<div class="col-sm-10">
										<input type="text" id="productNm" name="productNm">
									</div>
								</div>

								<div class="row mb-3">
									<label form="productContent" class="col-sm-2 col-form-label">상품
										상세내용</label>
									<div class="col-sm-10">
										<textarea id="productContent" name="productContent"
											style="height: 200px; width: 400px"></textarea>
									</div>
								</div>

								<div class="row mb-3">
									<label form="productOptionFirst"
										class="col-sm-2 col-form-label">사이즈</label>
									<div class="col-sm-10">
										<input type="text" id="productOptionFirst"
											name="productOptionFirst">
									</div>
								</div>

								<div class="row mb-3">
									<label form="productOptionSecond"
										class="col-sm-2 col-form-label">색상</label>
									<div class="col-sm-10">
										<input type="text" id="productOptionSecond"
											name="productOptionSecond">
									</div>
								</div>

								<div class="row mb-3">
									<label form="productOptionThird"
										class="col-sm-2 col-form-label">기타</label>
									<div class="col-sm-10">
										<input type="text" id="productOptionThird"
											name="productOptionThird">
									</div>
								</div>

								<div class="row mb-3">
									<label form="productPrice" class="col-sm-2 col-form-label">가격</label>
									<div class="col-sm-10">
										<input type="number" id="productPrice" name="productPrice">
									</div>
								</div>

								<div class="row mb-3">
									<label form="productStock" class="col-sm-2 col-form-label">수량</label>
									<div class="col-sm-10">
										<input type="number" id="productStock" name="productStock">
									</div>
								</div>

								<div class="row mb-3">
									<label form="productImageFirst" class="col-sm-2 col-form-label">상품
										이미지</label>
									<div class="col-sm-10">
										<input type="file" id="productImageFirst"
											name="productImageFirst">
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-10">
										<button class="btn btn-primary"  onclick="submitForm()" style="background-color:#668663"
											th:onclick="|location.href='@{/product/register)}'|" type="submit">저장</button>
										<button class="btn btn-secondary"
											th:onclick="|location.href='@{/product/admin}'|"
											type="button">닫기</button>
											</div>
								</div>
							</form>
						</div>
					</div>
			</section>
		</div>
	<!--/container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script th:inline="javascript">
    function getSubCategories(categoryId) {
        var subCategorySelect = document.getElementById("subCategoryId");
        subCategorySelect.innerHTML = '<option value="">전체</option>';   
        if (categoryId !== "") {
            fetch("/product/subCategories/" + categoryId)
                .then(response => response.json())
                .then(data => {
                    data.forEach(subCategory => {
                        var option = document.createElement("option");
                        option.value = subCategory.categoryId;
                        option.textContent = subCategory.categoryNm;
                        subCategorySelect.appendChild(option);
                    });
                });
        }
    }
</script>

<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>