<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
</head>
<body>
<form th:action="@{/product/admin/update}" method="post">
<h1>상품 수정</h1>
<input type="text"  name="productNm" th:value="${product.productNm}" readonly>
<input type="number" name="productCode" th:value="${product.productCode}" readonly>
<input type="number" name="productPrice" th:value="${product.productPrice}">
<input type="number" name="productStock" th:value="${product.productStock}">
<input type="hidden" name="productId" th:value="${product.productId}">
<button type="submit" class="button1">저장하기</button>
</form>
</body>
</html>