<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.customercoupon.repository.ICustomerCouponRepository">
	<select id="selectUsableCoupon" resultType="com.example.daitso.customercoupon.model.SelectCustomerCoupon">
		SELECT	coupon_nm AS couponNm,
				coupon_dscnt_rate AS couponDscntRate, 
				coupon_epr_dt AS couponEprDt,
				coupon_use_dv AS couponUseDv
		FROM	coupon c, customer_coupon cc
		WHERE 	customer_id=102 and cc.coupon_id = c.coupon_id and cc.coupon_use_dv=203
	</select>
	
	<select id="selectBanCoupon" resultType="com.example.daitso.customercoupon.model.SelectCustomerCoupon">
		SELECT	coupon_nm AS couponNm,
				coupon_dscnt_rate AS couponDscntRate, 
				coupon_epr_dt AS couponEprDt,
				coupon_use_dv AS couponUseDv
		FROM	coupon c, customer_coupon cc
		WHERE 	customer_id=102 and cc.coupon_id = c.coupon_id and cc.coupon_use_dv=201
	</select>
</mapper>