<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.coupon.repository.ICouponRepository">

	<!-- 
		기능: 전체 쿠폰 조회하기 
    	담당자: 이세인
     -->
	<select id="selectAllCoupons" resultType="com.example.daitso.coupon.model.CouponCheck">
	    SELECT *
		  FROM ( SELECT coupon_id                                    AS "couponId",
		                coupon_dv									 AS "couponDv",
		                category_id                                  AS "categoryId",
		                coupon_nm 								     AS "couponNm",
		                coupon_dscnt_rate 							 AS "couponDscntRate",
		                TO_CHAR(coupon_pbl_dt, 'YYYY-MM-DD')         AS "couponPblDt",
		                TO_CHAR(coupon_epr_dt, 'YYYY-MM-DD')      	 AS "couponEprDt",
		                status                                       AS "status",
		                ROW_NUMBER() OVER (ORDER BY coupon_id desc)  AS "rn"
		           FROM coupon
		          WHERE status = 'Y'
		       GROUP BY coupon_id,
		                coupon_dv,
		                category_id,
		                coupon_nm,
		                coupon_dscnt_rate,
		                coupon_pbl_dt,
		                coupon_epr_dt,
		                status
		        HAVING  1 = 1
		        )WHERE "rn" BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	    
	<!-- 
		기능: 전체 쿠폰 개수 조회하기
    	담당자: 이세인
     -->
	<select id="selectCountCoupons">
	    SELECT COUNT(*)
		  FROM ( SELECT coupon_id                    AS "couponId",
                        coupon_dv 		   			 AS "couponDv",
                        category_id                  AS "categoryId",
                        coupon_nm 					 AS "couponNm",
                        coupon_dscnt_rate 			 AS "couponDscntRate",
                        coupon_pbl_dt 				 AS "couponPblDt",
                        coupon_epr_dt 				 AS "couponEprDt",
                        status                       AS "status"
                  FROM  coupon
		         WHERE  status = 'Y'
		      GROUP BY  coupon_id,
                        coupon_dv,
                        category_id,
                        coupon_nm,
                        coupon_dscnt_rate,
                        coupon_pbl_dt,
                        coupon_epr_dt,
                        status
		        HAVING  1 = 1
			   )
	</select>
	
	
	<select id="selectCouponsByDv">
		SELECT *
	      FROM( SELECT  c.coupon_id                                    AS "couponId",
				        c.category_id                                  AS "categoryId",
				        c.coupon_nm 								   AS "couponNm",
				        c.coupon_dscnt_rate 						   AS "couponDscntRate",
				        TO_CHAR(c.coupon_pbl_dt, 'YYYY-MM-DD')         AS "couponPblDt",
				        TO_CHAR(c.coupon_epr_dt, 'YYYY-MM-DD')         AS "couponEprDt",
				        c.status                                       AS "status",
		                d.common_code_id                               AS  "commonCodeId",
				        d.common_code_nm                               AS  "commonCodeNm",
				        ROW_NUMBER() OVER (ORDER BY coupon_id desc)  AS "rn"
				  FROM coupon c
			      JOIN common_code d ON c.coupon_dv = d.common_code_id
		         WHERE c.status = 'Y'
			  GROUP BY c.coupon_id,
				       c.category_id,
				       c.coupon_nm,
				       c.coupon_dscnt_rate,
				       c.coupon_pbl_dt,
				       c.coupon_epr_dt,
				       c.status,
		               d.common_code_id,
					   d.common_code_nm
				HAVING 1=1 AND d.common_code_id = #{commonCodeId}
				)WHERE "rn" BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	
	</select>
	
	<select id="selectCountCouponsByDv">
	    SELECT COUNT (*)
		  FROM(	SELECT COUNT(*) 
				  FROM coupon c
			      JOIN common_code d ON c.coupon_dv = d.common_code_id
			  GROUP BY c.coupon_id,
				       c.category_id,
				       c.coupon_nm,
				       c.coupon_dscnt_rate,
				       c.coupon_pbl_dt,
				       c.coupon_epr_dt,
				       c.status,
		               d.common_code_id,
					   d.common_code_nm
				HAVING 1=1
				  AND d.common_code_id = #{commonCodeId}
            )
	</select>
	
	
	
	
	
	
	
	<!-- 
		기능: 쿠폰 등록하기
    	담당자: 이세인
     -->
	<insert id="registerCoupons">
	    INSERT INTO coupon ( coupon_id,
		                     coupon_sn,
		                     category_id,
		                     coupon_nm,
		                     COUPON_DSCNT_RATE,
		                     COUPON_PBL_DT,
		                     COUPON_EPR_DT ) 
			  VALUES ( coupon_seq.NEXTVAL,
				       #{couponSn},
				       #{categoryId},
				       #{couponNm},
				       #{couponDscntRate},
			           TO_DATE(#{couponPblDt}, 'YYYY-MM-DD'),
		               TO_DATE(#{couponEprDt}, 'YYYY-MM-DD') )
	</insert>
	
	<!-- 
    	기능: 쿠폰 삭제하기
    	담당자: 이세인
     --> 
	<delete id="deleteCoupon" parameterType="int">
	    UPDATE coupon
	       SET status    = 'N',
	       	   modifier  = 'admin',
               modify_dt = systimestamp
	     WHERE coupon_id = #{couponId}
	</delete>
	
	<!-- 
    	기능: 쿠폰 일련번호 개수 조회하기
    	담당자: 이세인
     --> 
	<select id="countByCouponSn" resultType="int">
        SELECT count(*) 
          FROM coupon 
         WHERE coupon_sn = #{couponSn}
    </select>

</mapper>
