<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.coupon.repository.ICouponRepository">

	<!-- 
		기능: 전체 쿠폰 조회하기 
    	담당자: 이세인
     -->
	<select id="selectAllCoupons" resultType="com.example.daitso.coupon.model.CouponCheck">
	    SELECT *
		  FROM ( SELECT coupon_id                                    AS "couponId",
		                SUBSTR(coupon_sn, 1, 4) || '-' || 
		   				SUBSTR(coupon_sn, 5, 4) || '-' || 
		    			SUBSTR(coupon_sn, 9, 4) || '-' || 
		    			SUBSTR(coupon_sn, 13, 4)    				 AS "couponSn",
		                category_id                                  AS "categoryId",
		                coupon_nm 								     AS "couponNm",
		                coupon_dscnt_rate 							 AS "couponDscntRate",
		                TO_CHAR(coupon_pbl_dt, 'YYYY-MM-DD')         AS "couponPblDt",
		                TO_CHAR(coupon_epr_dt, 'YYYY-MM-DD')      	 AS "couponEprDt",
		                status                                       AS "status",
		                ROW_NUMBER() OVER (ORDER BY coupon_id desc)  AS "rn"
		           FROM coupon
		          WHERE status = 'Y'
		       GROUP BY coupon_id,
		                coupon_sn,
		                category_id,
		                coupon_nm,
		                coupon_dscnt_rate,
		                coupon_pbl_dt,
		                coupon_epr_dt,
		                status
		        HAVING  1 = 1
		        )WHERE "rn" BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
	</select>
	    
	<!-- 
		기능: 전체 쿠폰 개수 조회하기
    	담당자: 이세인
     -->
	<select id="selectCountCoupons">
	    SELECT COUNT(*)
		  FROM ( SELECT coupon_id                    AS "couponId",
                        coupon_sn 		   			 AS "couponSn",
                        category_id                  AS "categoryId",
                        coupon_nm 					 AS "couponNm",
                        coupon_dscnt_rate 			 AS "couponDscntRate",
                        coupon_pbl_dt 				 AS "couponPblDt",
                        coupon_epr_dt 				 AS "couponEprDt",
                        status                       AS "status"
                  FROM  coupon
		         WHERE  status = 'Y'
		      GROUP BY   coupon_id,
                        coupon_sn,
                        category_id,
                        coupon_nm,
                        coupon_dscnt_rate,
                        coupon_pbl_dt,
                        coupon_epr_dt,
                        status
		        HAVING  1 = 1
			   )
	</select>
	
	<!-- 
		기능: 쿠폰 등록하기
    	담당자: 이세인
     -->
	<insert id="registerCoupons">
	    INSERT INTO coupon ( coupon_id,
		                     coupon_sn,
		                     category_id,
		                     coupon_nm,
		                     COUPON_DSCNT_RATE,
		                     COUPON_PBL_DT,
		                     COUPON_EPR_DT ) 
			  VALUES ( coupon_seq.NEXTVAL,
				       #{couponSn},
				       #{categoryId},
				       #{couponNm},
				       #{couponDscntRate},
			           TO_DATE(#{couponPblDt}, 'YYYY-MM-DD'),
		               TO_DATE(#{couponEprDt}, 'YYYY-MM-DD') )
	</insert>
	
	<!-- 
    	기능: 쿠폰 삭제하기
    	담당자: 이세인
     --> 
	<delete id="deleteCoupon" parameterType="int">
	    UPDATE coupon
	       SET status    = 'N',
	       	   modifier  = 'admin',
               modify_dt = systimestamp
	     WHERE coupon_id = #{couponId}
	</delete>
	
	<!-- 
    	기능: 쿠폰 일련번호 개수 조회하기
    	담당자: 이세인
     --> 
	<select id="countByCouponSn" resultType="int">
        SELECT count(*) 
          FROM coupon 
         WHERE coupon_sn = #{couponSn}
    </select>

	<!-- 
		기능: 이벤트 쿠폰 조회하기
		담당자: 나현웅
	 -->
	<select id="selectEventCoupon" resultType="com.example.daitso.coupon.model.CouponEvent">
		SELECT coupon_id AS couponId, 
				category_id AS categoryId, 
				coupon_nm AS couponNm, 
				coupon_dscnt_rate AS couponDscntRate,
				coupon_pbl_dt AS couponPblDt, 
				coupon_epr_dt AS couponEprDt 
		FROM (
				SELECT coupon_id, category_id, coupon_nm, coupon_dscnt_rate, coupon_pbl_dt, coupon_epr_dt, rownum as rnum 
				FROM coupon 
				WHERE status = 'Y' and coupon_dv = '603'
			 )
		WHERE rnum between #{start} and #{end}
	</select>
	
	<!-- 
		기능: 이벤트 쿠폰 개수 조회
		담당자: 나현웅
	 -->
	<select id="countEventCoupon" resultType="int">
		SELECT count(*) FROM coupon WHERE coupon_dv = '603' AND status = 'Y'
	</select>
	
	<!-- 
		기능 : 이벤트 쿠폰 보유 여부
		담당자: 나현웅
	 -->
	 <select id="getEventCouponCheck" resultType="int">
	 	SELECT count(*) FROM customer_coupon WHERE customer_id = #{customerId} and coupon_id = #{couponId}
	 </select>
	
	<!-- 
		기능: 이벤트 쿠폰 다운로드
		담당자: 나현웅
	 -->
	 <insert id="insertEventCoupon">
	 	INSERT into customer_coupon (customer_coupon_id, customer_id, coupon_id, coupon_use_dv, create_dt, creator)
		VALUES (customer_coupon_seq.nextval, #{customerId}, #{couponId}, 203, sysdate, #{customerId})
	 </insert>
</mapper>
