<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/user-header :: userHeader}"></head>
<body>
	<div class="sign-up-container">
		<div class="sign-up-logo">
			<a th:href="@{/customer/test}">
				<img class="sign-up-logo-img"
				th:src="@{/assets/header/daitso_logo_header.png}">
			</a>
		</div>
		<div class="sign-up-input-container">
			<div class="sign-up-input-boxes">
				<div class="sign-up-title">회원 정보를 입력해주세요</div>
				<div class="sign-up-form">
					<form th:action="@{/customer/sign-up}" th:object="${customerSignUp}"
						th:method="post">
						<div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/email.svg}">
								</div>
								<input id="customerEmail" onchange="emailCheck()" type="email"
									class="sign-up-input-value" placeholder="아이디(이메일)"
									th:field="*{customerEmail}" required autocomplete="off">
							</div>
							<div id="emailConfirm"
								style="font-size: 13px; font-weight: bold; margin: 10px 0 0 60px;">
							</div>
							<div class="sign-up-auth-btn">이메일 인증</div>
							<div class="sign-up-auth-box">
								<div class="sign-up-auth-text">이메일로 전송된 인증코드를 입력해주세요.</div>
								<div class="sign-up-auth">
									<input id="auth-number" type="text" placeholder="인증코드 6자리 입력" maxlength='6' required>
									<div style="display:flex;">
										<div class="auth-time-left">
											<span class="minutes"></span>
											<span>:</span>
											<span class="seconds"></span>
										</div>
										<div class="auth-btn" onclick="authNumCheck()">확인</div>
									</div>
								</div>
								<div class="sign-up-auth-error">기간이 만료되었습니다!</div>
								<div class="sign-up-auth-re">
									<span style="color:#777777;">이메일을 받지 못하셨나요?</span>
									<span class="re-auth-btn" style="text-decoration: underline; cursor: pointer; color:#777777; font-weight: bold;">이메일 재전송하기</span>
								</div>
							</div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/password.svg}">
								</div>
								<input id="customerPw" type="password" onkeyup="passwordPattern()"
									class="sign-up-input-value" placeholder="비밀번호"
									th:field="*{customerPw}" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" required>
							</div>
							<div id="passwordPattern" style="font-size: 13px; font-weight: bold; margin: 10px 0 15px 20px; display:none;">
								 [참고] 8자리에서 최대 16자리까지 숫자, 영문, 특수문자 각 1개 이상 포함
							</div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/password.svg}">
								</div>
								<input id="customerRePw" type="password"
									class="sign-up-input-value" placeholder="비밀번호 확인" required>
							</div>
							<div id="passwordConfirm"
								style="color: red; font-size: 13px; font-weight: bold; margin: 10px 0 0 60px;"></div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/customer_gray.svg}">
								</div>
								<input type="text" class="sign-up-input-value" placeholder="이름"
									th:field="*{customerNm}" required autocomplete="off">
							</div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/phone.svg}">
								</div>
								<input id="customerTelno" type="text" class="sign-up-input-value"
									placeholder="휴대폰 번호('01x-xxxx-xxxx')" th:field="*{customerTelno}" onchange="telnoCheck()" required autocomplete="off">
							</div>
							<div id="telnoConfirm"
								style="font-size: 13px; font-weight: bold; margin: 10px 0 0 60px;">
							</div>
							<div class="sign-up-line"></div>
							<div class="sign-up-checkAll">
								<input type="checkbox" name="checkAll" id="checkAll" class="checkAll" style="width: 15px; height: 15px; accent-color: #39594E;">
								<div class="sign-up-checkAll-title">모두 확인하였으며 동의합니다.</div>
							</div>
							<div class="sign-up-checkAll-content">전체 동의에는 필수 및 선택 정보에 대한 동의가 포함되어 있으며, 개별적으로 동의를 선택 하실 수 있습니다. 선택 항목에 대한 동의를 거부하시는 경우에도 서비스 이용이 가능합니다.</div>
							<div class="sign-up-check-boxes">
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check1" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 만 14세 이상입니다</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check2" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 다있소 이용약관 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check3" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 전자금융거래 이용약관 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check4" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 개인정보 수집 및 이용 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check5" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 개인정보 제3자 제공 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check6" class="check" style="width: 15px; height: 15px; accent-color: #39594E;">
									<div class="sign-up-check-title">[선택] 마케팅 목적의 개인정보 수집 및 이용 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check7" class="check" style="width: 15px; height: 15px; accent-color: #39594E;">
									<div class="sign-up-check-title">[선택] 광고성 정보 수신 동의</div>
								</div>
								<div class="sign-up-check-box" style="margin-top: 20px;">
									<div class="sign-up-tos-text"> 다있소 이용약관 보기</div>
									<img class="sign-up-tos-img"
											th:src="@{/assets/common/right_arrow_green.svg}">
								</div>
							</div>
							<div>
								<button class ="sign-up-btn" type="submit">동의하고 계속하기</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="sign-up-modal">
			<div class="sign-up-modal-box">
				<div class="sign-up-modal-title">
					다있소 이용약관 동의
				</div>
				<div class="sign-up-modal-content-box">
					<div class="sign-up-modal-content">
						<div>[다있소 이용약관 동의]</div>
						[다있소]은(는) 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.
						<div>제1조(개인정보의 처리 목적)</div>
						<div>1. 홈페이지 회원가입 및 관리</div>
						회원 가입의사 확인, 만14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인 목적으로 개인정보를 처리합니다.
						<div>2. 마케팅 및 광고에의 활용</div>
						접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.
						<div>제2조(개인정보의 처리 및 보유 기간)</div>
						[다있소]은(는) 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.
						각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
						<div>제3조(처리하는 개인정보의 항목)</div>
						필수항목 : 이름, 비밀번호, 휴대전화번호, 이메일
						<div>제4조(만 14세 미만 아동의 개인정보 처리에 관한 사항)</div>
						[개인정보처리자명]은(는) 만 14세 미만 아동에 대해 개인정보를 수집할 때 법정대리인의 동의를 얻어 해당 서비스 수행에 필요한 최소한의 개인정보를 수집합니다.
						또한, [개인정보처리자명]의 [처리목적] 관련 홍보를 위해 아동의 개인정보를 수집할 경우에는 법정대리인으로부터 별도의 동의를 얻습니다.
						[개인정보처리자명]은(는) 만 14세 미만 아동의 개인정보를 수집할 때에는 아동에게 법정대리인의 성명, 연락처와 같이 최소한의 정보를 요구할 수 있습니다.
						<div>제5조(개인정보의 제3자 제공에 관한 사항)</div>
						[다있소]은(는) 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보 보호법」 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.
						<div>제6조(개인정보의 파기절차 및 파기방법)</div>
						[다있소]은(는) 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.
						정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.
						개인정보 파기의 절차 및 방법은 다음과 같습니다.
						[다있소]은(는) 파기 사유가 발생한 개인정보를 선정하고, [다있소]의 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다. 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다
					</div>
				</div>
				<div class="sign-up-modal-check">확인</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">

	history.scrollRestoration = "manual";
	var authBox = document.querySelector(".sign-up-auth");
	var authContainer = document.querySelector(".sign-up-auth-box");
	var authBtn = document.querySelector(".sign-up-auth-btn");
	
	function passwordPattern() {
		var passwordPattern = document.querySelector("#passwordPattern");
		passwordPattern.style.display = "block";
	}
		
	// 비밀번호 확인 
	var pw1 = document.querySelector("#customerPw");
	var pw2 = document.querySelector("#customerRePw");
	var pwConfirm = document.querySelector("#passwordConfirm");
	pw2.onkeyup = function() {
		if (pw1.value !== pw2.value) {
			pwConfirm.innerText = "비밀번호가 일치하지 않습니다.";
			pw2.style.borderBottom = "2px solid red";

		} else {
			pwConfirm.innerText = "";
			pw2.style.borderBottom = "1px solid #D9D9D9";
		}
	}

	// 체크박스 로직
	var checkAll = document.querySelector("#checkAll");
	var check = document.querySelectorAll(".check");
	
	/* '모두 동의' 체크박스가 체크가 되면 모든 체크박스의  체크를 하고, '모두 동의'
		체크박스가 해제되면 모든 체크 박스의 체크상태를 해제 */
	const agreements = {
		    firstAgreements: false, // 첫번째 체크박스
		   	secondAgreements: false, // 두번째 체크박스
		    thirdAgreements: false, // 세번째 체크박스
		    fourthAgreements: false, // 네번째 체크박스
		    fifthAgreements: false, // 다섯번째 체크박스
		    sixthAgreements: false, // 여섯번째 체크박스
		    seventhAgreements: false, // 일곱번째 체크박스
		};
	
	checkAll.addEventListener('click', (e) => {
	    const checked  = e.target.checked; 
	    if (checked) {
	        check.forEach((item) => {
	            item.checked = true;
	            agreements[item.id] = true;	  
	        });
	    } else {
	        check.forEach((item) => {
	            item.checked = false;
	            agreements[item.id] = false;
	        });
	    }
	});
	
	check.forEach((item) => item.addEventListener('input', toggleCheckbox));

	function toggleCheckbox(e) {
	    const { checked , id } = e.target;
	    agreements[id] = checked;
	    checkAllStatus();
	}
	
	function checkAllStatus() {
	    const { firstAgreements, secondAgreements, thirdAgreements, fourthAgreements, fifthAgreements, sixthAgreements, seventhAgreements} = agreements;
	    if (firstAgreements && secondAgreements && thirdAgreements && fourthAgreements && fifthAgreements && sixthAgreements && seventhAgreements) {
	      checkAll.checked = true;
	    } else {
	      checkAll.checked = false;
	    }
	}
	
	// 이용약관 로직
	var tos = document.querySelector(".sign-up-tos-text");
	var modal = document.querySelector(".sign-up-modal");
	var checkBtn = document.querySelector(".sign-up-modal-check")
	
	tos.addEventListener('click', () => {
	   	modal.style.display = "flex";
	});
	
	checkBtn.addEventListener('click', () => {
	   	modal.style.display = "none";
	});
	
	// 이메일 중복확인 및 양식확인
	var emailConfirm = document.querySelector("#emailConfirm");
	var emailBox = document.querySelector("#customerEmail");
	
	var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
	
	const emailCheck = () => {
		const email = document.getElementById("customerEmail").value;
		if(reg_email.test(email)) { 
			fetch('http://localhost:8080/customer/email-dupllicated/' + email)
			.then((res) => {
				return res.json();
			})
			.then((json) => {
				console.log(json);
				if(json == 0) {
					emailConfirm.innerText = "사용가능한 이메일입니다!";	
					emailConfirm.style.color = "blue";
					emailBox.style.borderBottom = "2px solid blue";
					emailAuthBtn.style.display = "block";
				} else if(json == 1) {
					emailConfirm.innerText = "이미 사용하고 있는 이메일입니다!";
					emailConfirm.style.color = "red";
					emailBox.style.borderBottom = "2px solid red";
					emailAuthBtn.style.display = "none";
				} 
			})
		}                            
		else { 
			emailConfirm.innerText = "올바른 이메일 양식이 아닙니다.";	
			emailConfirm.style.color = "red";
			emailBox.style.borderBottom = "2px solid red";
			emailAuthBtn.style.display = "none";
		}                            
	}
	
	// 이메일 인증
	var emailAuthBtn = document.querySelector(".sign-up-auth-btn");
	var reEmailAuthBtn = document.querySelector(".re-auth-btn");
	
	emailAuthBtn.onclick = async() =>  {
		
		// 버튼 비활성화
		emailAuthBtn.onclick = null;
		emailAuthBtn.style.color = "#D9D9D9";
		
		// 인증번호 받는 상자 나타내기
		authContainer.style.display = "flex";
		
		// 인증번호 받기 + 타이머
		getAuthfirstStep();
	}
	
	reEmailAuthBtn.onclick = async() => {
		
		// 인증번호 받기 + 타이머
		getAuthfirstStep();
	}
	
	// 인증번호 + 타이머 
	const getAuthfirstStep = async() => {
		
		// 인증번호
		let randomNum = await getRandomNum();
		window.localStorage.setItem('randomNum', randomNum);
		
		// 3분 타이머
        var leftSec = 180;
        // 이미 타이머가 작동중이면 중지
        if (isRunning){
            clearInterval(timer);
        }
        startTimer(leftSec);
	}
	
	// 인증번호 생성 및 인증번호 이메일 보내기  
	const getRandomNum = () => {
		const email = document.getElementById("customerEmail").value;
	    //Promise로 fetch를 감싼다
	    return new Promise((resolve, reject) => {
	        fetch('http://localhost:8080/customer/auth/' + email)
	        .then(response => response.json())
	        .then(data => {
	            //Promise resolve 메소드를 이용해 success 시 data를 반환
	            resolve(data);
	        })
	        .catch(error => {
	            alert('에러');
	        })
	    });
	}
		
    // 타이머
    var timer;
    var isRunning = false;
 
    function startTimer(count) {
        var minutes, seconds;
        timer = setInterval(function () {
            minutes = parseInt(count / 60, 10);
            seconds = parseInt(count % 60, 10);
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            document.querySelector(".minutes").innerText = minutes;
            document.querySelector(".seconds").innerText = seconds;
            // 타이머 종료
            if (--count < 0) {
                clearInterval(timer);
                authBox.style.border = "1.5px solid red";
                document.querySelector(".sign-up-auth-error").style.display="block";
                window.localStorage.removeItem('randomNum');
                isRunning = false;
            }
        }, 1000);
        isRunning = true;
    }
    
    
    // 올바른 인증번호인지 확인
    function authNumCheck() {
    	const randomNum = window.localStorage.getItem('randomNum');
    	const authNum = document.getElementById("auth-number").value;
 
    	if (randomNum === authNum) {
    		window.localStorage.removeItem('randomNum');
    		authContainer.style.display="none";
    		authBtn.style.display="none";
    		emailConfirm.innerText = "인증이 완료되었습니다!";
    		authBox.style.borderBottom = "2px solid #8BBA66";
            document.querySelector(".sign-up-auth-error").style.color="#8BBA66";
    		document.getElementById('customerEmail').readOnly = true; 
    		document.getElementById('customerEmail').style.backgroundColor = "#EFEFEF";
    	} else {
    		authBox.style.borderBottom = "2px solid red";
            document.querySelector(".sign-up-auth-error").style.display="block";
            document.querySelector(".sign-up-auth-error").style.color="red";
            document.querySelector(".sign-up-auth-error").innerText="인증번호가 틀립니다."
    	}
    }
    
    // 휴대폰 번호 중복확인
    function telnoCheck() {
    	const telno = document.getElementById("customerTelno").value;
    	var telnoConfirm = document.querySelector("#telnoConfirm");
    	var telnoBox = document.getElementById("customerTelno");
    	
    	var patternPhone = /^01([0|1|6|7|8|9])-[0-9]{3,4}-[0-9]{4}$/;
    	if(patternPhone.test(telno)){
    		fetch('http://localhost:8080/customer/telno-dupllicated/' + telno)
    		.then((res) => {
    			return res.json();
    		})
    		.then((json) => {
    			console.log(json);
    			if(json == 0) {
    				telnoConfirm.innerText = "사용가능한 휴대폰 번호입니다!";	
    				telnoConfirm.style.color = "blue";
    				telnoBox.style.borderBottom = "2px solid blue";
    			} else if(json == 1) {
    				telnoConfirm.innerText = "이미 사용하고 있는 휴대폰 번호입니다!";
    				telnoConfirm.style.color = "red";
    				telnoBox.style.borderBottom = "2px solid red";
    			}
    		})	
    	} else {
    		telnoConfirm.innerText = "올바른 휴대폰 번호 양식이 아닙니다";
			telnoConfirm.style.color = "red";
			telnoBox.style.borderBottom = "2px solid red";
    	}
    }
</script>
</html>