<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}"></head>
<body>
	<div class="sign-up-container">
		<div class="sign-up-logo">
			<img class="sign-up-logo-img"
				th:src="@{/assets/header/daitso_logo_header.png}">
		</div>
		<div class="sign-up-input-container">
			<div class="sign-up-input-boxes">
				<div class="sign-up-title">회원 정보를 입력해주세요</div>
				<div class="sign-up-form">
					<form th:action="@{/customer/sign-up}" th:object="${customerSignUp}"
						th:method="post">
						<div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/email.svg}">
								</div>
								<input id="customerEmail" onkeyup="emailCheck()" type="email"
									class="sign-up-input-value" placeholder="아이디(이메일)"
									th:field="*{customerEmail}" required>
							</div>
							<div id="emailConfirm"
								style="font-size: 13px; font-weight: bold; margin: 10px 0 0 60px;">
							</div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/password.svg}">
								</div>
								<input id="customerPw" type="password"
									class="sign-up-input-value" placeholder="비밀번호"
									th:field="*{customerPw}" required>
							</div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/password.svg}">
								</div>
								<input id="customerRePw" type="password"
									class="sign-up-input-value" placeholder="비밀번호 확인" required>
							</div>
							<div id="passwordConfirm"
								style="color: red; font-size: 13px; font-weight: bold; margin: 10px 0 0 60px;"></div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/customer_gray.svg}">
								</div>
								<input type="text" class="sign-up-input-value" placeholder="이름"
									th:field="*{customerNm}" required>
							</div>
							<div class="sign-up-input-box">
								<div class="sign-up-input-img-box">
									<img class="sign-up-input-img"
										th:src="@{/assets/loginandsignup/phone.svg}">
								</div>
								<input type="text" class="sign-up-input-value"
									placeholder="휴대폰 번호" th:field="*{customerTelno}" required>
							</div>
							<div class="sign-up-line"></div>
							<div class="sign-up-checkAll">
								<input type="checkbox" name="checkAll" id="checkAll" class="checkAll" style="width: 15px; height: 15px; accent-color: #39594E;" required>
								<div class="sign-up-checkAll-title">모두 확인하였으며 동의합니다.</div>
							</div>
							<div class="sign-up-checkAll-content">전체 동의에는 필수 및 선택 정보에 대한 동의가 포함되어 있으며, 개별적으로 동의를 선택 하실 수 있습니다. 선택 항목에 대한 동의를 거부하시는 경우에도 서비스 이용이 가능합니다.</div>
							<div class="sign-up-check-boxes">
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check1" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 만 14세 이상입니다</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check2" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 다있소 이용약관 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check3" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 전자금융거래 이용약관 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check4" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 개인정보 수집 및 이용 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check5" class="check" style="width: 15px; height: 15px; accent-color: #39594E;" required>
									<div class="sign-up-check-title">[필수] 개인정보 제3자 제공 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check6" class="check" style="width: 15px; height: 15px; accent-color: #39594E;">
									<div class="sign-up-check-title">[선택] 마케팅 목적의 개인정보 수집 및 이용 동의</div>
								</div>
								<div class="sign-up-check-box">
									<input type="checkbox" name="check" id="check7" class="check" style="width: 15px; height: 15px; accent-color: #39594E;">
									<div class="sign-up-check-title">[선택] 광고성 정보 수신 동의</div>
								</div>
								<div class="sign-up-check-box" style="margin-top: 20px;">
									<div class="sign-up-tos-text"> 다있소 이용약관 보기</div>
									<img class="sign-up-tos-img"
											th:src="@{/assets/common/right_arrow_green.svg}">
								</div>
							</div>
							<div>
								<button class ="sign-up-btn" type="submit">동의하고 계속하기</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="sign-up-modal">
			<div class="sign-up-modal-box">
				<div class="sign-up-modal-title">
					다있소 이용약관 동의
				</div>
				<div class="sign-up-modal-content-box">
					<div class="sign-up-modal-content">
						<div>[다있소 이용약관 동의]</div>
						[다있소]은(는) 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.
						<div>제1조(개인정보의 처리 목적)</div>
						<div>1. 홈페이지 회원가입 및 관리</div>
						회원 가입의사 확인, 만14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인 목적으로 개인정보를 처리합니다.
						<div>2. 마케팅 및 광고에의 활용</div>
						접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.
						<div>제2조(개인정보의 처리 및 보유 기간)</div>
						[다있소]은(는) 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.
						각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
						<div>제3조(처리하는 개인정보의 항목)</div>
						필수항목 : 이름, 비밀번호, 휴대전화번호, 이메일
						<div>제4조(만 14세 미만 아동의 개인정보 처리에 관한 사항)</div>
						[개인정보처리자명]은(는) 만 14세 미만 아동에 대해 개인정보를 수집할 때 법정대리인의 동의를 얻어 해당 서비스 수행에 필요한 최소한의 개인정보를 수집합니다.
						또한, [개인정보처리자명]의 [처리목적] 관련 홍보를 위해 아동의 개인정보를 수집할 경우에는 법정대리인으로부터 별도의 동의를 얻습니다.
						[개인정보처리자명]은(는) 만 14세 미만 아동의 개인정보를 수집할 때에는 아동에게 법정대리인의 성명, 연락처와 같이 최소한의 정보를 요구할 수 있습니다.
					</div>
				</div>
				<div class="sign-up-modal-check">확인</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">

	history.scrollRestoration = "manual";
	
	// 비밀번호 확인 
	var pw1 = document.querySelector("#customerPw");
	var pw2 = document.querySelector("#customerRePw");
	var pwConfirm = document.querySelector("#passwordConfirm");
	pw2.onkeyup = function(event) {
		if (pw1.value !== pw2.value) {
			pwConfirm.innerText = "비밀번호가 일치하지 않습니다.";
			pw2.style.border = "1.5px solid red";

		} else {
			pwConfirm.innerText = "";
			pw2.style.border = "none";
		}
	}

	// 체크박스 로직
	var checkAll = document.querySelector("#checkAll");
	var check = document.querySelectorAll(".check");
	
	/* '모두 동의' 체크박스가 체크가 되면 모든 체크박스의  체크를 하고, '모두 동의'
		체크박스가 해제되면 모든 체크 박스의 체크상태를 해제 */
	const agreements = {
		    firstAgreements: false, // 첫번째 체크박스
		   	secondAgreements: false, // 두번째 체크박스
		    thirdAgreements: false, // 세번째 체크박스
		    fourthAgreements: false, // 네번째 체크박스
		    fifthAgreements: false, // 다섯번째 체크박스
		    sixthAgreements: false, // 여섯번째 체크박스
		    seventhAgreements: false, // 일곱번째 체크박스
		};
	
	checkAll.addEventListener('click', (e) => {
	    const checked  = e.target.checked; 
	    if (checked) {
	        check.forEach((item) => {
	            item.checked = true;
	            agreements[item.id] = true;	  
	        });
	    } else {
	        check.forEach((item) => {
	            item.checked = false;
	            agreements[item.id] = false;
	        });
	    }
	    toggleSubmitButoon();
	});
	
	check.forEach((item) => item.addEventListener('input', toggleCheckbox));

	function toggleCheckbox(e) {
	    const { checked , id } = e.target;
	    agreements[id] = checked;
	    checkAllStatus();
	}
	
	function checkAllStatus() {
	    const { firstAgreements, secondAgreements, thirdAgreements, fourthAgreements, fifthAgreements, sixthAgreements, seventhAgreements} = agreements;
	    if (firstAgreements && secondAgreements && thirdAgreements && fourthAgreements && fifthAgreements && sixthAgreements && seventhAgreements) {
	      checkAll.checked = true;
	    } else {
	      checkAll.checked = false;
	    }
	}
	
	// 이용약관 로직
	var tos = document.querySelector(".sign-up-tos-text");
	var modal = document.querySelector(".sign-up-modal");
	var checkBtn = document.querySelector(".sign-up-modal-check")
	
	tos.addEventListener('click', () => {
	   	modal.style.display = "flex";
	});
	
	checkBtn.addEventListener('click', () => {
	   	modal.style.display = "none";
	});
	
	
	
	
	/* var emailConfirm = document.querySelector("#emailConfirm");
	var emailBox = document.querySelector("#userEmail");
	
	const emailCheck = () => {
		const email = document.getElementById("userEmail").value;
		$.ajax({
			type: "post",
			url: "./emailcheck",
			data: {
				"userEmail": email
			},
			success: function(res) {
				if(res == 0) {
					emailConfirm.innerText = "사용가능한 이메일입니다!";	
					emailConfirm.style.color = "blue";
					emailBox.style.border = "1.5px solid blue";
				} else {
					emailConfirm.innerText = "이미 사용하고 있는 이메일입니다!";
					emailConfirm.style.color = "red";
					emailBox.style.border = "1.5px solid red";
				}
			},
			error:function(request,status,error){
		        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		    }
		})
	} */
</script>
</html>