<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}"></head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div id="customer-find-container">
	<div id="customer-find-box">
		<div id="customer-find-title">계정정보 찾기</div>
		<div style="display:flex; text-align:center; margin-top:30px; font-size: 16px; font-weight: 600;">
			<div id="customer-find-email-title">아이디(이메일) 찾기</div>
			<div id="customer-find-pw-title">비밀번호 찾기</div>
		</div>
		<div style="margin-top:30px; padding: 30px;">
			<div style="display:flex;">	
				<div class="customer-find-text">이름</div>
				<div class="customer-find-input"><input type="text"></div>
			</div>
			<div style="display:flex;">	
				<div class="customer-find-text">등록된 휴대폰 번호</div>
				<div class="customer-find-input"><input type="text"></div>
			</div>
		</div>
	</div>
</div>
<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>