<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/header :: header"></head>
<body>
<div th:replace="include/body-header :: bodyHeader"></div>
<div id="customer-find-container">
	<div id="customer-find-box">
		<div id="customer-find-title">계정정보 찾기</div>
		<div style="display:flex; text-align:center; margin-top:30px; font-size: 16px; font-weight: 600;">
			<div id="customer-find-pw-title"><a th:href="@{/customer/find/email}" style="color:#555555; text-decoration:none;">아이디(이메일) 찾기</a></div>
			<div id="customer-find-email-title"><a th:href="@{/customer/find/pw}" style="color:black; text-decoration:none;">비밀번호 찾기</a></div>
		</div>
		<div th:if="${email}" style="margin-top:30px; padding: 10px 30px 10px 30px;" id="customer-find-pw-box">
			<form id="customer-setting-pw-form" th:action="@{/customer/setting-password}" th:method="post">
				<div class="customer-find-info"><span style="font-weight:bold; color:#FF7F00; margin-right: 5px;">*</span>새 비밀번호를 입력해주세요.</div>
				<div class="customer-find-info"><span style="font-weight:bold; color:#FF7F00; margin-right: 5px;">*</span>비밀번호는 8자리에서 최대 16자리까지 숫자, 영문, 특수문자 각 1개 이상 포함시켜주세요.</div>
				<div style="display:flex; border-top: 2px solid #CECECE; margin-top: 30px;">	
					<div class="customer-find-text">새 비밀번호 입력</div>
					<div class="customer-find-input">
						<input type="password" id="customer-find-input-pw" onkeyup="checkPw(this)" th:name="password">
						<span id="customer-find-input-name-error">새 비밀번호를 입력해주세요.</span>
					</div>
				</div>
				<div style="display:flex;">	
					<div class="customer-find-text" style="display: flex; align-items:center;">
						<div>새 비밀번호 확인</div>
					</div>
					<div class="customer-find-input">
						<input type="password" id="customer-find-input-re-pw" onkeyup="checkRePw(this)">
						<span id="customer-find-input-email-error">새 비밀번호를 재입력해주세요.</span> 
					</div>
				</div>
				<input type="hidden" th:name="email" id="customer-email" th:value="${email}">
				<div style="display: flex; justify-content:center; margin-top:100px;">
					<input id="customer-find-pw-btn" value="확인" type="submit">
				</div>
			</form>
		</div>
		<div th:unless="${email}" style="margin-top:30px; padding: 10px 30px 10px 30px;" id="customer-find-pw-box">
			<div style="display: flex; justify-content: center; border: 1px solid #999999; background-color: #F8F8F8; padding: 50px 0 50px 0;">
			 	<div style="text-align: center;">
			 		<div style="font-size: 20px; color:#555555;">인증시간이 만료되었습니다. 처음부터 다시 진행해주시기 바랍니다.</div>
			 		<div style="display: flex; justify-content: center;">
			 			<div style="margin-top: 30px; background: #256B04; width: 30%; padding: 12px 0 12px 0; border-radius: 5px;">
			 				<a th:href="@{/customer/login}" style="color:white; text-decoration: none; font-size: 17px; font-weight: 600;">로그인하기</a>
			 			</div>
			 		</div>
			 	</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="include/footer :: footer"></div>
</body>
<script>
	const pw = document.getElementById("customer-find-input-pw");
	const rePw = document.getElementById("customer-find-input-re-pw");
	const pwForm = document.getElementById("customer-setting-pw-form");
	
	// 비밀번호 정규식
	const reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
	
	pwForm.addEventListener("submit", (event) => {
		if(!pw.value) {
			document.getElementById("customer-find-input-name-error").style.visibility = 'visible';
			document.getElementById("customer-find-input-email-error").style.visibility = 'hidden';
			document.getElementById("customer-find-input-name-error").innerText = '새 비밀번호를 입력해주세요.';
			event.preventDefault();
		} else if(!rePw.value){
			document.getElementById("customer-find-input-email-error").style.visibility = 'visible';
			document.getElementById("customer-find-input-name-error").style.visibility = 'hidden'; 
			document.getElementById("customer-find-input-email-error").innerText = '새 비밀번호를 재입력해주세요.';
			event.preventDefault();
		} 
	});
	
	function checkPw(item) {
		if(!reg.test(item.value)){
			document.getElementById("customer-find-input-name-error").style.visibility = 'visible';
			document.getElementById("customer-find-input-name-error").innerText = '양식에 맞지 않는 비밀번호입니다.';
		} else {
			document.getElementById("customer-find-input-name-error").style.visibility = 'hidden';
		}
	}
	
	function checkRePw(item) {
		if(item.value != pw.value){
			document.getElementById("customer-find-input-email-error").style.visibility = 'visible';
			document.getElementById("customer-find-input-email-error").innerText = '새 비밀번호가 일치하지 않습니다.';
		} else {
			document.getElementById("customer-find-input-email-error").style.visibility = 'hidden';
		}
	}

</script>
</html>