<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/bs-header :: bsHeader"></head>
<link rel="stylesheet" th:href="@{/css/admin-css/admin-inquiry-complete.css}">
<body>
	<div class="admin-inquiry-complete-title">문의</div>
	<div style="padding: 30px;">
		<div class="admin-inquiry-complete-info-title">문의 내용</div>
		<div style="padding: 20px; border: 1px solid #888888; border-top: none; height: 230px; position: relative;">
			<div th:text="${inquiryInfo.productNm}" style="font-size: 16px; font-weight: 400"></div>
			<div style="font-size: 18px; font-weight: 600; margin-top: 20px;">[(${inquiryInfo.inquiryContent})]</div>
			<div th:text="${inquiryInfo.createDt}" style="font-size: 16px; color: #888888; position: absolute; bottom: 20px;"></div>
		</div>
		
		<div class="admin-inquiry-complete-write-title" th:if="${inquiryAnsDv} == 'W'">답변 작성</div>
		<div class="admin-inquiry-complete-write-title" th:unless="${inquiryAnsDv} == 'W'">답변</div>
		<div style="padding: 15px; border: 1px solid #888888;  border-top: none; height: 180px;">
			<div th:if="${inquiryAnsDv} == 'W'">
				<textarea 
					id="admin-inquiry-complete-content"
					style="border: none; width:100%; height:150px; resize: none; outline: none;"></textarea>
			</div>
			<div th:unless="${inquiryAnsDv} == 'W'" style=" position: relative; height: 100%;">
				<div style="font-size: 18px; font-weight: 600;">[(${inquiryInfo.inquiryAnswer})]</div>
				<div th:text="${inquiryInfo.modifyDt}" style="position: absolute; bottom:0; font-size: 16px; color: #888888;"></div>
			</div>
		</div>
		<div style="margin-top: 30px;">
			<div style="display: flex; justify-content: flex-end;">
				<div th:if="${inquiryAnsDv} == 'W'" class="admin-inquiry-complete-btn" th:onclick="inquiryComplete([[${inquiryInfo.productId}]])">저장</div>
				<div th:unless="${inquiryAnsDv} == 'W'" class="admin-inquiry-delete-btn" th:onclick="inquiryDelete([[${ansInquiryInfo}]])">삭제</div>
				<div class="admin-inquiry-complete-close" onclick="inquiryClose()">닫기</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">

	const inquiryCompleteText = document.getElementById("admin-inquiry-complete-content");
	const inquiryId = [[${inquiryId}]];
	
	function inquiryComplete(productId) {
		if(!inquiryCompleteText.value){
			alert("답변을 입력하세요.")
		} else {
			fetch( window.location.origin + "/admin/inquiry/insert/" +  inquiryId, {
			    method: "POST",
			    headers: { 
			        "Content-Type": "application/json",
			        "X-CSRF-TOKEN": [[${_csrf.token}]]
			    },
			    body: JSON.stringify({
			        productId: productId,
			        inquiryContent: inquiryCompleteText.value
			    }),
			})
			.then((data) => {
				opener.location.reload();
				window.close();
			});	  
		}
	}
	
	function inquiryClose() {
		window.close();
	}
	
	function inquiryDelete(ansInquiryId) {
		if(confirm("문의 답변을 삭제하시겠습니까?")){
			fetch( window.location.origin + "/admin/inquiry/delete", {
			    method: "POST",
			    headers: { 
			        "Content-Type": "application/json",
			        "X-CSRF-TOKEN": [[${_csrf.token}]]
			    },
			    body: JSON.stringify({
			    	ansInquiryId: ansInquiryId,
			        inquiryId: inquiryId
			    }),
			})
			.then((data) => {
				opener.location.reload();
				window.close();
			});	
		}	  
	}
</script>
</html>