<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/bs-header :: bsHeader}"></head>
<link rel="stylesheet" th:href="@{/css/admin-css/admin-product.css}">
<link rel="stylesheet" th:href="@{/css/admin-css/admin-purchase.css}">
<link rel="stylesheet" th:href="@{/css/admin-css/admin-frame.css}">
<link rel="stylesheet" th:href="@{/css/admin-css/admin-inquiry.css}">
<body>
	<div th:replace="~{/include/admin-body-header :: adminBodyHeader}"></div>
	<div th:replace="~{/include/admin-frame :: adminFrame}"></div>
	<div class="container-lg" style="padding-top: 10px">
		<!-- <div class="admin-inquiry-title">문의 조회/답변</div> -->
		<div style="font-weight: bold; margin-top: 20px; font-size:20px;">문의관리 <img class="cart-order-list-img" src="/assets/common/right_arrow_gray.svg"> 문의 조회/답변</div>
		<div class="admin-inquiry-search">
			<div>
				<select style="height: 32px; padding: 0 5px 0 5px; outline:none;" id="admin-inquiry-search-filter" onchange="changeOptionSelected()">
				    <option value="id" selected>문의 ID</option>
				    <option value="name">상품명</option>
				    <option value="content">문의 내용</option>
				</select>
			</div>
			<div style="margin-left:5px;">
				<input type="text" style="height: 32px; outline:none;" id="admin-inquiry-search-content">
				<input type="hidden" th:value="${inquiryAnsDv}" id="admin-inquiry-ans-dv">
			</div>
			<button type="submit" 
					style="outline:none; background-color: #1a385d; color:white; border:none; border-radius: 5px; font-weight: 500; font-size: 15px; width: 60px; height: 32px; margin-left: 10px;"
					onclick="searchInquiry()">검색</button>
		</div>
		<div class="admin-inquiry-table">
			<div 
				th:if="${inquiryAnsDv} == 'W'"
				style="display: flex; height: 60px; line-height: 60px; text-align: center; margin-top: 20px; font-size: 16px;">
				<div class="admin-inquiry-ready-title" ><a th:href="@{/admin/inquiry/W}" style="color:black; text-decoration: none; width:100%; height: 100%; display: block;">답변 대기 중</a></div>
				<div class="admin-inquiry-complete-title"><a th:href="@{/admin/inquiry/C}" style="color:black; text-decoration: none; width:100%; height: 100%; display: block;">답변 완료</a></div>
			</div>
			<div 
				th:unless="${inquiryAnsDv} == 'W'"
				style="display: flex; height: 60px; line-height: 60px; text-align: center; margin-top: 20px; font-size: 16px;">
				<div class="admin-inquiry-complete-title" ><a th:href="@{/admin/inquiry/W}" style="color:black; text-decoration: none; width:100%; height: 100%; display: block;">답변 대기 중</a></div>
				<div class="admin-inquiry-ready-title"><a th:href="@{/admin/inquiry/C}" style="color:black; text-decoration: none; width:100%; height: 100%; display: block;">답변 완료</a></div>
			</div>
			<div class="admin-inquiry-thead">
				<div>문의 ID</div>
				<div>상품명</div>
				<div>문의 내용</div>
				<div>문의 상태</div>
			</div>
			<div th:if="${#lists.size(inquiryList)} == 0" style="width:100%; text-align:center; margin-top: 50px; font-weight: 500; font-size: 20px;">찾으시는 데이터가 없습니다.</div>
			<div class="admin-inquiry-tbody" th:each="inquiry : ${inquiryList}">
				<div th:text="${inquiry.inquiryId}" style="width: 10%;">문의 ID</div>
				<div style="width: 20%;"><a th:href="@{/product/__${inquiry.productId}__/__${inquiry.categoryId}__}" th:text="${inquiry.productNm}" style="color:black; text-decoration: none;">상품명</a></div>
				<div style="width: 45%;">[(${inquiry.inquiryContent})]</div>
				<div th:if="${inquiryAnsDv} == 'W'" style="width: 10%; display: flex; align-items: center;" >
					<div class="admin-inquiry-btn" th:onclick="inquiryComplete([[${inquiry.inquiryId}]], 'W')">문의 답변</div>
				</div>
				<div th:unless="${inquiryAnsDv} == 'W'" style="width: 10%; display: flex; align-items: center;" >
					<div class="admin-inquiry-btn" th:onclick="inquiryComplete([[${inquiry.inquiryId}]], 'C')">답변 보기</div>
				</div>
			</div>
			<!-- <div style="position: absolute; bottom: 70px; display: flex; justify-content: center; width: 95%; margin: 0 10px 0 10px; top: 860px;"> -->
				 <div style="/* position: absolute; *//* bottom: 70px; */display: flex;justify-content: center;/* width: 95%; */margin: 10px 10px 0 10px;top: 1090px;">
				<div th:if="${nowPageBlock>1}" style="width: 30px; height: 30px; text-align: center; border: 2px solid gray;">
					<a th:href="@{/admin/inquiry/__${inquiryAnsDv}__/__${startPage-1}__}">
						<img th:src="@{/assets/common/left_arrow_gray.svg}" style="width: 12px; height: 12px;">
					</a>
				</div>
				<div th:each="i:${#numbers.sequence(startPage,endPage)}" th:classappend="${i==nowPage}?active" style="margin: 0 10px 0 10px; width: 30px; height: 30px; text-align: center;">
					<a th:href="@{/admin/inquiry/__${inquiryAnsDv}__/__${i}__}" style="color:black; text-decoration: none; font-size: 16px;">[[${i}]]</a>
				</div>
				<div th:if="${nowPageBlock<totalPageBlock}" style="width: 30px; height: 30px; text-align: center; border: 2px solid gray;">
					<a th:href="@{/admin/inquiry/__${inquiryAnsDv}__/__${endPage+1}__}">
						<img th:src="@{/assets/common/right_arrow_gray.svg}" style="width: 12px; height: 12px;">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- admin-frame -->
	</div>
	</div>
	</div>
	<div th:replace="~{/include/admin-footer :: footer}"></div>
</body>
<script type="text/javascript" th:inline="javascript">

	const searchContent = document.getElementById("admin-inquiry-search-content");
	const ansDv = document.getElementById("admin-inquiry-ans-dv");
	var searchFilterSelect = document.getElementById("admin-inquiry-search-filter");
	var searchFilter = searchFilterSelect.options[searchFilterSelect.selectedIndex].value;
	
	function inquiryComplete(inquiryId, inquiryAnsDv){
		window.open( window.location.origin + '/admin/inquiry/complete/' + inquiryId + '/' + inquiryAnsDv , '문의 답변', 'width=870px,height=740px,scrollbars=yes');
	}
	
	function changeOptionSelected() {
		searchFilter = searchFilterSelect.options[searchFilterSelect.selectedIndex].value;
	}
	
	function searchInquiry() {
		if(searchContent.value == '') {
			window.location.href = window.location.origin + "/admin/inquiry/" + ansDv.value;
		} else {
			window.location.href = window.location.origin + "/admin/inquiry/" + ansDv.value + "/1/" + searchFilter + "/" + searchContent.value;	
		}
	}
</script>
</html>