@charset "UTF-8";
.title-review{
	padding-bottom:1%;
	font-size:150%;
	position:absolute;
	margin-top:-38%;
	margin-left:30%;
	width:855px;
	border-bottom:solid 3px #668663;
}
.rivew-menu-container{
	position:absolute;
	margin-top:-33%;
	margin-left:31%;
	width:auto;
	height:auto;
}
.review-menu{
	float:left;
	font-size:100%;
	border:solid 1.5px #668663;
	width:400px;
	height:40px;
	text-align:center;
	padding-top:1%;
}
.purchase-product-container{
	position:absolute;
	border-top: solid 3px #668663;
	border-bottom:solid 3px #668663;
	margin-top:-28%;
	margin-left:30%;
	padding-bottom:1%;
	padding-top:1%;
	width:855px;
	height:auto;
}
.product-name{
	font-size:100%;
	margin-left:2%;
}
.star-point{
	margin-left:2%;
	float:left;
	color:red;
	
}
.review-detail-container{
	position:absolute;
	margin-top:-21%;
	margin-left:33%;
	
	
}
.review-detail-title{
	font-size:130%;
}
.review-detail-content{
	margin-top:3%;
	width:700px;
	height:300px;
	border:solid 3px #39594e;
	resize:none;
	border-radius:10px;
	
}
.review-photo-container{
	border-top: solid 3px #668663;
	border-bottom:solid 3px #668663;
	width:855px;
	height:80px;
	margin-left:30%;
	padding-top:1%;
	margin-top:2%;
}
#review-photo-button{
	
	display:none;
}
.photo-upload {
	color:#fff;
	width: 150px;
	height: 40px;
	background: #39594e;
	border: 1px solid rgb(77, 77, 77);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center; 
	margin-left:50px;
	margin-top:1.5%
}
.button-container{
	
	width:855px;
	height:100px;
	margin-left:30%;
}
.button-container-01{
	
	margin-left:25%;
	margin-top:5%;
}
.save-button{
	background-color:#39594e;
	color:#fff;
	width:200px;
	height:50px;
	border-radius:10px;
	border:#fff;
	cursor:pointer;
}
.cancle-button{
	width:200px;
	height:50px;
	border-radius:10px;
	border:#fff;
	cursor:pointer;
}
textarea::placeholder{
	font-size:110%;
	
}