@import "reset.css";

* {	
	font-family:'Noto Sans KR', sans-serif;
}

.product-box{
	margin: 20px 20px 20px 20px;
}

.product-box:hover{
	box-shadow:0 0 10px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.product-path-bar{
	height: 30px;
	background-color: #dadada;
	display:flex;
	align-items:center
}

.product-sidebar{
	width: 23%;
	display: flex;
	justify-content: center;
}

.product-large-box{
	width:90%; 
	display:flex; 
	flex-wrap: wrap;
} 

.star-fill{
	width: 0%;
	position:absolute;
	z-index:1;
	overflow:hidden;
	color: orange;
}

.star-base{
	position:absolute;
	z-index:0;
	width: 150px;
}

.star-parent{
	position: relative;
	color: #aaa9a9;
  	width: 80px;
}

.font-l{
	font-weight: lighter;
}

.font-s-13{
	font-size: 13px;
}

.margin-b-5{
	margin-bottom: 5px;
}

.margin-b-10{
	margin-bottom: 10px;
}

.margin-b-0{
	margin-bottom: 0px;
}

.width-50-per{
	width: 50%;
}

.add-cart-btn{
	background-color:#39594e;
	color:white;
}

.add-cart-btn:hover{
	background-color:#7989e2;
	cursor: pointer;
	border: 1px solid #39594e;
}

.direct-purchase-btn{
	border:1px solid #39594e;
	cursor: pointer;
}

.direct-purchase-btn:hover{
	background-color:#7989e2;
	color:white;
}

.cnt-btn{
	width: 22px;
	border:none; 
	font-size:10px;
}
.cnt-btn:focus{
	outline: none;
}

.inquiry-btn{
  	width: 152px;
  	height: 52px;
  	border-radius: 10px;
  	border: none;
  	background-color: #39594e;
  	color: #fff;
}
.modal{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal.show{
	display: block;
}
.modal-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

.select-style{
	width: 208px;
	height: 30px;
}

.special-product-btn{
	width: 557px; 
	height: 73px; 
	border:3px solid #39594e; 
	color:#39594e; 
	border-radius: 10px;
	cursor: pointer;
}
.special-product-btn:hover{
	color: white;
	background-color:#39594e;
}
.re-box{
	position: relative;
	cursor: pointer;
	border: solid 2px #f0f0f0
}
.re-box:hover{
	border: solid 2px #586dc2
}
.re-box-child{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	top: 76%; 
	width:100%; 
	height:75px; 
	background-color: #fffffff0;
}
.re-box-child-mini{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	top: 76%; 
	width:100%; 
	height:75px; 
	background-color: #fffffff0;
}