<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.shipping.repository.IShippingRepository">

	<!-- 
		기능: 사용자 고유번호로부터 그에 해당하는 배송지 조회
	 	담당자: 최준원
	 -->
	<select id="getShippingInfoByCustomerId" parameterType="int" resultType="com.example.daitso.shipping.model.ShippingInfo">
		SELECT s.shipping_id AS "shippingId",
		       s.shipping_receiver_nm AS "shippingReceiverNm",
		       s.shipping_receiver_telno AS "shippingReceiverTelno",
		       s.shipping_road_nm_addr AS "shippingRoadNmAddr",
		       s.shipping_daddr AS "shippingDaddr",
		       s.shipping_dmnd AS "shippingDmnd",
		       c.common_code_nm AS "shippingDv"
		  FROM shipping s,
			   common_code c
	     WHERE s.shipping_dv = c.common_code_id 
		   AND s.customer_id = #{customerId}
		   AND s.status='Y'
      ORDER BY c.common_code_id
	</select>
	
	<!-- 
		기능: 배송지 고유번호로부터 그에 해당하는 배송지 조회
	 	담당자: 최준원
	 -->
	<select id="getShippingInfoByShippingId" parameterType="int" resultType="com.example.daitso.shipping.model.ShippingInfo">
		SELECT s.shipping_id AS "shippingId",
		       s.shipping_receiver_nm AS "shippingReceiverNm",
		       s.shipping_receiver_telno AS "shippingReceiverTelno",
		       s.shipping_road_nm_addr AS "shippingRoadNmAddr",
		       s.shipping_daddr AS "shippingDaddr",
		       s.shipping_dmnd AS "shippingDmnd",
		       c.common_code_nm AS "shippingDv"
		  FROM shipping s,
			   common_code c
	     WHERE s.shipping_dv = c.common_code_id 
		   AND s.shipping_id = #{shippingId}
	</select>
	
	<!-- 
		기능: 배송지 추가
	 	담당자: 최준원
	 -->
	<insert id="addShipping">
		DECLARE
   			 shipping_dv_num NUMBER;
		BEGIN
			INSERT INTO shipping (  shipping_id,
								    customer_id,
								    shipping_receiver_nm,
								    shipping_receiver_telno,
								    shipping_dmnd,
								    shipping_road_nm_addr,
								    shipping_daddr,
								    shipping_dv	 ) 
				 VALUES (  shipping_seq.nextval,
						   #{customerId},
						   #{shippingAdd.shippingReceiverNm},
						   #{shippingAdd.shippingReceiverTelno},
						   #{shippingAdd.shippingDmnd},
						   #{shippingAdd.shippingRoadNmAddr},
						   #{shippingAdd.shippingDaddr},
						   #{shippingAdd.shippingDv}  );
			     
			     SELECT shipping_dv 
			       INTO shipping_dv_num 
			       FROM shipping 
			      WHERE customer_id = #{customerId} 
			        AND shipping_id = (  SELECT shipping_id 
			        					   FROM shipping 
			        					  WHERE customer_id = #{customerId}
			        					  	AND	create_dt = (  SELECT MAX(create_dt) 
			        					  						 FROM shipping 
			        					  						WHERE customer_id = #{customerId}  )  );    
			     
		IF
			shipping_dv_num = 301	 
		THEN 	     	     
			     UPDATE shipping set shipping_dv = 302 
                  WHERE shipping_dv = 301 
					AND customer_id = #{customerId}
					AND shipping_id != (  SELECT shipping_id 
										    FROM shipping 
										   WHERE customer_id = #{customerId}
										   	 AND create_dt = (	SELECT MAX(create_dt) 
										   						  FROM shipping 
										   					 	 WHERE customer_id = #{customerId}  )  );
		END IF;
		END;
	</insert>
	
	<!-- 
		기능: 배송지 수정
	 	담당자: 최준원
	 -->
	<update id="updateShipping">
		DECLARE
  			shipping_dv_num NUMBER;
		BEGIN
			UPDATE shipping 
			   SET shipping_receiver_nm = #{shippingUpdate.shippingReceiverNm},
				   shipping_receiver_telno = #{shippingUpdate.shippingReceiverTelno},
				   shipping_dmnd = #{shippingUpdate.shippingDmnd},
				   shipping_road_nm_addr = #{shippingUpdate.shippingRoadNmAddr},
				   shipping_daddr = #{shippingUpdate.shippingDaddr},
				   shipping_dv = TO_NUMBER(#{shippingUpdate.shippingDv})
			 WHERE shipping_id = #{shippingId};

			SELECT shipping_dv 
			  INTO shipping_dv_num 
			  FROM shipping 
			 WHERE shipping_id = #{shippingId};

		IF 
			shipping_dv_num = 301
		THEN
	    	UPDATE shipping 
	    	   SET shipping_dv = 302
	         WHERE customer_id = #{customerId}
	    	   AND shipping_dv = 301
	    	   AND shipping_id != #{shippingId};
		END IF;
		END;
	</update>
	
	<!-- 
		기능: 배송지 삭제
	 	담당자: 최준원
	 -->
	<update id="deleteShipping" parameterType="int">
		UPDATE shipping 
		   SET status = 'N'
	     WHERE shipping_id = #{shippingId}
	</update>

</mapper>