<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.category.repository.ICategoryRepository">
<select id="selectCategoryList" parameterType="int" resultType="com.example.daitso.category.model.Category">
	SELECT category_id AS categoryId, 
			category_nm AS categoryNm, 
			level
	FROM category 
	WHERE CONNECT_BY_ROOT category_nm = 
    	(SELECT 
    	CONNECT_BY_ROOT category_nm as root
    	FROM category 
    	WHERE category_id = #{categoryId}
    	START WITH category_pr_id = 0
    	CONNECT BY PRIOR category_id = category_pr_id)
    AND status = 'N' 
	START WITH category_pr_id = 0
	CONNECT BY PRIOR category_id = category_pr_id
	ORDER SIBLINGS BY category_nm
</select>

</mapper>