<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.inquiry.repository.IInquiryRepository">

	<!-- 
		기능: 고객 문의글쓰기
		담당자: 나현웅
	 -->
	<insert id="insertInquiry">
		INSERT INTO inquiry (inquiry_id, product_id, customer_id, inquiry_content, creator)
		VALUES (inquiry_seq.nextval, #{pId}, #{cId}, #{content}, #{cId})
	</insert>
	
	<!-- 
		기능: 특정 상품에 대한 문의글 조회
		담당자: 나현웅
	 -->
	<select id="selectProductInquiry" resultType="com.example.daitso.inquiry.model.InquiryProduct">
		    SELECT p.product_option_first AS productOptionFirst, 
					p.product_option_second AS productOptionSecond, 
					nvl(p.product_option_third,0) AS productOptionThird,
					i.product_id AS productId, 
					i.customer_id AS customerId,
					i.inquiry_content AS inquiryContent,
            		i.inquiry_id AS inquiryId,
            		i.inquiry_pr_id AS inquiryPrId,
            		level,
					i.create_dt AS createDt 
			FROM inquiry i
    		LEFT JOIN product p on p.product_id = i.product_id
    		WHERE EXISTS (
    						select 1 from product sp where sp.product_id = i.product_id and product_group_id = #{productGroupId}
    					 )
		    AND inquiry_ans_dv = 'C'
    		START WITH inquiry_pr_id is null
    		CONNECT BY PRIOR inquiry_id = inquiry_pr_id
	</select>
</mapper>