<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.product.repository.IProductRepository">

<resultMap type="com.example.daitso.product.model.Product" id="productMap">
	<result column="product_id"		property="productId" />
	<result column="category_id"	property="categoryId" />
	<result column="product_nm"		property="productNm" />
	<result column="product_content"	property="productContent" />
	<result column="product_price"	property="productPrice" />
	<result column="product_stock"	property="productStock" />
	<result column="product_sales_count"	property="productSalesCount" />
	<result column="product_option_first"	property="productOptionFirst" />
	<result column="product_option_second"	property="productOptionSecond" />
	<result column="product_option_third"	property="productOptionThird" />
	<result column="product_image_first"	property="productImageFirst" />
	<result column="product_image_second"	property="productImageSecond" />
	<result column="product_image_third"	property="productImageThird" />
	<result column="status"					property="status" />
	<result column="create_dt"				property="createDt" />
	<result column="creator"				property="creator" />
	<result column="modify_dt"				property="modifyDt" />
	<result column="modifier"				property="modifier" />
</resultMap>


<select id="selectProductList" parameterType="int" resultType="com.example.daitso.product.model.Product">
    SELECT product_id AS productId, 
		category_id AS categoryId, 
		product_image_first AS productImageFirst, 
		product_nm AS productNm, 
		review_star_point AS reviewStarPoint, 
		review_count AS reviewCount, 
		product_content AS productContent, 
		product_stock AS productStock, 
		product_price AS productPrice
	FROM(
    	SELECT product_id, category_id, product_image_first, product_nm, review_star_point, review_count, product_content, product_stock, 
    			product_price, rownum as rnum , row_number() over (partition by product_nm order by product_price) snum
    	FROM(
    		SELECT p.product_id		AS		product_id,
				category_id, product_nm, product_content, product_price, product_stock, product_image_first, NVL(avg(review_star_point)*20,0) AS review_star_point,
            	count(review_star_point) AS review_count
			FROM product p
    			LEFT JOIN review r on p.product_id = r.product_id
    		WHERE category_id in (
    				SELECT category_id from category c
    				START WITH category_id = #{categoryId}
    				CONNECT BY PRIOR category_id = category_pr_id)
    				AND p.status = 'N'
    				GROUP BY p.product_id, category_id, product_nm, product_content, product_price, product_stock, product_image_first
    				ORDER BY p.product_id))
    WHERE rnum between #{start} and #{end} and snum = 1
</select>

<select id="selectCountProductList" parameterType="int" resultType="int">
	SELECT count(*)
	FROM (select distinct product_nm from product 
	WHERE category_id IN (
		SELECT category_id 
		FROM category START WITH category_id = #{categoryId} 
		CONNECT BY PRIOR category_id = category_pr_id))
</select>


<select id="selectProduct" parameterType="int" resultMap="productMap">
	SELECT * FROM product
	WHERE product_id = #{productId}
</select>

<!-- 상품 등록 -->
<insert id="registerProducts" parameterType="com.example.daitso.product.model.Product">
<![CDATA[
	INSERT INTO product (product_id, category_id, product_nm, product_content,product_image_first,
	product_price, product_stock, product_option_first, product_option_second, product_option_third)
	VALUES (product_seq.NEXTVAL, #{subCategoryId}, #{productNm}, #{productContent},#{productImageFirst},
	#{productPrice}, #{productStock}, #{productOptionFirst}, #{productOptionSecond}, #{productOptionThird})
]]>
</insert>

<!-- 상품 코드 변경 -->
<update id="changeProductCode">
<![CDATA[
    UPDATE product
    SET product_code = CONCAT(product_id, TO_CHAR(create_dt, 'YYYYMMDDHH24MISSFF3') )
    WHERE product_id = (
        SELECT product_id as "productId" FROM
        (SELECT * FROM product ORDER BY product_id DESC)
        WHERE ROWNUM= 1
    )
   ]]>
</update>

<!-- 상품 삭제 -->
<delete id="deleteProduct" parameterType="int">
<![CDATA[
	 DELETE FROM product WHERE product_id = #{productId}
]]>
</delete>

<!-- 상품 수정 -->
<update id="updateProduct" parameterType="com.example.daitso.product.model.Product">
<![CDATA[
	UPDATE product
	SET product_price = #{productPrice}, product_stock = #{productStock}
	WHERE product_id = #{productId}
]]>
</update>

<!-- 상품 수정을 위한 해당 상품 정보 가져오기 -->
<select id="selectProductId" resultType="com.example.daitso.product.model.Product" parameterType="int">
<![CDATA[
	SELECT product_id as "productId",
		   product_nm as "productNm",
		   product_code as "productCode",
		   product_price as "productPrice",
		   product_stock as "productStock"
	FROM product
	WHERE product_id = #{productId}
]]>
</select>

<!-- 총 상품 개수 가져오기 -->
<select id="getTotalProductCount" parameterType="int">
<![CDATA[
	SELECT count(*)
	FROM product
]]>
</select>

<!-- 전체 상품 조회하기(페이징) -->
<select id="selectPagedProducts" resultType="com.example.daitso.product.model.Product">
<![CDATA[
	SELECT product_id as "productId",
			   product_code as "productCode",
			   product_nm as "productNm",
			   product_option_first as "productOptionFirst",
			   product_option_second as "productOptionSecond",
			   product_option_third as "productOptionThird",
			   product_stock as "ProductStock",
	           rownum as rnum
	FROM (
        SELECT
            p.*,
            ROW_NUMBER() OVER (ORDER BY product_id DESC) AS rnum
        FROM product p
    ) paging
    WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
</select>

<!-- 해당 카테고리 총 상품 개수 가져오기 -->
<select id="getCategoryTotalProductCount" parameterType="int">
<![CDATA[
	SELECT count(*)
	FROM product
	WHERE category_id = #{categoryId}
]]>
</select>

<!-- 해당 카테고리 전체 상품 조회하기(페이징) -->
<select id="selectCategoryPagedProducts" resultType="com.example.daitso.product.model.Product">
<![CDATA[
	SELECT product_id as "productId",
			   product_code as "productCode",
			   product_nm as "productNm",
			   product_option_first as "productOptionFirst",
			   product_option_second as "productOptionSecond",
			   product_option_third as "productOptionThird",
			   product_stock as "productStock",
	           rownum as rnum
	FROM (
        SELECT
            p.*,
            ROW_NUMBER() OVER (ORDER BY product_id DESC) AS rnum
        FROM product p
         WHERE category_id = #{categoryId}
    ) paging
    WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
</select>

<!-- 해당 상위 카테고리 총 상품 개수 가져오기 -->
<select id="getTopCategoryTotalProductCount" parameterType="int">
<![CDATA[
	SELECT count(*)
	FROM product p
	JOIN category c
	ON p.category_id = c.category_id
	WHERE c.category_pr_id = #{categoryPrId}
]]>
</select>

<!-- 해당 상위 카테고리 전체 상품 조회하기(페이징) -->
<select id="selectTopCategoryPagedProducts" resultType="com.example.daitso.product.model.Product">
<![CDATA[
	SELECT  product_id as "productId",
			   product_code as "productCode",
			   product_nm as "productNm",
			   product_option_first as "productOptionFirst",
			   product_option_second as "productOptionSecond",
			   product_option_third as "productOptionThird",
			   product_stock as "productStock",
               category_pr_id as "categoryPrId",
	           rownum as rnum
	FROM (
        SELECT
             p.*, c.category_pr_id,
            ROW_NUMBER() OVER (ORDER BY product_id DESC) AS rnum
        FROM product p
        JOIN category c
        ON  p.category_id = c.category_id
        WHERE c.category_pr_id = #{categoryPrId}
    ) paging
    WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
</select>

<select id="selectProductOptionFirst" parameterType="String" resultType="map">
	SELECT nvl(product_option_first,0) AS optionFirst 
	FROM product WHERE product_nm = #{productNm}
	GROUP BY product_option_first
</select>

<select id="selectProductOptionSecond" resultType="map">
	SELECT nvl(max(product_option_second),0) AS optionSecond
	FROM product 
	WHERE product_nm=#{productNm}
	<choose>
		<when test='productOptionFirst.equals("0")'>
		</when>
		<otherwise>
			AND product_option_first = #{productOptionFirst}
		</otherwise>
	</choose>
	GROUP BY product_option_second
</select>

<select id="selectProductOptionThird" resultType="map">
	SELECT nvl(max(product_option_third),0) AS optionThird
	FROM product 
	WHERE product_nm=#{productNm}
	<choose>
		<when test='productOptionFirst.equals("0")'>
		</when>
		<otherwise>
			AND product_option_first = #{productOptionFirst}
		</otherwise>
	</choose>
	<choose>
		<when test='productOptionSecond.equals("0")'>
		</when>
		<otherwise>
			AND product_option_second = #{productOptionSecond}
		</otherwise>
	</choose>
	 GROUP BY product_option_third
</select>

<select id="selectOptionProduct" resultMap="productMap">
	SELECT * FROM
	(SELECT p.*, rownum as rnum FROM product p
	WHERE product_nm = #{productNm}
	<choose>
		<when test='productOptionFirst.equals("0")'>
		</when>
		<otherwise>
			AND product_option_first = #{productOptionFirst}
		</otherwise>
	</choose>
	<choose>
		<when test='productOptionSecond.equals("0")'>
		</when>
		<otherwise>
			AND product_option_second = #{productOptionSecond}
		</otherwise>
	</choose>
	<choose>
		<when test='productOptionThird.equals("0")'>
		</when>
		<otherwise>
				AND product_option_third = #{productOptionThrid}
		</otherwise>
	</choose>
	ORDER BY product_price)
	WHERE rnum = 1
</select>

</mapper>