<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/bs-header :: bsHeader}"></head>
<link rel="stylesheet" th:href="@{/css/admin-css/admin-category.css}">
<link rel="stylesheet" th:href="@{/css/admin-css/admin-frame.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>
	<div th:replace="~{/include/admin-body-header :: adminBodyHeader}"></div>
	<div th:replace="~{/include/admin-frame :: adminFrame}"></div>
	<div class="container-xl" style="max-width: 90%;">
	<!-- 오른쪽 컨텐츠 -->
	<div id="table">
	<div style="font-weight: bold; margin-top: 10px; font-size:17px;">상품관리 <img class="cart-order-list-img" src="/assets/common/right_arrow_gray.svg"> 카테고리 추가/수정/삭제</div>
		<div class="row" style="padding-bottom: 10px; justify-content: flex-end;">
			<div class="col-sm-6" style="text-align: end; padding-left: 0px; right: 10px;">
				<button class="btn btn-primary" style="background-color: #b69f93; border-color:#b69f93;"
					data-bs-toggle="modal" data-bs-target="#registerModal"
					type="button">등록</button>
			</div>
		</div>
		<div style="height: 640px;">
			<table class="table" style="text-align: center;">
				<thead>
					<tr>
						<th></th>
						<th>카테고리ID</th>
						<th>카테고리명</th>
						<th>PATH</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="categorylist : ${categorylist}">
						<td th:text="${categorylist.rn}"></td>
						<td th:text="${categorylist.categoryId}"></td>
						<td th:text="${categorylist.categoryNm}"></td>
						<td style="text-align: left; padding-left: 30px;"
							th:text="${categorylist.path}"></td>
						<td style="display: flex; justify-content: flex-end;">
							<div class="btn-group">
								<button class="btn btn-xs"
									style="background-color: #f7ba8b; color: #ffff"
									data-bs-toggle="modal" data-bs-target="#updateModal"
									type="button"
									th:onclick="selectCategoryId([[${categorylist.categoryId}]])">수정</button>
								<button class="btn btn-xs"
									style="background-color: red; color: #fff" type="button"
									th:onclick="deleteCategory([[${categorylist.categoryId}]])">삭제</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 페이지 링크 표시 -->
		<div th:if="${totalCount > 0}">
			<ul class="pagination" id="pagination">
			<!-- 첫 페이지로 이동하는 화살표 -->
		        <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
		            <a class="page-link"
		                th:href="@{/admin/category(page=1, pageSize=${pageSize})}"
		                aria-label="First"> <span aria-hidden="true">&laquo;</span>
		            </a>
		        </li>
		        
				<!-- 이전 페이지 버튼 -->
				<li class="page-item" th:classappend="${currentPage == 1} ? disabled"><!-- 현재 페이지가 1이면 비활성화 --> 
				<a class="page-link"
					th:href="@{/admin/category(page=${currentPage - 1}, pageSize=${pageSize})}"
					aria-label="Previous"> <span aria-hidden="true">&lsaquo;</span></a>
				</li>
				<!-- 페이지 번호 설정 -->
				<li th:each="page : ${#numbers.sequence(1, totalPages)}"
					class="page-item" th:classappend="${page == currentPage} ? active">
					<a class="page-link"
					th:href="@{/admin/category(page=${page}, pageSize=${pageSize})}"
					th:text="${page}"> </a>
				</li>
				<!-- 다음 페이지 버튼 -->
				<li class="page-item" th:classappend="${currentPage * pageSize >= totalCount} ? disabled"> <!-- 현재 페이지가 마지막 페이지면 비활성화 -->
				<a	class="page-link"
					th:href="@{/admin/category(page=${currentPage + 1}, pageSize=${pageSize})}"
					aria-label="Next"> <span aria-hidden="true">&rsaquo;</span>
				</a></li>
				
				<!-- 마지막 페이지로 이동하는 화살표 -->
		        <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
		            <a class="page-link"
		                th:href="@{/admin/category(page=${totalPages}, pageSize=${pageSize})}"
		                aria-label="Last"> <span aria-hidden="true">&raquo;</span>
		            </a>
		        </li>
		    </ul>
			</ul>
		</div>


		<!-- 카테고리 수정 모달 -->
		<div id="updateModal" class="modal fade" tabindex="-1"
			role="dialog">
			<div class="modal-dialog" role="document" style="max-width: 800px;">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">카테고리 수정</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					    	<i class="fas fa-times"></i>
						</button>
					</div>
					<form th:action="@{/admin/update/category}" method="post">
						<div class="modal-body">
							<input type="hidden" id="updateCategoryId" name="categoryId">
							<div class="row mb-3" style="display: flex; align-items: center;">
								<label for="categoryNm" class="col-sm-2 col-form-label">카테고리명</label>
								<div class="col-sm-10">
									<input type="text" id="updateCategoryNm" name="categoryNm"
										autocomplete="off">
								</div>
							</div>
							<div class="row mb-3" style="display: flex; align-items: center;">
								<label for="categoryContent" class="col-sm-2 col-form-label">카테고리
									내용</label>
								<div class="col-sm-10">
									<textarea id="updateCategoryContent" name="categoryContent"
										style="height: 200px; width: 510px" autocomplete="off"></textarea>
								</div>
							</div>
							
							
							
							<div class="row mb-3" style="display: flex; align-items: center;">
								<label for="categoryImage" class="col-sm-2 col-form-label">이미지</label>
								<div class="col-sm-10">
									<label for="uploadCategoryImage">
				                       <img id="updateCategoryImage" alt="카테고리 이미지 선택하기" width="450" height="300" style="border: 1px solid black; cursor: pointer;">
				                    </label>
				                    <div>	                    	                        
				                        <!-- 이미지 클릭 시 파일 입력 엘리먼트 클릭 -->
				                        <input type="file" id="uploadCategoryImage" accept="image/*" style="display: none;" onchange="selectImage('uploadCategoryImage', 'updateCategoryImage', updateCategoryId.value);">
				                        <!-- 수정 버튼 -->
				                        <button id="updateButtonFirst" class="btn btn-xs uploadButtons" style="background-color: #f7ba8b; color: #fff; margin-top: 10px;" type="button">수정</button>
				                    	<!-- 삭제 버튼 -->
				                        <button class="btn btn-xs deleteButtons" style="background-color: red; color: #fff; margin-top: 10px;" type="button" 
				                            onclick="deleteImage('updateCategoryImage', updateCategoryId.value, true)">삭제</button>
	                    			</div>
								</div>
							</div>



							<div class="modal-footer">
								<button class="btn btn-primary"
									style="background-color: #9dbb9a; border-color:#9dbb9a;" type="submit">저장</button>
								<button type="button" class="btn btn-secondary" style="color: #fff; background-color: #c1c1c1;border-color: #c1c1c1;" data-bs-dismiss="modal">닫기</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- 카테고리 등록 모달 -->
		<div id="registerModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document" style="max-width: 800px;">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">카테고리 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					    	<i class="fas fa-times"></i> <!-- "X" 아이콘 -->
						</button>
					</div>
					 <!--  <form th:action="@{/admin/category}" th:method="post"> -->
					 <form th:action method="post" enctype="multipart/form-data"> 
						<div class="modal-body">
							<div style="display: flex;">
								<label for="categoryId" class="col-sm-2 col-form-label">카테고리 유형</label>
								<input type="hidden" id="selectsCategoryId" name="categoryId">
									<div style="padding-left: 5px; display: flex; align-items: center;">
									<!-- 첫 번째 카테고리 -->
									<div>
										<!-- <label for="firstCategory" style="padding-right: 10px; padding-left: 10px; text-align: center;"></label>  -->
										<select id="firstCategory"	name="firstCategory" 
											onchange="showSecondCategoryField(); getSecondForRegister(this.value, 'unsyn'); updateSelectCategoryId();"
											style="padding-left: 5px; padding-right: 5px; margin-right: 5px; border-radius:8px;">
											<option value="">최상위 카테고리</option>
											<option th:each="category : ${firstCategories}"
												th:value="${category.categoryId}"
												th:text="${category.categoryNm}"></option>
										</select>
									</div>
									<!-- 두 번째 카테고리 -->
									<div>
										<!-- <label for="secondCategorys"  style="padding-right: 10px; padding-left: 10px;"></label>  -->
										<select	id="secondCategorys" name="secondCategorys"
											onchange="showThirdCategoryField(); getThirdForRegister('unsyn'); updateSelectCategoryId();"
											style="padding-left: 5px; padding-right: 5px; width: 167px; margin-right: 5px; border-radius:8px;">
											<option value="">선택 안함</option>
										</select>
									</div>
									<!-- 세 번째 카테고리 -->
									<div >
										<!-- <label for="thirdCategorys"  style="padding-right: 10px; padding-left: 10px;"></label>  -->
										<select	id="thirdCategorys" name="thirdCategorys" onchange="updateSelectCategoryId()"
											style="padding-left: 10px; padding-right: 5px; border-radius:8px; width:90px;">
											<option value="">선택 안함</option>
										</select>
									</div>
									</div>
							</div>
							
								<div>
							        <label for="categoryNm" class="col-sm-2 col-form-label">카테고리명</label>
							        <input type="text" id="categoryNm" name="categoryNm" placeholder="등록할 카테고리 이름을 입력하세요." required>
							    </div>
							
							    <div style="display:flex;">
							        <label for="categoryContent" class="col-sm-2 col-form-label">상세 내용</label>
							        <div class="col-sm-10" style="padding-left: 5px;">
							            <textarea id="categoryContent" name="categoryContent" style="height: 200px; width: 510px"
							            placeholder="카테고리의 상세 내용을 입력해주세요." ></textarea>
							        </div>
							    </div>
								  <div style="display: flex; justify-content: space-around; align-items: center;">
									<label for="categoryImage">카테고리 이미지</label>
									<div class="col-sm-10">
										<input type="file" id="file" name="file" onchange="fileCheck()"
											accept=".gif, .jpg, .png, .jpeg" multiple required>																		
										<div id="files-error"
											style="margin: 0 0 10px 0; color: red; font-size: 16px; display: none;"></div>
									</div>
								</div> 
						
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" style="background-color: #9dbb9a; border-color:#9dbb9a;"
								type="submit">저장</button>
							<button type="button" class="btn btn-secondary" style="color: #fff; background-color: #c1c1c1;border-color: #c1c1c1;" data-bs-dismiss="modal">닫기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		
	</div>
	
	</div>
	</div>
	</div>
	<div th:replace="~{/include/footer :: footer}"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script th:inline="javascript">
	 
	// 이미지 선택하기
    function selectImage(inputId, imageId, categoryId) {
        // 파일 입력 엘리먼트 가져오기
        const fileInput = document.getElementById(inputId);
        // 이미지 엘리먼트 가져오기
        const imageElement = document.getElementById(imageId);
        // 선택한 파일이 있는지 확인
        if (fileInput.files.length > 0) {
            // 선택한 파일
            const file = fileInput.files[0];

            // 이미지 엘리먼트의 alt 속성 업데이트
            imageElement.alt = file.name;

            // 이미지 엘리먼트의 src 속성 업데이트 (미리보기)
            const reader = new FileReader();
            reader.onload = function(e) {
                imageElement.src = e.target.result;
            };
            reader.readAsDataURL(file);

            alert('이미지가 선택되었습니다.');
            console.log(inputId, imageId, categoryId);
        } else {
            alert('파일을 선택하세요.');
        }
    }

	// 수정 버튼 클릭 시 서버로 이미지 업로드 요청 
    document.getElementById('updateButtonFirst').addEventListener('click', function() {
    	uploadImage('uploadCategoryImage', 'updateCategoryImage');
    });

    function uploadImage(fileInputId, imageId) {
        const categoryId = updateCategoryId.value;
   
        // 서버로 이미지 업로드 요청
        if (categoryId) {
            const fileInput = document.getElementById(fileInputId);
           
            if (fileInput.files.length > 0) {
                const formData = new FormData();
                formData.append('categoryId', categoryId);
                formData.append(fileInputId, fileInput.files[0]);
                
                console.log(formData);
                
                fetch('/admin/updateCategoryImage', {
                    method: 'POST',
                    headers: {                    	
        	            "X-CSRF-TOKEN": [[${_csrf.token}]]
        	        },       	        
                    body: formData,
                })
                .then(response => {
                    if (response.ok) {
                        alert('이미지가 수정되었습니다.');
                    } else {
                        alert('이미지 수정에 실패했습니다.');
                    }
                })
                .catch(error => {
                    console.error('이미지 업로드 오류:', error);
                    alert('이미지 수정에 실패했습니다.');
                });
            } else {
                alert('파일을 선택하세요.');
            }
        } else {
            alert('카테고리 ID를 입력하세요.');
        }
    }
    
 
	//s3에서 이미지 삭제하기
	 async function deleteImageFromS3(imageUrl) {
	     try {
	         const response = await fetch("/admin/deleteImage", {
	             method: "POST",
	             headers: {
	                 "Content-Type": "application/json",
	                 "X-CSRF-TOKEN": [[${_csrf.token}]]
	             },
	             body: JSON.stringify({ imageUrl }),
	         });
	
	         if (response.ok) {
	             // 이미지 삭제가 성공한 경우
	             alert("이미지가 삭제되었습니다.");
	         } else {
	             // 이미지 삭제 실패한 경우
	             alert("이미지 삭제에 실패했습니다.");
	         }
	     } catch (error) {
	         console.error("이미지 삭제 실패:", error);
	     }
	 }
	
	 // 상품 이미지 정보 삭제하기
	 async function deleteImageFromDatabase(categoryId, deleteCategoryImage) {
	     try {
	         const databaseResponse = await fetch(`/admin/deleteCategoryImage?categoryId=${categoryId}&deleteCategoryImage=${deleteCategoryImage}`, {
	             method: "POST",
	             headers: {
	                 "Content-Type": "application/json",
	                 "X-CSRF-TOKEN": [[${_csrf.token}]]
	             },
	         });
	
	         if (databaseResponse.ok) {
	             // DB에서 이미지 정보 삭제 성공한 경우
	             alert("이미지 정보 삭제에 성공했습니다.");
	             window.location.href = "/admin/category";
	         } else {
	             // DB에서 이미지 정보 삭제 실패한 경우
	             alert("이미지 정보 삭제에 실패했습니다.");
	         }
	     } catch (databaseError) {
	         console.error("이미지 정보 삭제 실패:", databaseError);
	     }
	 }
	
	 // 이미지 삭제하기
	 async function deleteImage(imageId, categoryId, deleteCategoryImage) {
	     if (!confirm("이미지를 삭제하시겠습니까?")) {
	         return; // 사용자가 "취소"를 선택한 경우 함수 종료
	     }
	     // 이미지 엘리먼트를 가져옵니다.
	     const imageElement = document.getElementById(imageId);
	
	     // 이미지 URL을 가져옵니다.
	     const imageUrl = imageElement.src;
	
	     try {
	         // s3에서 이미지 삭제
	         await deleteImageFromS3(imageUrl);
	
	         // 상품 이미지 정보 삭제
	         await deleteImageFromDatabase(categoryId, deleteCategoryImage);
	     } catch (error) {
	         console.error("이미지 삭제 및 이미지 정보 삭제 실패:", error);
	     }
	 }
	 
	 window.onload = function() {
	        // 두 번째, 세 번째 선택 필드 초기 숨김
	        document.getElementById("secondCategorys").style.display = "none";
	        document.getElementById("thirdCategorys").style.display = "none";
	    };
	    
	 function showSecondCategoryField() {
	        // 첫 번째 카테고리 선택값 가져오기
	        var selectedValue = document.getElementById("firstCategory").value;
	        
	        // 선택한 값에 따라 두 번째 카테고리 필드 표시/숨기기
	        var secondCategoryField = document.getElementById("secondCategorys");
	        if (selectedValue !== "") {
	            secondCategoryField.style.display = "block";
	        } else {
	            secondCategoryField.style.display = "none";
	        }
	        
	        // 선택한 값에 따라 세 번째 카테고리 필드 숨기기
	        document.getElementById("thirdCategorys").style.display = "none";
	    }
	    
	    function showThirdCategoryField() {
	        // 두 번째 카테고리 선택값 가져오기
	        var selectedValue = document.getElementById("secondCategorys").value;
	        
	        // 선택한 값에 따라 세 번째 카테고리 필드 표시/숨기기
	        var thirdCategoryField = document.getElementById("thirdCategorys");
	        if (selectedValue !== "") {
	            thirdCategoryField.style.display = "block";
	        } else {
	            thirdCategoryField.style.display = "none";
	        }
	    }
	    
	// 카테고리 등록시 선택한 카테고리 정보 갖고오기
 	function updateSelectCategoryId() {
	    var selectedFirstCategory = $("#firstCategory").val();
	    var selectedSecondCategory = $("#secondCategorys").val();
	    var selectedThirdCategory = $("#thirdCategorys").val();
	    
	    if (selectedThirdCategory) {
	        $("#selectsCategoryId").val(selectedThirdCategory);
	    } else if (selectedSecondCategory) {
	        $("#selectsCategoryId").val(selectedSecondCategory);
	    } else if (selectedFirstCategory) {
	        $("#selectsCategoryId").val(selectedFirstCategory);
	    } else {
	        $("#selectsCategoryId").val(0); // 모든 카테고리가 선택되지 않았을 때 0 할당
	    }
	} 
	 	// 빈 문자열일 경우 값에 0 넣어주기 (최상위 카테고리로)
	    if ($("#selectsCategoryId").val() === "") {
	        $("#selectsCategoryId").val(0);
	    }
	
	// 카테고리 등록시 두 번째 카테고리 불러오기
	function getSecondForRegister(firstCategoryId, selector) {
	    var secondCategorys = $("#secondCategorys");
	    secondCategorys.empty(); // 조회하고 다시 조회하면 이전 값 붙어서 안 나오게 비워줘야함
	    secondCategorys.append('<option value="">전체</option>');
	    getThirdForRegister('unsyn');
	    if(selector == 'unsyn'){
		    // 첫 번째 카테고리가 "전체"로 선택된 경우 처리 종료
		    if (firstCategoryId === "") {
		        return;
		    }
		    $.ajax({
		        type: "GET",
		        url: "/admin/product/second/" + firstCategoryId,
		        success: function (data) {
		            // 선택된 첫 번째 카테고리의 하위 카테고리 목록을 추가
		            for (var i = 0; i < data.length; i++) {
	            		secondCategorys.append('<option value="' + data[i].categoryId + '">' + data[i].categoryNm + '</option>');	
		            }
		        }
		    });
		} 
	} 

	const thirdCategoryNum = /*[[${selectedThirdCategoryId}]]*/ null;
	
	// 카테고리 등록시 세 번째 카테고리 불러오기
	function getThirdForRegister(selector) {
	    var thirdCategorys = $("#thirdCategorys");
	    var secondCategoryIds = $("#secondCategorys").val(); // 두 번째 카테고리의 값을 가져옴
	  	 if(selector == 'unsyn'){
			console.log("unsyn!!!!")
		    if (!secondCategoryIds) {
		        thirdCategorys.empty();
		        thirdCategorys.append('<option value="">전체</option>');
		    } else {
		        $.ajax({
		            type: "GET",
		            url: "/admin/product/third/" + secondCategoryIds,
		            success: function (data) {
		                thirdCategorys.empty();
		                thirdCategorys.append('<option value="">전체</option>');
		                for (var i = 0; i < data.length; i++)  {
			                if (thirdCategoryNum == data[i].categoryId) {
			                	thirdCategorys.append('<option value="' + data[i].categoryId + '" selected>' + data[i].categoryNm + '</option>');
			                } else {
			                	thirdCategorys.append('<option value="' + data[i].categoryId + '">' + data[i].categoryNm + '</option>');	
			                }
		                }
		                console.log(secondCategoryIds);
		            }
		        });
		    }
		}
	}   
	
	// 카테고리 삭제시 확인 메시지 실행해서 삭제하기
    function deleteCategory(categoryId) {
        if (!confirm('해당 카테고리를 삭제하시겠습니까?')) {
            return false;
        }
        const formHtml = `
            <form id="deleteForm" action="/admin/category/delete?categoryId=${categoryId}" method="post">
            <input type="hidden" name=` + [[${_csrf.parameterName}]] + ` value=` + [[${_csrf.token}]] + ` /> 
            </form>
        `;
        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        setTimeout(() => {
            document.getElementById('deleteForm').submit();
        }, 50) //대기시간
    }  
    
    // 카테고리 수정을 위한 카테고리ID로 카테고리 정보 갖고오기
    function selectCategoryId(categoryId) {
        fetch("/admin/category/update/" + categoryId)
           .then(response => response.json())
           .then(data => {
               const categorylist = data;
               console.log("ddd",categorylist);
               document.getElementById("updateCategoryId").value = categorylist.categoryId; 
               document.getElementById("updateCategoryNm").value = categorylist.categoryNm;
               document.getElementById("updateCategoryContent").value = categorylist.categoryContent;
               document.getElementById("updateCategoryImage").src = categorylist.categoryImage;
           }); 
   }
   
 	 // 이미지 파일 개수 제한
     function fileCheck() {
    	var filesInput = document.getElementById("file");
        var filesError = document.getElementById("files-error");
        var filesEnrollBtn = document.getElementById("product-enroll-btn");
        
        if( filesInput.files.length < 1 ){
        	filesError.style.display = 'block';
        	filesError.innerText = '이미지 파일 1개를 업로드 해주세요';
        	filesEnrollBtn.disabled = true;
    	} else if(filesInput.files.length > 1) {
    		filesError.style.display = 'block';
        	filesError.innerText = '카테고리 이미지 적정 개수(1개)를 초과하였습니다!';
        	filesEnrollBtn.disabled = true;
    	} else {
    		filesError.style.display = 'none';
    		filesEnrollBtn.disabled = false;
    	}
    } 
	</script>

</body>
</html>