<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/bs-header :: bsHeader}"></head>
<link rel="stylesheet" th:href="@{/css/admin-css/admin-product.css}">
<link rel="stylesheet" th:href="@{/css/admin-css/admin-frame.css}">
<link rel="stylesheet" th:href="@{/css/category-update.css}">
<style>
.header-logo-img {
    width: 100%;
    height: 47%;
}
</style>
<body>
	<div th:replace="~{/include/admin-body-header :: adminBodyHeader}"></div>
	<div th:replace="~{/include/admin-frame :: adminFrame}"></div>
	<div class="container-lg" style="padding-top: 10px">
			<div style="font-weight: bold; margin-top: 10px; font-size:17px;">상품관리 <img class="cart-order-list-img" src="/assets/common/right_arrow_gray.svg"> 상품 카테고리 관리</div>
			<div style="padding-bottom: 10px;">
				<div class="col-sm-6" style="padding-left: 0px;">
					<button class="btn btn-primary" style="background-color: #1a385d; border-color:#1a385d"
					data-bs-toggle="modal" data-bs-target="#registerModal"
					type="button">페이지 설명서</button>
				</div>
			</div>
			<div class="menu-box">
	      		<ul class="menu-list sortable ul0"  value="root" style="width:100%"></ul>	
	   		</div>	
		</div>
	</div>
	</div>
	</div>
	<div class="check-modal">
			<div class="check-modal-frame d-flex flex-column justify-content-center align-items-center">
				<div>
					<p style="margin:0 10px 10px 10px" class="modal-text"></p>
				</div>
				<div class="d-flex justify-content-center align-items-center">
					<div style="width:100px; height:30px; background-color:#39594e; color:white; margin-right: 5px; cursor: pointer" onclick="updateCategory()">변경</div>
					<div style="width:100px; height:30px; border:1px solid; cursor: pointer" onclick="reload()">취소</div>		
				</div>
			</div>
		</div>

	<div th:replace="~{/include/admin-footer :: footer}"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ilikenwf.github.io/jquery.mjs.nestedSortable.js"></script>
	<script th:inline="javascript">
	
	const checkModal = document.querySelector('.check-modal');
	const sortableBox = document.querySelector('.sortable');
	var el = '';
	/*<![CDATA[*/
	const categoryList = /*[[${categoryList}]]*/
	/*]]>*/
	
	
	function updateCategory(){
		var child = '';
		var parent = '';
		if(el.parentElement.className == ''){
			child = el.className.substring(2);
			pCategoryId = el.parentElement.parentElement.className.substring(2);
		}else{
			child = el.className.substring(2);
			if(el.parentElement.className.substring(0,4) == "menu"){
				pCategoryId = 0;		
			}
			else{
				pCategoryId = el.parentElement.className.substring(2);
			}
		}
	  	let tag = document.createElement('form');
		
		let pEle = document.createElement('input');
		pEle.setAttribute('type','hidden');
		pEle.setAttribute('name', 'pCategoryId');
		pEle.setAttribute('value', pCategoryId);
	
		let cEle = document.createElement('input');
		cEle.setAttribute('type','hidden');
		cEle.setAttribute('name', 'categoryId');
		cEle.setAttribute('value', child);
		
		tag.appendChild(pEle);
		tag.appendChild(cEle);
		tag.setAttribute('method', 'post');
		tag.setAttribute('action', '/admin/category/update');
		document.body.appendChild(tag);
		tag.submit();
	}

	categoryList.map((data,idx) => {
		if(data.lv == 1){
			const elements = `<li class="li${data.categoryId}">
								<a onmouseup="drag(event)" style="padding-left: 10px; display:flex; align-items:center; height:40px; font-size:20px; border:1px solid #b6b6b6">
									≡ ${data.categoryNm}
								</a>
							  </li>`
			sortableBox.innerHTML += elements;
		}
		else{
			if(data.lv > categoryList[idx-1].lv){
				const elements = `<ul class="ul${data.categoryPrId}">
									<li class="li${data.categoryId}">
										<a onmouseup="drag(event)" style="padding-left: 10px; display:flex; align-items:center; height:40px; font-size:20px; border:1px solid #b6b6b6 ">
											└ ${data.categoryNm}
										</a>
									</li>
								  </ul>`
				const parent = document.querySelector(`.li${data.categoryPrId}`)
				parent.innerHTML += elements;
			}
			else if(data.lv <= categoryList[idx-1].lv){
				const elements = `<li class="li${data.categoryId}">
										<a onmouseup="drag(event)" style="padding-left: 10px; display:flex; align-items:center; height:40px; font-size:20px; border:1px solid #b6b6b6 ">
											└ ${data.categoryNm}
										</a>
								  </li>`
				const parent = document.querySelector(`.ul${data.categoryPrId}`)
				parent.innerHTML += elements;			
			}
		}
	}) 
	
	
	function drag(event){

		const text = event.target.textContent;
		const cName = event.target.parentElement.className.split(' ');
		console.log("cName : " + cName);
		const data = document.querySelector(`.${cName[0]}`);
		el = data;
		openModal(text);
	}
	
	
	$(document).ready(function() {
		$('.sortable').nestedSortable({
			forcePlaceholderSize: true,
			items: 'li',
			handle: 'a',
			placeholder: 'menu-highlight',
			listType: 'ul',
			maxLevels: 100,
			opacity: .6,
		});
	}); 
	
	//팝업창 열기
	function openModal(text){
		const modalText = document.querySelector('.modal-text');
		modalText.textContent = text + " 카테고리 위치를 수정하시겠습니까?";
		//offsetHeight=> 모달창 뒤 흑백 배경 크기를 맞추기 위해 html태그가 가지고 있는 offsetHeight를 가져온 후 modal의 height속성에 삽입
		var offsetHeight = document.querySelector('html').offsetHeight;
		checkModal.style.height = offsetHeight;
		//show 클래스 toggle(여기서는 modal 클래스에 show가 없으니 추가됨)
		checkModal.classList.toggle('show');
	}
	
	//화면 리로딩
	function reload(){
		window.location.href = '/admin/category/update';
	}

</script>
</body>
</html>