<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>

<div class="detail-order-main">
	<div class="detail-order-title">상세주문정보</div>
	
	<div class="detail-order-product-container">
		<div class="detail-order-product01">
			<button type="submit">리뷰남기기</button>
		</div><!-- detail-order-product01 -->
		
		<div class="detail-order-product02">
			<div class="detail-product-name">productName</div>
			<div class="detail-product-cost">productCost</div>
			<div class="detail-order-img">
				<img th:src="@{/assets/mypage/request.JPG}" width="80px">
			</div><!-- detail-order-img -->
			
		</div><!-- detail-order-product02 -->
	</div><!-- detail-order-product-container -->
	
	<div class="detail-receiver-title">받는사람정보</div>
	
	<div class="detail-order-table-container">
		<table class="detail-order-table">
			<tr>
			<th>받는사람</th>
			<th>연락처</th>
			<th>받는주소</th>
			<th>배송요청사항</th>
		</tr>
		
		<tr>
			<td>홍길동</td>
			<td>010-1234-1234</td>
			<td>울릉도 동남쪽 뱃길따라 200리</td>
			<td>문앞에 놔주세요</td>
		</tr>
		</table>
	
	</div><!-- detail-order-table-container -->
	
	
	<div class="empty"></div>
	
	
	
	
	
</div><!-- detail-order-main -->
<div th:replace="~{/include/footer :: footer}"></div>

</body>
</html>