<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>

<div class="mypage-coupon-main">
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard01}"></div>
<div class="mypage-coupon-title">쿠폰조회하기</div>

<div class="coupon-container">	
	<!-- 4자리만 입력가능하게 하는 JS -->
	<script th:inline="javascript">
	function maxNum(el, maxlength) {
		  if(el.value.length > maxlength)  {
		    el.value 
		      = el.value.substr(0, maxlength);
		  }
		}
	const error =  '[[${error}]]';
	   if(error != 'null'){
		   alert(error);
	   }	
	</script>
	
	<div class="coupon-table-container" style="margin-top:100px; margin-bottom:20px;">
	
	
		<div class="coupon-status-container">
			<div class="coupon-usable">사용가능</div>
			<div class="coupon-used"><a th:href="@{/mypage/mycoupon-used}">사용완료/기간만료</a></div>
		</div><!--coupon-status-container  -->
		
		<table>
			<tr>
				<th style="width:250px;">쿠폰명</th>
				<th>할인율</th>
				<th>만료일</th>
				<th>상태</th>
			</tr>
				
			<tr th:each="selectCustomerCoupon : ${selectCustomerCouponList}">
				<td th:text="${selectCustomerCoupon.couponNm}">쿠폰명</td>
				<td th:text="|${selectCustomerCoupon.couponDscntRate}%|">할인율</td>
				<td th:text="${selectCustomerCoupon.couponEprDt}">만료일</td>
				<td style="color:blue;"	th:text="${selectCustomerCoupon.couponUseDv}">사용가능여부</td>
			</tr>
		</table>
		
		
		
	</div><!-- coupon-table-container -->
	
	


</div><!-- coupon-container -->
</div><!--mypage-coupon-main  -->

<div th:if="${countcoupon}!=0" style="display:flex; justify-content: center;">
<nav  aria-label="Page navigation">
<ul class="pagination01">
	<li th:if="${nowPageBlock>1}">
		<a th:href="@{/mypage/mycoupon (page=__${startPage-1}__)}" aria-label="Previous">◀</a>
	</li>

	<li th:onclick ="|location.href='@{/mypage/mycoupon (page=__${i}__)}'|"
		th:each="i: ${#numbers.sequence(startPage, endPage)}" th:classappend="${i==nowPage}?active">
		<a th:href="@{/mypage/mycoupon(page=__${i}__)}">[[${i}]]</a>		
	</li>
	
	<li th:if="${nowPageBlock<totalPageBlock}">
		<a th:href="@{/mypage/mycoupon (page=__${endPage+1}__)}" aria-label="Next">▶</a>
	</li>
</ul>
</nav>
</div>

<div th:replace="~{/include/footer :: footer}"></div>

</body>
<script th:src="@{/js/mic.js}"></script>
</html>