<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>

<div class="mypage-coupon-main">
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard01}"></div>
<div class="mypage-coupon-title">쿠폰등록하기</div>

<div class="coupon-container">
	<div class="coupon-number-container">
		<div class="coupon-insert-title">쿠폰번호입력</div>
		
		<div class="coupon-number-input-container">
		<form th:action="@{/mypage/mycoupon}" method="post">
			<input autocomplete=off name="couponNum1" type="text" class="coupon-num-01" oninput='maxNum(this, 4)'>
			<input autocomplete=off name="couponNum2" type="text" class="coupon-num-01" oninput='maxNum(this, 4)'>
			<input autocomplete=off name="couponNum3" type="text" class="coupon-num-01" oninput='maxNum(this, 4)'>
			<input autocomplete=off name="couponNum4" type="text" class="coupon-num-01" oninput='maxNum(this, 4)'>
			<button type="submit">등록하기</button>
		</form>
		</div><!-- coupon-number-input-container -->
		
	</div><!-- coupon-number-container -->
	
	<!-- 4자리만 입력가능하게 하는 JS -->
	<script>
	function maxNum(el, maxlength) {
		  if(el.value.length > maxlength)  {
		    el.value 
		      = el.value.substr(0, maxlength);
		  }
		}
	</script>
	
	<div class="coupon-table-container">
	
	
		<div class="coupon-status-container">
			<div class="coupon-usable">사용가능</div>
			<div class="coupon-used"><a th:href="@{/mypage/mycoupon-used}">사용완료/기간만료</a></div>
		</div><!--coupon-status-container  -->
		
		<table>
			<tr>
				<th>쿠폰명</th>
				<th>할인율</th>
				<th>만료일</th>
				<th>상태</th>
			</tr>
				
			<tr th:each="selectCustomerCoupon : ${selectCustomerCouponList}">
				<td th:text="${selectCustomerCoupon.couponNm}">쿠폰명</td>
				<td th:text="${selectCustomerCoupon.couponDscntRate}">할인율</td>
				<td th:text="${selectCustomerCoupon.couponEprDt}">만료일</td>
				<td	th:text="${selectCustomerCoupon.couponUseDv}">사용가능여부</td>
			</tr>
		</table>
		
		
		
	</div><!-- coupon-table-container -->
	
	


</div><!-- coupon-container -->
</div><!--mypage-coupon-main  -->


<div th:replace="~{/include/footer :: footer}"></div>

</body>
</html>