<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>


	<div class="mypage-inquiry-main">
		<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard01}"></div>
		<div class="mypage-inquiry-title">내 문의관리</div>

		<div style="width: 800px; margin-right: 55px;">
			<div th:if="${myinquirylist} != null"
				class="mypage-inquiry-table-container">

				<table class="mypage-inquiry-table">
					<tr>
						<th>상품정보</th>
						<th>문의내용</th>
						<th>문의작성일자</th>
						<th>상태</th>

					</tr>
					<tr style="font-size: 80%;" th:each="myinquiry : ${myinquirylist}">
						<td><div class="my-inquiry-product-img">이미지</div>
							<div th:text="${myinquiry.productNm}"
								class="my-inquiry-productNm">남성무지반팔티</div></td>
						<td><div th:text="${myinquiry.inquiryContent}" id="btn-modal">문의
								내용</div></td>
						<td th:text="${myinquiry.createDt}">23-08-01</td>
						<td>
							<div style="color: red; padding-bottom: 5px;"
								th:if="${myinquiry.inquiryAnsDv}=='W'">답변대기</div>
							<div style="color: blue; padding-bottom: 5px;"
								th:if="${myinquiry.inquiryAnsDv}=='C'">답변완료</div>
							<input type="button" th:if="${myinquiry.inquiryAnsDv}=='C'" id="show-reply" th:onclick="new_window([[${myinquiry.inquiryId}]]);" value="답변보기">	
							<form th:action="@{/mypage/myinquiry/__${myinquiry.inquiryId}__}"
								method="post">
								<button type="submit" class="mypage-inquiry-delete">삭제</button>

								<input type="hidden" name=productId
									th:value="${myinquiry.productId}" /> 
									<input type="hidden"
									name=customerId th:value="${myinquiry.customerId}" /> 
									<input
									type="hidden" name=inquiryId th:value="${myinquiry.inquiryId}" />
							</form>
						</td>

					</tr>
				</table>
				<!-- mypage-inquiry-table -->
				
				<script>
	    			function new_window(item) {
	        				window.open(
	        						"/mypage/myinquiryreply/"+ item, 
	          								"Child",
	          								"width=800, height=550, top=50, left=350"
	        							);
	     								 }
    			</script>
			</div>
			<!-- mypage-inquiry-table-container -->
			<div th:if="${myInquiryStatusY}==0" class="none-inquiry">문의내역이
				없습니다.</div> 
			
		</div>
		<!-- style="width:800px;margin-right:55px;"  -->

	</div>
	<!-- mypage-inquiry-main -->
	<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>