<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
<link rel="stylesheet" th:href="@{/css/admin-frame.css}">
</head>
<body>
<form th:action="@{/mypage/order-list}" method="post">
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>



<div class="title-order-list">주문목록</div>
	
<div class="order-category">
	<div class="search-shipping-rectangle01">전체주문조회</div>
	<div class="search-shipping-rectangle02">결제취소</div>
	<div class="search-shipping-rectangle03">배송중</div>
	<div class="search-shipping-rectangle04">배송완료</div>
</div><!-- order-category -->

	<div class="order-list-container" >
		<div class="shipping-status">배송완료</div>
		<div class="shipping-date">8/2(금)도착</div>
		<div class="purchase-img-001">이미지</div>
		<div class="purchase-inform-001" >ProductName</div>
	<div class="detail-button-container">
		<div class="search-shipping-button">배송중</div>
	</div><!-- shipping-button-container -->	
	</div><!-- order-list-container -->
</form>







<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>