<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
<link rel="stylesheet" th:href="@{/css/admin-frame.css}">
</head>
<body>
<form th:action="@{/mypage/order-list}" method="post">
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>


 <div class="order-list-main"> 
 <div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard01}"></div>
 
	<div class="title-order-list">배송완료</div>
		
	<div class="order-category">
		<div class="ship-complete-rectangle01"><a th:href="@{/mypage/orderlist}">전체주문조회</a></div>
		<div class="ship-complete-rectangle02"><a th:href="@{/mypage/canclepay}">입금/결제</a></div>
		<div class="ship-complete-rectangle03"><a th:href="@{/mypage/searchshipping}">배송중</a></div>
		<div class="ship-complete-rectangle04"><a th:href="@{/mypage/shippingcomplete}">배송완료</a></div>
	</div><!-- order-category -->
	<div style="margin-top:200px; padding-right:55px;">
	<div style="width:800px;" th:if="${shippingCompleteCount} == 0">
			<img style="width:800px; border-radius:10px;" th:src="@{/assets/mypage/shippingcomplete.JPG}">
	</div>
		<th:block th:each="purchase : ${purchaseList}">
			<div th:if="${purchase.purchaseDv}==배송완료" class="order-list-container">
				<div class="order-list-container-01">
				<div style="display:flex;">
					<div style="color:#39594e; font-size:20px; font-weight: bold;" th:text="${purchase.purchaseDv}">배송완료</div>
					<div class="my-order-date" th:text="|주문날짜: ${purchase.createDt}|">주문날짜</div> 
				</div>	
				
				<div style="margin-top:10px;">
					<div class="purchase-img-001"><img style="width:100%; height:100%;" th:src="${purchase.productImg}"></div>
					<div class="purchase-product-inform">
						<div class="purchase-number" th:text="|주문번호: ${purchase.purchaseNum}|">주문번호</div>
						<div class="purchase-inform-001" th:text="|상품명: ${purchase.productNm}|" >ProductName</div>
						<div class="purchase-count" th:text="|수량: ${purchase.purchaseCount}개|">구매수량</div>
						<div class="purchase-product-cost" th:text="|상품가격: ${purchase.purchasePrice}원|"></div>
						<div class="purchase-total-cost"th:text="|총 가격: ${purchase.totalCost}원|">총 가격</div>
					</div><!-- purchase-product-inform -->
				</div>
				</div><!-- order-list-container01 -->
				
				
				<div class="detail-button-container">
					<div style="height:100%; line-height: normal; display: flex; flex-direction: column; justify-content: center; align-items: center; ">
						<input type="button" th:onclick="|location.href='@{/mypage/mydetailorder?purchaseNum=__${purchase.purchaseNum}__}'|"  value="주문상세보기" class="detail-button">
						<input type="button" th:if="${purchase.purchaseDv} == '배송완료' and ${purchase.reviewCount} == 0" th:onclick="|location.href='@{/mypage/writeReview?productId=__${purchase.productId}__&purchaseNum=__${purchase.purchaseNum}__}'|" value="리뷰남기기" class="detail-button01">
						<input class="review-complete-button" type="button" th:if="${purchase.purchaseDv} == '배송완료' and ${purchase.reviewCount} == 1" value="리뷰작성완료" disabled="disabled">
					</div>
				</div><!-- shipping-button-container -->	
			</div><!-- order-list-container -->
		 </th:block>
		 </div>
 </div><!-- order-list-main -->

</form>


<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>