<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>


<div class="mypage-inquiry-main">
	<div class="mypage-inquiry-title">내 문의관리</div>
	
	<div class="mypage-inquiry-table-container">
		<table class="mypage-inquiry-table">
			<tr>
				<th>상품명</th>
				<th>문의내용</th>
				<th>문의작성일자</th>
				<th>상태</th>
			</tr>
			<tr>
				<td>남성무지반팔티</td>
				<td>문의는 포도가 먹고싶어용</td>
				<td>23-08-01</td>
				<td>답변완료<br><button id="mypage-inquiry-delete">삭제</button></td>
			</tr>	
		</table><!-- mypage-inquiry-table -->
	</div><!-- mypage-inquiry-table-container -->
</div><!-- mypage-inquiry-main -->






<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>