<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>


<div class="mypage-inquiry-main">
 <div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard01}"></div>
	<div class="mypage-inquiry-title">내 문의관리</div>
	<div style="width:800px;margin-right:55px;">
	<div class="mypage-inquiry-table-container">
		<table class="mypage-inquiry-table">
			<tr>
				<th>상품명</th>
				<th>문의내용</th>
				<th>문의작성일자</th>
				<th>상태</th>
			</tr>
			<tr>
				<td><div class="my-inquiry-product-img">이미지</div><div class="my-inquiry-productNm">남성무지반팔티</div></td>
				<td><div class="my-inquiry-content">이몸이 죽고죽어 일백번 고쳐죽어 백골이 진토되어 넋이라도 있고없고 임향한 일편단심 가실줄이 있으랴</div></td>
				<td>23-08-01</td>
				<td><div>답변완료</div><button id="mypage-inquiry-delete">삭제</button></td>
			</tr>	
		</table><!-- mypage-inquiry-table -->
	</div><!-- mypage-inquiry-table-container -->
</div><!-- mypage-inquiry-main -->





</div>
<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>