<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
<link rel="stylesheet" th:href="@{/css/admin-frame.css}">
</head>
<body>
<form th:action="@{/mypage/order-list}" method="post">
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>


	<div class="shipping-complete-main">
		<div class="title-order-list">주문목록</div>
			
		<div class="order-category">
			<div class="shipping-complete-rectangle01"><a th:href="@{/mypage/orderlist}">전체주문조회</a></div>
			<div class="shipping-complete-rectangle02"><a th:href="@{/mypage/canclepay}">결제취소</a></div>
			<div class="shipping-complete-rectangle03"><a th:href="@{/mypage/searchshipping}">배송중</a></div>
			<div class="shipping-complete-rectangle04"><a th:href="@{/mypage/shippingcomplete}">배송완료</a></div>
		</div><!-- order-category -->
		
			<div class="order-list-container" >
				<div class="shipping-status">배송완료</div>
				<div class="shipping-date">8/2(금)도착</div>
				<div class="purchase-img-001">이미지</div>
				<div class="purchase-inform-001" >ProductName</div>
			<div class="detail-button-container">
				<div class="shipping-complete-button">배송완료</div>
			</div><!-- shipping-button-container -->	
			</div><!-- order-list-container -->
	</div><!--shipping-complete-main  -->
</form>







<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>