<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
<div class="my-detail-review-title">리뷰상세보기</div>
<div style="width:100%; display: flex; justify-content: center; margin-top:20px;">
	<div style="width:95%;">
	<div class="detail-review-info-title">상품정보</div>
	<div style="padding: 30px; border: 1px solid #888888; border-top: none; height: 230px; position: relative;">
		<div class="detail-review-product-img"><img style="width:100%; height:100%;" th:src="${myreviewlist.productImg}"></div>
		<div style="font-size: 18px; padding-left:160px; font-weight: 600;" th:text="|상품명 : ${myreviewlist.productNm}|">상품명</div>
		<div class="detail-review-starpoint" th:if="${myreviewlist.reviewStarPoint}==5"><span>평점 및 별점 : </span>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
		<div class="detail-review-starpoint" th:if="${myreviewlist.reviewStarPoint}==4"><span>평점 및 별점 : </span>&#9733;&#9733;&#9733;&#9733;<span style="color:#c0c0c0;">&#9733;</span></div>
		<div class="detail-review-starpoint" th:if="${myreviewlist.reviewStarPoint}==3"><span>평점 및 별점 : </span>&#9733;&#9733;&#9733;<span style="color:#c0c0c0;">&#9733;&#9733;</span></div>
		<div class="detail-review-starpoint" th:if="${myreviewlist.reviewStarPoint}==2"><span>평점 및 별점 : </span>&#9733;&#9733;<span style="color:#c0c0c0;">&#9733;&#9733;&#9733;</span></div>
		<div class="detail-review-starpoint" th:if="${myreviewlist.reviewStarPoint}==1"><span>평점 및 별점 : </span>&#9733;<span style="color:#c0c0c0;">&#9733;&#9733;&#9733;&#9733;</span></div>
		<div class="detail-review-starpoint0" th:if="${myreviewlist.reviewStarPoint}==0"><span style="color:black;">평점 및 별점 : </span>&#9733;&#9733;&#9733;&#9733;&#9733;</div>
		
	</div>
	
	<div class="my-detail-review-content-title">리뷰내용</div>
	<div style="padding: 20px; border: 1px solid #888888; border-top: none; height: 230px; position: relative;">
		<div style="padding-left:15px;" class="detail-review-content">[(${myreviewlist.reviewContent})]</div>
	<div class="detail-review-img-container">
		<div class="detail-review-img01"th:if="${myreviewlist.reviewImageFirst} != 'null'"><img style="width:100%; height: 100%;" th:src="${myreviewlist.reviewImageFirst}"></div>
		<div class="detail-review-img02" th:if="${myreviewlist.reviewImageSecond} != 'null'"><img style="width:100%; height: 100%;" th:src="${myreviewlist.reviewImageSecond}"></div>
		<div class="detail-review-img03" th:if="${myreviewlist.reviewImageThird} != 'null'"><img style="width:100%; height: 100%;" th:src="${myreviewlist.reviewImageThird}"></div>
	</div>
		<div style="font-size: 16px; color: #888888; position: absolute; bottom: 20px;" th:text="|작성일자 : ${myreviewlist.createDt}|">작성일자</div>
	</div>
	<div>
		<input id="close-detail-review-window" type="button" onclick="closeTabClick();" value="닫기">
	</div>
</div>

</div>

<script>
	function closeTabClick() {
    	window.close();
	}
</script>
</body>
</html>