<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>
	
<div class="review-main">
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard01}"></div>

	 <div class="title-review">내 리뷰</div>
	 <div>
		 <th:block th:each="mypageReview : ${mypageReviewList}">
			<div class="my-review-container">
			<div style="width:500px;">
				<div th:text="|제목: ${mypageReview.reviewTitle}|" class="my-review-title">리뷰제목</div>
				<div th:text="|상품명: ${mypageReview.productNm}|" class="my-review-product">상품이름</div>
				<div th:if="${mypageReview.reviewStarPoint}==5" class="my-review-star-point">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
				<div th:if="${mypageReview.reviewStarPoint}==4" class="my-review-star-point">&#9733;&#9733;&#9733;&#9733;</div>
				<div th:if="${mypageReview.reviewStarPoint}==3" class="my-review-star-point">&#9733;&#9733;&#9733;</div>
				<div th:if="${mypageReview.reviewStarPoint}==2" class="my-review-star-point">&#9733;&#9733;</div>
				<div th:if="${mypageReview.reviewStarPoint}==1" class="my-review-star-point">&#9733;</div>
				<div th:text="${mypageReview.reviewContent}" class="my-review-content">넘흐예쁘네욤</div>
			</div>
				<div class="my-review-photo-container">
					<div class="my-review-photo-01">이미지1</div>
					<div class="my-review-photo-01">이미지2</div>
					<div class="my-review-photo-01">이미지3</div>
				</div><!-- my-review-photo-container -->
				<div class="my-review-button-container">
					<div class="my-review-like-count">456 좋아요</div>
					<button type="submit">삭제</button>
				</div><!-- my-review-button-container -->
			</div><!-- my-review-container -->
		 </th:block>
	 </div>	
</div><!-- review-main -->


	<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>