<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/header :: header">
</head>
<body>
<div th:replace="include/body-header :: bodyHeader"></div>
<div th:replace="include/mypage-bread-board :: mypageBreadBoard"></div>

<div class="update-customer-main">
<div th:replace="include/mypage-bread-board :: mypageBreadBoard01"></div>
<div class="update-customer-title">회원정보수정</div>
<div style="margin-right:102px;">
<div class="update-table-container-01">
<form th:action="@{/mypage/updateuser}" method="post">
	<table class="update-table">
		<tr>
			<th>아이디(이메일)</th>
			<th>이름</th>
			<th>휴대폰번호</th>
			<th>현재 비밀번호 </th>
			<th>새 비밀번호</th>
			<th>새 비밀번호 확인</th> 
		</tr>
		
		<tr>
			<td>
				<div style="float:left;" th:text="${MyEmail}">이메일</div>
				<input autocomplete=off name="newEmail" type="email" id="change-email-input" style="display:none">
				<button id="change-email" onclick="showEmailInput()" type="button">이메일변경</button>
				<button id="close-change-email" onclick="hiddenEmailInput()" type="button" style="display:none">닫기</button>
			</td>
			<td>
				<div style="float:left;" th:text="${MyName}">이름	</div>
				<input autocomplete=off name="newName" type="text" id="change-name-input" style="display:none">
				<button  id="change-name" onclick="showNameInput()" type="button">이름변경</button>
				<button id="close-change-name" onclick="hiddenNameInput()" type="button" style="display:none">닫기</button>
			</td>
			<td>
				<div style="float:left;" th:text="${MyTelNo}">전화번호</div>
				<input autocomplete=off maxlength="13" oninput="oninputPhone(this)" name="newTelNO" type="text" id="change-phonenumber-input" style="display:none">
				<button  id="change-phonenumber" onclick="showPhoneNumberInput()" type="button">번호변경</button>
				<button id="close-change-phonenumber" onclick="hiddenPhoneNumberInput()" type="button" style="display:none">닫기</button>
			</td>
			<td><input name="nowPassword" type="password"></td>
			<td><input name="newPassword" type="password"></td>
			<td><input name="checkNewPassword" type="password"> 
		</tr>
	</table>
			<script>
				//이메일 수정창 보이기
				function showEmailInput(){
					document.getElementById("change-email-input").style.display="inline-block";
					document.getElementById("close-change-email").style.display="inline-block";
					document.getElementById("change-email").style.display="none";
				}
				//이메일 수정창 숨기기
				function hiddenEmailInput(){
					document.getElementById("change-email-input").style.display="none";
					document.getElementById("change-email").style.display="inline-block";
					document.getElementById("close-change-email").style.display="none";
				}
				//이름 수정창 보이기
					function showNameInput(){
					document.getElementById("change-name-input").style.display="inline-block";
					document.getElementById("close-change-name").style.display="inline-block";
					document.getElementById("change-name").style.display="none";
				}
				//이름 수정창 숨기기
				function hiddenNameInput(){
					document.getElementById("change-name-input").style.display="none";
					document.getElementById("change-name").style.display="inline-block";
					document.getElementById("close-change-name").style.display="none"; 
				}
				//전화번호 수정창 보이기
				function showPhoneNumberInput(){
					document.getElementById("change-phonenumber-input").style.display="inline-block";
					document.getElementById("close-change-phonenumber").style.display="inline-block";
					document.getElementById("change-phonenumber").style.display="none";
				}
				
				//전화번호 수정창 숨기기
				function hiddenPhoneNumberInput(){
					document.getElementById("change-phonenumber-input").style.display="none";
					document.getElementById("change-phonenumber").style.display="inline-block";
					document.getElementById("close-change-phonenumber").style.display="none"; 
				}
				//전화번호 표현식
				function oninputPhone(target) {
				    target.value = target.value
				        .replace(/[^0-9]/g, '')
				        .replace(/(^02.{0}|^01.{1}|[0-9]{3,4})([0-9]{3,4})([0-9]{4})/g, "$1-$2-$3");
				}
			</script>
	<div class="update-user-button-container">
		<button type="submit" id="update-user-bottom-button">저장하기</button>
	</div><!--update-user-button-container  -->
</form>
		<button th:onclick="|location.href='@{/mypage/orderlist}'|" id="update-user-bottom-button01">취소하기</button>
</div><!-- update-table-container-01 -->
</div>

</div><!-- update-customer-main -->
<script>
		   var msg = '[[${msg}]]';
		   if(msg === '중복된 이메일 입니다.') {
		       alert("중복된 이메일 입니다.");
		   }
		   var msg1 = '[[${msg1}]]';
		   if(msg1 === '비밀번호변경완료') {
		       alert("비밀번호가 변경되었습니다.");
		   }
		   var msg2 = '[[${msg2}]]';
		   if(msg2 === '새비밀번호일치하지않음') {
		       alert("새 비밀번호와 새 비밀번호확인이 일치하지 않습니다.");
		   }
		   var msg3 = '[[${msg3}]]';
		   if(msg3 === '현재비밀번호일치하지않음') {
		       alert("현재비밀번호가 일치하지 않습니다.");
		   }
		   var msg4 = '[[${msg4}]]';
		   if(msg4 === '변경된정보없음') {
		       alert("변경된 정보가 없습니다.");
		   }
		   var msg5 = '[[${msg5}]]';
		   if(msg5 === '이름변경됨') {
		       alert("이름이 변경되었습니다.");
		   }
		   var msg6 = '[[${msg6}]]';
		   if(msg6 === '이메일변경됨') {
		       alert("이메일이 변경되었습니다.");
		   }
		   var msg7 = '[[${msg7}]]';
		   if(msg7 === '전화번호변경됨') {
		       alert("전화번호가 변경되었습니다.");
		   }
		   
</script>


<div th:replace="include/footer :: footer"></div>
<script th:src="@{/js/mic.js}"></script>
</body>
</html>