<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>

<div class="update-customer-main">
<div class="update-customer-title">회원정보수정</div>

<div class="update-table-container-01">
	<table class="update-table">
		<tr>
			<th>아이디(이메일)</th>
			<th>이름</th>
			<th>휴대폰번호</th>
			<th>현재 비밀번호 </th>
			<th>새 비밀번호</th>
			<th>새 비밀번호 확인</th> 
		</tr>
		
		<tr>
			<td>hong@naver.com
				<input type="text" id="change-email-input" hidden><button type="submit" hidden>확인</button>
				<button id="change-email" onclick="showEmailInput()" type="button">이메일변경</button>
			</td>
			<td>홍길동
			<input type="text" id="change-name-input" hidden><button type="submit" hidden>확인</button>
			<button  id="change-name" onclick="showNameInput()" type="button">이름변경</button>
			</td>
			<td>010-1234-1234
			<input type="text" id="change-phonenumber-input" hidden><button type="submit" hidden>확인</button>
			<button  id="change-phonenumber" onclick="showPhoneNumberInput()" type="button">번호변경</button>
			</td>
			<td><input type="password"></td>
			<td><input type="password"></td>
			<td><input type="password"><button type="button">변경확인</button></td>
		</tr>
	</table>
			<script>
				function showEmailInput(){
					document.getElementById("change-email-input").removeAttribute("hidden");
				}
				function showNameInput(){
					document.getElementById("change-name-input").removeAttribute("hidden");
				}
				function showPhoneNumberInput(){
					document.getElementById("change-phonenumber-input").removeAttribute("hidden");
				}
			</script>
	<div class="update-user-button-container">
		<button type="submit" id="update-user-bottom-button">저장하기</button>
		<button type="submit" id="update-user-bottom-button">취소하기</button>
	</div><!--update-user-button-container  -->
</div><!-- update-table-container -->


</div><!-- update-customer-main -->




<div th:replace="~{/include/footer :: footer}"></div>
</body>
</html>