<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard}"></div>

<div class="update-customer-main">
<div th:replace="~{/include/mypage-bread-board :: mypageBreadBoard01}"></div>
<div class="update-customer-title">회원정보수정</div>
<div style="margin-right:102px;">
<div class="update-table-container-01">
<form th:action="@{/mypage/updateuser}" method="post">
	<table class="update-table">
		<tr>
			<th>아이디(이메일)</th>
			<th>이름</th>
			<th>휴대폰번호</th>
			<th>현재 비밀번호 </th>
			<th>새 비밀번호</th>
			<th>새 비밀번호 확인</th> 
		</tr>
		
		<tr>
			<td>
				<div style="float:left;" th:text="${MyEmail}">이메일</div>
				<input autocomplete=off name="newEmail" type="email" id="change-email-input" hidden>
				<button id="change-email" onclick="showEmailInput()" type="button">이메일변경</button>
			</td>
			<td>
				<div style="float:left;" th:text="${MyName}">이름	</div>
				<input autocomplete=off name="newName" type="text" id="change-name-input" hidden>
				<button  id="change-name" onclick="showNameInput()" type="button">이름변경</button>
			</td>
			<td>
				<div style="float:left;" th:text="${MyTelNo}">전화번호</div>
				<input autocomplete=off maxlength="13" oninput="oninputPhone(this)" name="newTelNO" type="text" id="change-phonenumber-input" hidden>
				<button  id="change-phonenumber" onclick="showPhoneNumberInput()" type="button">번호변경</button>
			</td>
			<td><input name="nowPassword" type="password"></td>
			<td><input name="newPassword" type="password"></td>
			<td><input name="checkNewPassword" type="password"> 
		</tr>
	</table>
			<script>
				function showEmailInput(){
					document.getElementById("change-email-input").removeAttribute("hidden");
				}
				function showNameInput(){
					document.getElementById("change-name-input").removeAttribute("hidden");
				}
				function showPhoneNumberInput(){
					document.getElementById("change-phonenumber-input").removeAttribute("hidden");
				}
				function oninputPhone(target) {
				    target.value = target.value
				        .replace(/[^0-9]/g, '')
				        .replace(/(^02.{0}|^01.{1}|[0-9]{3,4})([0-9]{3,4})([0-9]{4})/g, "$1-$2-$3");
				}
			</script>
	<div class="update-user-button-container">
		<button type="submit" id="update-user-bottom-button">저장하기</button>
	</div><!--update-user-button-container  -->
</form>
		<button th:onclick="|location.href='@{/mypage/orderlist}'|" id="update-user-bottom-button01">취소하기</button>
</div><!-- update-table-container-01 -->
</div>

</div><!-- update-customer-main -->
<script>
		   var msg = '[[${msg}]]';
		   if(msg === '중복된 이메일 입니다.') {
		       alert("중복된 이메일 입니다.");
		   }
		   var msg1 = '[[${msg1}]]';
		   if(msg1 === '비밀번호변경완료') {
		       alert("비밀번호가 변경되었습니다.");
		   }
		   var msg2 = '[[${msg2}]]';
		   if(msg2 === '새비밀번호일치하지않음') {
		       alert("새 비밀번호와 새 비밀번호확인이 일치하지 않습니다.");
		   }
		   var msg3 = '[[${msg3}]]';
		   if(msg3 === '현재비밀번호일치하지않음') {
		       alert("현재비밀번호가 일치하지 않습니다.");
		   }
		   var msg4 = '[[${msg4}]]';
		   if(msg4 === '변경된정보없음') {
		       alert("변경된 정보가 없습니다.");
		   }
</script>


<div th:replace="~{/include/footer :: footer}"></div>
<script th:src="@{/js/mic.js}"></script>
</body>
</html>