<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>리뷰 작성하기</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WJB8ZT4ELE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WJB8ZT4ELE');
</script>
</head>
<head th:replace="include/header :: header">
<link rel="stylesheet" th:href="@{/css/admin-frame.css}">
</head>
<body>
<div th:replace="include/body-header :: bodyHeader"></div>
<div th:replace="include/mypage-bread-board :: mypageBreadBoard"></div> 


 <div class="write-review-main">
 <div th:replace="include/mypage-bread-board :: mypageBreadBoard01"></div>
	<div class="write-review-title">리뷰작성하기</div>
	<div style="margin-top:100px; padding-right:55px;">
		<th:block th:each="myReviewPurchase : ${MyReviewPurchaseList}">
			<form action="/mypage/writeReview" method="post" enctype="multipart/form-data">
				<input type="hidden" name="productId" th:value="${myReviewPurchase.productId}">
				<input type="hidden" name="customerId" th:value="${myReviewPurchase.customerId}">
				<input type="hidden" name="purchaseNum" th:value="${myReviewPurchase.purchaseNum}">
				<input type="hidden" name="purchaseId" th:value="${myReviewPurchase.purchaseId}">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<div class="order-list-container" style="border-radius: 5px;">
					<div class="order-list-container-01">
					<div th:text="|주문날짜 : ${myReviewPurchase.purchaseDt}|" class="my-product-review-date">주문날짜</div> 	
				<div style="margin-top:10px;">					
					<div class="purchase-img-001"><img style="width:100%; height:100%;" th:src="${myReviewPurchase.productImg}"></div>
					<div class="purchase-product-inform">
						<div th:text="|주문번호 : ${myReviewPurchase.purchaseNum}|"class="purchase-number">주문번호</div>
						<div th:text="|상품명 : ${myReviewPurchase.productNm}|"class="purchase-inform-001">ProductName</div>
						<div th:text="|수량 : ${myReviewPurchase.purchaseCount}개|"class="purchase-count" >구매수량</div>
						<div th:text="|상품가격 : ${myReviewPurchase.purchasePrice}|"class="purchase-product-cost">상품가격</div>
						<div th:text="|총가격 : ${myReviewPurchase.totalCost}|"class="purchase-total-cost">총 가격</div>
					</div><!-- purchase-product-inform -->
				</div>
				</div><!-- order-list-container01 -->	
			</div><!-- order-list-container -->
			
			<div th:if="${countcuspropur}==0">
			<div>
				<div style="float:left; padding-bottom:2px; border-bottom:solid 2px #39594e; margin-right: 45px; font-weight: 500;">별점</div>
				<div class="review-input">
					<!-- <input required onfocus="this.blur()" name="reviewStarPoint" th:text="${reviewStarPoint}" type="number" min="1" max="5" maxlength="1"/> -->
					<div class="rating"> 
					    <i class="rating__star far fa-star"></i>
					    <i class="rating__star far fa-star"></i>
					    <i class="rating__star far fa-star"></i>
					    <i class="rating__star far fa-star"></i>
					    <i class="rating__star far fa-star"></i>
					    <span class="rating__result"></span>
					    <input type="hidden" id="rating-star" name="reviewStarPoint">
					</div>
				</div>
			</div>
			
			<div style="margin-top:20px;">
				<div style="float:left; padding-bottom:2px; border-bottom:solid 2px #39594e; margin-right: 20px; font-weight: 500;">글 제목</div>
				<input required name="reviewTitle" autocomplete="off" th:text="${reviewTitle}" style="margin-left:10px; border:solid 2px #e7e7e7; border-radius: 5px; padding: 5px 0 5px 10px; width: 350px; font-size: 15px; outline: none;" type="text" placeholder="제목을 입력하세요"/>
			</div>
			<div style="margin-top:20px;"> 
				<div style="float:left; padding-bottom:2px; border-bottom:solid 2px #39594e; margin-right: 20px; font-weight: 500;">글 내용</div>
			<textarea required name="reviewContent" th:text="${reviewContent}" class="review-text-area" placeholder="고객님의 소중한리뷰를 여기에 작성해주세요!" style="padding: 10px; font-size: 15px; outline: none;"></textarea>
			</div>			
			<div class="insert">
					<div style="float:left; padding-bottom:2px; border-bottom:solid 2px #39594e; margin-right: 20px; font-weight: 500;">이미지</div>
		        	<input type="file" name="files" style="margin-left:15px;" multiple/>
			</div>
			<div class="write-review-button-container">
				<button id="save-button" type="submit">저장하기</button>
				<button id="cancle-button"  type="button" th:onclick="|location.href='@{/mypage/orderlist}'|">취소하기</button>
			</div><!--write-review-button-container  -->
			</div>
			<div th:if="${countcuspropur}!=0">
				<div style="margin-left:250px; font-size:150%;">이미 리뷰를 작성한 주문상품입니다.</div>
				<input type="button" class="already-review-back" th:onclick="|location.href='@{/mypage/orderlist}'|" value="뒤로가기">
			</div>
		</form>
	</th:block>
</div>
	
</div><!-- write-review-main -->

<div th:replace="include/footer :: footer"></div>
</body>
<script>
	const ratingStars = [...document.getElementsByClassName("rating__star")];
	const ratingResult = document.querySelector(".rating__result");
	const ratingStar = document.getElementById("rating-star");
	
	printRatingResult(ratingResult);
	
	function executeRating(stars, result) {
	   const starClassActive = "rating__star fas fa-star";
	   const starClassUnactive = "rating__star far fa-star";
	   const starsLength = stars.length;
	   let i;
	   stars.map((star) => {
	      star.onclick = () => {
	         i = stars.indexOf(star);
	
	         if (star.className.indexOf(starClassUnactive) !== -1) {
	            printRatingResult(result, i + 1);
	            for (i; i >= 0; --i) stars[i].className = starClassActive;
	         } else {
	            printRatingResult(result, i);
	            for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
	         }
	      };
	   });
	}
	
	function printRatingResult(result, num = 0) {
	   result.textContent = `${num}/5`;
	   ratingStar.value = `${num}`;
	}
	
	executeRating(ratingStars, ratingResult);
</script>
</html>