<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.purchase.repository.IPurchaseRepository">
<select id="selectAllOrderProduct" parameterType="int" resultType="com.example.daitso.purchase.model.PurchaseCheck">
	SELECT purchase_count					AS	"purchaseCount",
		   purchase_price					AS	"purchasePrice",
		   cc.common_code_nm				AS	"purchaseDv",
		   purchase_count * purchase_price	AS "totalCost",
		   product_nm						AS 	"productNm",
		   purchase_num						AS	"purchaseNum"
		   
   	  FROM purchase pur, product p, common_code cc
   	 WHERE customer_id=#{customerId} 
   	   AND pur.product_id = p.product_id
   	   AND pur.purchase_dv = cc.common_code_id
  ORDER BY purchase_id DESC
</select>

</mapper>