@charset "UTF-8";

.add-shipping-main{
	display: flex;
	justify-content: center;
}

/* 받는사람이름 입력 */
.post-receiver-container{
	margin-top:10%;
	width:800px;
	border:solid 1.5px #668663;
	
}
.post-receiver-container img {
	width:50px;
	height:50px;
}
.post-receiver-container input{
	width:700px;
	border:none;
	outline:none;
}
.post-address-input{
	width:800px;
	border-left:solid 1.5px #668663;
	border-right:solid 1.5px #668663;
	border-bottom:solid 1.5px #668663;

}
.post-address-input input{
	outline:none;
	
}
.post-address-input img{
	width:50px;
	height:50px;
}
.shipping-receiver-phonenumber{
	border-left:solid 1.5px #668663;
	border-right:solid 1.5px #668663;
	border-bottom:solid 1.5px #668663;
}
.shipping-receiver-phonenumber img{
	width:50px;
	height:50px;
}
.shipping-receiver-phonenumber input{
	width:700px;
	border:none;
	outline:none;
}
.shipping-receiver-request{
	border-left:solid 1.5px #668663;
	border-right:solid 1.5px #668663;
	border-bottom:solid 1.5px #668663;
}
.shipping-receiver-request img{
	width:50px;
	height:50px;
}
.shipping-receiver-request input{
	width:700px;
	border:none;
	outline:none;
}
.shipping-button-container{
	float:left;
	margin-left:32.5%;
	margin-top:3%;
}
#add-shipping-button{
	width:150px;
	height:50px;
	border:none;
	display:inline-block;
	background-color:#668663;
	color:white;
}
#cancle-add-shipping{
	width:150px;
	height:50px;
	border:solid 1px black;
	display:inline-block;
	background-color:white;
	color:#668663;
}

#find-post-button{
	background-color:#668663;
	color:white;
	border:none;
	height:10%;
	text-align:center;
	border-radius:10px;
}
#shipping-post-number{
	width:100px;
	border:solid 2px #e7e7e7;
	border-radius:5px;
}
#shipping-receiver-address{
	border:solid 2px #e7e7e7;
	border-radius:5px;
}
#shipping-address-detail{
	border:solid 2px #e7e7e7;
	border-radius:5px;
}
#shipping-address-referto{
	border:solid 2px #e7e7e7;
	border-radius:5px;
}

