@charset "UTF-8";
.order-list-main{
	display: flex;
	justify-content: center;
}

.pay-order-rectangle01{
	float:left;
	border-top:solid 1px #999999;
	border-left:solid 1px #999999;
	border-bottom:solid 1px #39594e;
	width:214px;
	height:55px;
	line-height:55px;
	text-align:center;
	background-color: #f8f8f8;
	font-weight: 500;
}
.pay-order-rectangle01 > a{
	text-decoration-line: none;
	color:#555555;
}
.pay-order-rectangle01 > a:hover{
	text-decoration:none;
	color:#555555;
}
.pay-order-rectangle02{
	float:left;
	border-top:solid 1px #39594e;
	border-right:solid 1px #39594e;
	border-left:solid 1px #39594e;
	width:214px;
	height:55px;
	line-height:55px;
	text-align:center;
	background-color:white;
	font-weight: 500;
}
.pay-order-rectangle02 > a{
	text-decoration-line:none;
	color:#39594e;
}
.pay-order-rectangle02 > a:hover{
	text-decoration:none;
	color:#39594e;
}
.pay-order-rectangle03{
	float:left;
	border-top:solid 1px #999999;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #39594e;
	width:214px;
	height:55px;
	line-height:55px;
	text-align:center;
	background-color: #f8f8f8;
	font-weight: 500;
}
.pay-order-rectangle03 a{
	text-decoration-line:none;
	color:#555555;
}
.pay-order-rectangle03 a:hover{
	text-decoration:none;
	color:#555555;
}
.pay-order-rectangle04{
	float:left;
	border-top:solid 1px #999999;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #39594e;
	width:214px;
	height:55px;
	line-height:55px;
	text-align:center;
	background-color: #f8f8f8;
	font-weight: 500;
}
.pay-order-rectangle04 a{
	text-decoration-line:none;
	color:#555555;
}
.pay-order-rectangle04 a:hover{
	text-decoration:none;
	color:#555555;
}

.order-list-container-01{
	width:600px;
	height:200px;
	padding-left:20px;
	padding-top:10px;
}

