@charset "UTF-8";
.detail-order-main{
	display: flex;
	justify-content: center;
}
.detail-order-list-container{
	border:solid 2px #e7e7e7;
	height:200px;
	width:800px;
	margin-top:-80px;
	border-radius:10px;
	margin-bottom:100px;
}
.detail-order-title{
	position:absolute;
	padding-bottom:0.5%;
	font-size:150%;
	margin-left:165px;
	margin-top:10px;
	width:855px;
	border-bottom:solid 3px #668663;
}
.purchase-number{
	width:600px;
}
.detail-receiver-title{
	border-bottom:solid 2px black;
	width:855px;
	font-size:150%;
	margin-left:-35px;
	padding-bottom:5px;
	margin-top:-50px;
}
.detail-order-table-container{
	margin-left:-35px;
	margin-top:30px;
	padding-bottom:50px;
}

.detail-order-table tr{
	border:solid 1px #e7e7e7;
	display:block;
	float:left;
}
.detail-order-table th{
	display:block;
	border:solid 1px #e7e7e7;
	background-color:#668663;
	color:white;
	width:200px;
	height:50px;
	text-align:center;
	padding-top:5%;
	font-weight:normal;
}
.detail-order-table td{
	display:block;
	border-top:solid 1px #e7e7e7;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	width:655px;
	height:50px;
	padding-top:1.5%;
	padding-left:2%;
}
.detail-button-container01{
	border-left:solid 2px #e7e7e7;
	width:255px;
	height:200px;
	float:right;
	margin-top:-200px;
	padding-top:50px;
}
.detail-order-button{
	color:#668663;
	font-size:80%;
	width:130px;
	height:40px;
	text-align:center;
	border:solid 1px #668663;
	border-radius:10px;
	padding-top:3.5%;
	margin-bottom:2%;
	margin-left:25%;
	margin-top:8%;
}
.detail-order-button a{
	color:#668663;
}
.detail-order-button a:hover{
	color:black;
}
