@charset "UTF-8";

.shipping-main{
	display: flex;
	justify-content: center;
}
.shipping-title{
	position:absolute;
	padding-bottom:0.5%;
	font-size:150%;
	margin-left:165px;
	margin-top:10px;
	width:855px;
	border-bottom:solid 3px #668663;
}
.address-tr-01{
	display:block;
	float:left;
	padding-left:5%;
	height:200px;
	
}
.address-tr-01 a{
	color:white;
	background-color:#b82824;
	border-radius:5px;
	font-size:100%;
	
}
.address-tr-02{
	display:block;
	float:left;
}
.address-tr-01 > td{
	display:block;
	white-space:nowrap;
	padding-top:1%;
	padding-bottom:1%;
}
.address-tr-02 > th{
	display:block;
	padding-left:1%;
	
}
.address-container{
	margin-top:20px;
	height:200px;
	border:solid 1.5px #668663;
	width:800px;
	border-radius:10px;
	padding-left:20px;
	padding-top:10px;
}
.add-address-container{
	margin-top:20px;
	height:40px;
	border-radius:10px;
	text-align:center;
	width:800px;
	border:solid 1.5px #668663;
	padding-top:1%;
 	box-shadow: 2px 2px 2px 2px gray;
}
.add-address-container a{
	color:#39594E;
	
}
.base-address{
	border:solid 2px blue;
	width:100px;
	border-radius:10px;
	text-align: center;
	color:blue;
}
.nomal-address{
	border:solid 2px gray;
	width:100px;
	border-radius:10px;
	text-align: center;
	color:gray;
}
.address-container button{
	border:none;
	background-color: #668663;
	color:white;
	border-radius:10px;
	width:50px;
}
