@charset "UTF-8";

.shipping-main{
	display: flex;
	justify-content: center;
}
.shipping-title{
	position:absolute;
	padding-bottom:10px;
	font-size:25px;
	margin-left:195px;
	margin-top:15px;
	width:890px;
	border-bottom:solid 2px #39594e;
	font-weight:600;
}

.address-container{
	margin-top:20px;
	height:220px;
	border:solid 1px #cecece;
	width:800px;
	padding-left:20px;
	padding-top:10px;
}
.add-address-container{
	margin-top:20px;
	height:40px;
	border-radius:5px;
	text-align:center;
	width:800px;
	border:solid 1.5px #39594e;
	padding-top:0.5%;
 	box-shadow: 2px 2px 2px 2px gray;
 	background-color: white;
 	color:#39594e;
 	font-weight: 500;
 	
}

.base-address{
	border:solid 1px #39594e;
	border-radius:5px;
	text-align: center;
	color:black;
	float:right;
	margin-right:610px;
	font-size: 15px;
	line-height: 29px;
	padding: 0 10px 0 10px;
}
.nomal-address{
	border:solid 2px gray;
	width:100px;
	border-radius:5px;
	text-align: center;
	color:gray;
}
.address-container button{
	border:solid 2px #39594e;
	background-color: white;
	color:#39594e;
	border-radius:5px;
	width:85px;
	height: 45px;
	font-weight: 600;
	font-size: 17px;
}

