@charset "UTF-8";
.coupon-ban-usable{
	padding-top:1.5%;
	width:50%;
	height:50px;
	border-bottom:solid 1.5px #668663;
	float:left;
	text-align:center;
	background-color:#f3f3f3;
}
.coupon-ban-used{
	padding-top:1.5%;
	border-top:solid 1.5px #668663;
	border-left:solid 1.5px #668663;
	border-right:solid 1.5px #668663;
	width:50%;
	height:50px;
	text-align:center;
	margin-left:50%;
	color:#668663;
}
.coupon-ban-usable a{
	color:black;
}
.coupon-ban-usable a:hover{
	color:#668663;
}