@charset "UTF-8";
.coupon-ban-usable{
	padding-top:1.5%;
	width:445px;
	height:55px;
	border-bottom:solid 1px #39594e;
	float:left;
	text-align:center;
	background-color:#f3f3f3;
}
.coupon-ban-used{
	padding-top:1.5%;
	border-top:solid 1px #39594e;
	border-left:solid 1px #39594e;
	border-right:solid 1px #39594e;
	width:444px;
	height:55px;
	text-align:center;
	margin-left:445px;
	color:#39594e;
}
.coupon-ban-usable a{
	color:black;
}
.coupon-ban-usable a:hover{
	color:#39594e;
}