@charset "UTF-8";
.order-list-main{
	display: flex;
	justify-content: center;
}
.title-order-list{
	position:absolute;
	padding-bottom:0.5%;
	font-size:150%;
	margin-left:165px;
	margin-top:10px;
	width:855px;
	border-bottom:solid 3px #39594e;
}
.order-category{
	margin-top:100px;
	position:absolute;
	margin-left:165px;
	width:auto;
}
.ship-ing-rectangle01{
	float:left;
	border:solid 1.5px #39594e;
	width:214px;
	height:45px;
	text-align:center;
	padding-top:1%;
	color:black;
}
.ship-ing-rectangle01 > a{
	text-decoration-line: none;
	color:black;
}
.ship-ing-rectangle01 > a:hover{
	color:#39594e;
}
.ship-ing-rectangle02{
	float:left;
	border-top:solid 1.5px #39594e;
	border-right:solid 1.5px #39594e;
	border-bottom:solid 1.5px #39594e;
	width:214px;
	height:45px;
	text-align:center;
	padding-top:1%;
}
.ship-ing-rectangle02 > a{
	text-decoration-line:none;
	color:black;
}
.ship-ing-rectangle02 > a:hover{
	color:#39594e;
}
.ship-ing-rectangle03{
	float:left;
	border-top:solid 1.5px #39594e;
	border-right:solid 1.5px #39594e;
	border-bottom:solid 1.5px #39594e;
	width:214px;
	height:45px;
	text-align:center;
	padding-top:1%;
	background-color:#39594e;
	color:white;
}
.ship-ing-rectangle03 a{
	text-decoration-line:none;
	color:white;
}
.ship-ing-rectangle03 a:hover{
	color:white;
}
.ship-ing-rectangle04{
	float:left;
	border-top:solid 1.5px #39594e;
	border-right:solid 1.5px #39594e;
	border-bottom:solid 1.5px #39594e;
	width:214px;
	height:45px;
	text-align:center;
	padding-top:1%;
}
.ship-ing-rectangle04 a{
	text-decoration-line:none;
	color:black;
}
.ship-ing-rectangle04 a:hover{
	color:#39594e;
}
.order-list-container{
	/* position:absolute; */
	border:solid 2px #e7e7e7;
	height:200px;
	width:800px;
	margin-top:0px;
	border-radius:10px;
	margin-bottom:30px;
	
}
.order-list-container-01{
	width:600px;
	height:200px;
	padding-left:20px;
	padding-top:10px;
}

.purchase-img-001{
	border:solid 1px orange;
	width:100px;
	height:100px;
	float:left;
	margin-top:10px;
}
.detail-button-container{
	border-left:solid 2px #e7e7e7;
	width:255px;
	height:200px;
	float:right;
	margin-top:-202px;
	padding-top:50px;
}
.detail-button{
	color:#39594e;
	font-size:80%;
	width:130px;
	height:40px;
	text-align:center;
	border:solid 1px #39594e;
	border-radius:5px;
	padding-top:3.5%;
	margin-bottom:2%;
	margin-left:25%;
}
.purchase-product-inform{
	font-size:90%;
	width:150px;
	height:100px;
	margin-left:115px;
}
.detail-button a{
	color:#39594e;
}
.detail-button a:hover{
	color:black;
}
