@charset "UTF-8";
.mypage-coupon-main{
	display: flex;
	justify-content: center;
	
}
.mypage-coupon-title{
	position:absolute;
	padding-bottom:10px;
	font-size:25px;
	margin-left:195px;
	margin-top:15px;
	width:890px;
	border-bottom:solid 2px #39594e;
	font-weight:600;
}

.coupon-container{
	width:855px;

}

.coupon-number-container{
	margin-top:100px;
	margin-left:-40px;
	width:855px;
	height:200px;
	background-color:#F3F3F3;
	padding-top:2%;
}
.coupon-insert-title{
	font-size:150%;
	margin-left:4%;
	font-weight:bold;
}

.coupon-number-container input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.coupon-number-container input{
	margin-left:2%;
	margin-top:2%;
	border:solid 1.5px #668663;
	width:100px;
	height:40px;
}

.coupon-number-input-container{
	margin-left:15%;
	margin-top:2%;
	
}
.coupon-number-input-container button{
	width:100px;
	height:40px;
	background-color:#668663;
	color:white;
	border:none;
	margin-left:2%;
}

.coupon-number-input-container button:focus{
	outline:none;
}
.coupon-number-container input:focus{
	outline-color:#39594E;
}
.coupon-status-container{
	width:855px;
	margin-top:5%;
	margin-left:-40px;
}
.coupon-usable{
	padding-top:1.5%;
	width:445px;
	height:55px;
	border-top:solid 1px #39594e;
	border-left:solid 1px #39594e;
	border-right:solid 1px #39594e;
	color:#39594e;
	float:left;
	text-align:center;
}
.coupon-used{
	padding-top:1.5%;
	border-bottom:solid 1px #39594e;
	width:444px;
	height:55px;
	text-align:center;
	margin-left:444px;
	background-color:#f3f3f3;

}
.coupon-table-container table{
	width:890px;
	margin-top:5%;
	text-align:center;
	margin-left:-40px;
}
.coupon-table-container th{
    width: 223px;
    height: 50px;
    background-color: #fafafa;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 500;
}

.empty{
	height:400px;
}
.coupon-used a{
	color:black;
}
.coupon-used a:hover{
	color:#39594e;
}

