@charset "UTF-8";

.mypage-inquiry-main{
	display: flex;
	justify-content: center;
}
.mypage-inquiry-title{
	position:absolute;
	padding-bottom:10px;
	font-size:25px;
	margin-left:195px;
	margin-top:15px;
	width:890px;
	border-bottom:solid 2px #39594e;
	font-weight:600;
}
.mypage-inquiry-table-container{
	margin-top:100px;
    margin-left: -43px;
    width: 890px; 
	
}
.mypage-inquiry-table{
	text-align:center;
}

.inquiry-table-th-1{
	width:260px;
	height:50px;
	background-color:#fafafa;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	vertical-align: middle;
	font-size:17px;
	font-weight: 500;
}
.inquiry-table-th-2{
	width:260px;
	height:50px;
	background-color:#fafafa;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	vertical-align: middle;
	font-size:17px;
	font-weight: 500;
}
.inquiry-table-th-3{
	width:140px;
	height:50px;
	background-color:#fafafa;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	vertical-align: middle;
	font-size:17px;
	font-weight: 500;
}
.inquiry-table-th-4{
	width:140px;
	height:50px;
	background-color:#fafafa;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	vertical-align: middle;
	font-size:17px;
	font-weight: 500;
}
.inquiry-table-th-5{
	width:100px;
	height:50px;
	background-color:#fafafa;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	vertical-align: middle;
	font-size:17px;
	font-weight: 500;
}
.mypage-inquiry-table td{
	font-size:15px;
	height:120px;
	border-bottom:solid 1px #d9d9d9;
	vertical-align: middle;
}
.mypage-inquiry-delete{
	border:solid 1px red;
	width:70px;
	background-color:white;
	color:red;
	border-radius:5px;
	font-weight: 500;
	margin-bottom:20px;
	font-size:85%;
	padding:5px 0 5px 0;
}
	
.mypage-inquiry-table button:focus{
	outline:none;
}	
#show-reply{
	border:solid 1px #39594e;
	width:70px;
	background-color:white;
	border-radius:5px;
	color:#39594e;
	font-weight: 500;
	margin-bottom:10px;
	margin-top:18px;
	font-size:85%;
	padding:5px 0 5px 0;
}
.my-inquiry-product-img{
	margin-top:10px;
	width:80px; 
	height:80px; 
	float:left;
}
.my-inquiry-content{
	padding-top:10px;
	width:300px; 
	height:50px; 
	overflow:hidden; 
	text-overflow: ellipsis; 
	white-space:nowrap;
}
.my-inquiry-productNm{
	margin-top:30px;
	width:130px;
	text-overflow: ellipsis; 
	white-space:nowrap;
	overflow:hidden; 
	padding-left:10px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.reply-content{
	padding-left:15px;
	padding-top:10px;
}


