@charset "UTF-8";
.review-main{
	display: flex;
	justify-content: center;
	
}
.title-review{
	position:absolute;
	padding-bottom:0.5%;
	font-size:150%;
	margin-left:165px;
	margin-top:10px;
	width:855px;
	border-bottom:solid 3px #39594e;
}
.my-review-container{
	border:solid 2px #e7e7e7;
	border-radius:10px;
	height:220px;
	width:800px;
	margin-right:55px;
	padding-top:10px;
	padding-left:20px;
	font-size:80%;
	margin-bottom:50px;
}
.my-review-photo-container{
	width:400px;
	height:80px;
	margin-top:30px;
	float:left;
}
.my-review-photo-01{
	border:solid 1px blue;
	width:60px;
	height:60px;
	float:left;
	margin-left:5px;
}
.my-review-button-container{
	float:right;
	width:200px;
	height:30px;
	padding-top:70px;
}
.my-review-button-container button{
	border:solid 1px #39594e;
	background-color:white;
	border-radius:5px;
	color:#39594e;
	width:80px;
	height:30px;
}
.my-review-button-container button:focus{
	outline:none;
}

.my-review-like-count{
	border-right:solid 2px #e7e7e7;
	width:100px;
	float:left;
	height:30px;
	text-align: center;
	margin-right:10px;
	padding-left:40px;
	font-size:150%;
	color:#ff73a0;
}
.my-review-star-point{
	color:orange;
	border-bottom:solid 1.5px #39594e;
	padding-bottom:10px;
	width:750px;
}
.my-review-star-point span{
	color:black;
}
