@charset "UTF-8";
.write-review-main{
	display: flex;
	justify-content: center;
}

.write-review-title{
	position:absolute;
	padding-bottom:0.5%;
	font-size:150%;
	margin-left:165px;
	margin-top:10px;
	width:855px;
	border-bottom:solid 3px #668663;
}
.review-text-area{
	margin-top:20px;
	width:800px;
	height:300px;
	border:solid 2px #e7e7e7;
	border-radius:10px;
	resize:none;
}

.review-input input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: inner-spin-button;    
    opacity: 1;
}
.review-input input{
	margin-left:10px;
	border:solid 1.5px #668663;
	border-radius:10px;
}
/* 파일첨부버튼 CSS */
.insert {
    padding: 20px 30px;
    display: block;
    width: 600px;
 
}
.insert .file-list {
    height: 100px;
    overflow: auto;
    border: 2px solid #e7e7e7;
    padding: 10px;
    border-radius:10px;
}
.insert .file-list .filebox p {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.insert .file-list .filebox .delete i{
    color: #ff5353;
    margin-left: 5px;
}
.write-review-button-container{
	display:flex;
	justify-content: center;
	padding-bottom:50px;
}
#save-button{
	width:200px;
	height:50px;
	margin-right:20px;
	background-color:#668663;
	color:white;
	border:none;
}
#cancle-button{
	width:200px;
	margin-left:20px;
	border:none;
}
.already-review-back{
	margin-left:280px;
	margin-top:50px;
	width:300px;
	height:50px;
	background-color: white;
	border:solid 2px #668663;
	color:#668663;
	border-radius:10px;
}

