<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>카테고리별 상품 리스트</title>
</head>
<div th:replace="~{/include/header :: header}"></div>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div class="d-flex justify-content-center align-items-center" style="height: 530px">
	<div class="d-flex" style="width: 1100px; height:440px">
		<div class="d-flex flex-column" style="margin-right: 10px">
			<div class="margin-b-5" th:if="${product.productImageFirst != null}" style="width:50px; height:50px;">
				<img class="s-img-first" style="width: 100%; height: 100%" th:src="${product.productImageFirst}">				
			</div>
			<div class="margin-b-5" th:if="${product.productImageSecond != null}" style="width:50px; height:50px;">
				<img class="s-img-second" style="width: 100%; height: 100%" th:src="${product.productImageSecond}">				
			</div>
			<div style="width:50px; height:50px;" th:if="${product.productImageThird != null}">
				<img class="s-img-third" style="width: 100%; height: 100%" th:src="${product.productImageThird}">				
			</div>
		</div>
		<div style="width: 473px; height: 440px;">
			<img class="img-first" style="width: 100%; height: 100%" th:src="${product.productImageFirst}">
		</div>
		<div style="margin-left: 77px; width: 500px; height:440px">
			<h3>[[${product.productNm}]]</h3>
			<input class="hidden-product-id" type="hidden">
			<div style="height:24px">
				<div class="star-parent">
					<div class="star-fill" th:style="'width: ' + ${reviewAvg} + '%;'">
						<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
					</div>
					<div class="star-base">
						<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span>([[${rCnt}]])</span>
					</div>
				</div>
			</div>
			<hr></hr>
			<div class="origin-price"></div>		
			<h5 class="total-price" style="color: #cb1400"></h5>
			<p class="font-s-15">무료 배송(산간 지역은 별도)<p>
			<div class="d-flex margin-b-10">
				<div class="d-flex flex-column option-list">
					<div class="d-flex margin-b-10" th:if='!${"-".equals(oListFirst[0].OPTIONFIRST) and oListFirst.size() == 1}'>
						<span style="margin-right: 10px;">크기</span>
						<select class="option-size select-style" name="size" th:onchange="optionChange([[${product.productGroupId}]],1)">
							<th:block th:each="option : ${oListFirst}">
								<option th:selected="${option.OPTIONFIRST eq product.productOptionFirst}">[[${option.OPTIONFIRST}]]</option>
							</th:block>
						</select>					
					</div>
					<div class="option-list-color">
						<div class="d-flex margin-b-10" th:if='!${"-".equals(oListSecond[0].OPTIONSECOND) and oListSecond.size() == 1}'>
						<span style="margin-right: 10px;">색상</span>
							<select class="option-color select-style" name="color" th:onchange="optionChange([[${product.productGroupId}]],2)">
								<th:block  th:each="option : ${oListSecond}">
									<option th:selected="${option.OPTIONSECOND eq product.productOptionSecond}">[[${option.OPTIONSECOND}]]</option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="option-list-other">
						<div class="d-flex" th:if='!${"-".equals(oListThird[0].OPTIONTHIRD) and oListThird.size() == 1}'>
							<span style="margin-right: 10px;">기타</span>
								<select class="option-other select-style" name="others" th:onchange="optionChange([[${product.productGroupId}]],3)">
									<th:block th:each="option : ${oListThird}">
										<option th:selected="${option.OPTIONTHIRD eq product.productOptionThird}">[[${option.OPTIONTHIRD}]]</option>
									</th:block>
								</select>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex" style="margin-bottom:20px">
				<span class="align-self-center">수량</span>
				<input class="cnt-input" type="number" value=1 autocomplete="off" oninput="changeCnt(value)" style="margin-left: 10px; border: 1px solid; border-right:none;">
				<div class="d-flex flex-column" style="border: 1px solid; border-left: none;">
					<button class="cnt-btn" onclick="cntBtn('plus')"><img th:src="@{/assets/common/angle-up-solid.svg}"></button>
					<button class="cnt-btn" onclick="cntBtn('minus')"><img th:src="@{/assets/common/angle-down-solid.svg}"></button>
				</div>
			</div>
			<div class="d-flex" style="height:40px">
				<div class="add-cart-btn d-flex justify-content-center align-items-center width-50-per" onclick="goToCart('cart')">
					<span>장바구니 담기</span>
				</div>
				<div class="direct-purchase-btn d-flex justify-content-center align-items-center width-50-per" onclick="goToCart('purchase')" >
					<span>바로 구매하기</span>
				</div>
			</div>
			<div
				id= "cart-info" 
				style= "width: 100%; height: 70px; display:flex; justify-content: space-around; background-color:rgba(0, 0, 0, 0.8); line-height: 70px; margin-top: 10px; border-radius: 5px; font-size: 16px; font-weight: 600; display: none;">
				<div style="color: white;">장바구니에 상품이 담겼습니다</div>
				<div style="cursor: pointer">
					<a th:href="@{/cart}" style="color: #668663; text-decoration: none;">장바구니 가기</a>
					<span style="margin-left: 30px; color: #dc3545; font-size: 18px; font-weight: bold;" onclick="closeCartInfo()">X</span>
				</div>
			</div>
			<div
				id= "cart-need-login" 
				style= "width: 100%; height: 70px; display:flex; justify-content: space-around; background-color:rgba(0, 0, 0, 0.8); line-height: 70px; margin-top: 10px; border-radius: 5px; font-size: 16px; font-weight: 600; display:none;">
				<div style="color: white;">로그인이 필요한 기능입니다.</div>
				<div style="cursor: pointer">
					<a th:href="@{/customer/login}" style="color: #668663; text-decoration: none;">로그인 하러 가기</a>
					<span style="margin-left: 30px; color: #dc3545; font-size: 18px; font-weight: bold;" onclick="closeCartInfo()">X</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="review-frame d-flex flex-column justify-content-center align-items-center">
	<div style="width:1100px">
		<div>
			<div class="modal-body">
				<h4 style="margin-bottom:30px;">상품리뷰([[${rCnt}]])</h4>
				<div class="review-body" style="min-height: 600px;" th:if="${rCnt != 0}">
					<th:block th:each="review : ${rList}">
						<div>
							<div>
								<p class="margin-b-0">[[${review.customerNm}]]</p>
								<div style="height:24px">
									<div class="star-parent">
										<div class="star-fill" th:style="'width: ' + ${review.reviewStarPoint} + '%;'">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
										<div class="star-base">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span style="font-size:10px">[[${review.createDt}]]</span>
										</div>
									</div>
								</div>
								<p style="color:gray">[[${review.productNm}]] [[${review.options}]]</p>
							</div>
							<div class="d-flex" style="height:100px; margin-bottom:10px">
								<!-- 나중에 th:each로 이미지 가져오자. 지금은 없으니 sample image로 대체 -->
								<img style="width: 100px; height: 100%" th:src="@{/images/mainImages.png}">
							</div>
							<p style="font-weight: bold; margin-bottom:0px;">[[${review.reviewTitle}]]</p>
							<p>[[${review.reviewContent}]]</p>
							<div th:class="review-heart+${review.reviewId}">
								<div class="d-flex" style="width: 100px; height: 30px; border: 1px solid; cursor: pointer" th:if="${review.clickCheck == 0}" th:onclick="heartClick([[${review.reviewId}]])">
									<img th:src="@{/assets/common/thumbs-up-regular.svg}" style="width:20%; margin-left:10px;">
									<span style="font-weight:bold; font-size: 11px; align-self:center">도움돼요([[${review.reviewHeartCount}]])</span>
								</div>
								<div class="d-flex" style="width: 100px; height: 30px; border: 1px solid;" th:if="${review.clickCheck == 1}">
									<img th:src="@{/assets/common/thumbs-up-solid.svg}" style="width:20%; margin-left:10px;">
									<span style="font-weight:bold; font-size: 11px; align-self:center">도움돼요([[${review.reviewHeartCount}]])</span>
								</div>							
							</div>
							<hr></hr>
						</div>
					</th:block>
				</div>
				<div class="review-none d-flex justify-content-center align-items-center" style="border: 2px solid #e6e6e6; min-height: 600px;" th:if="${rCnt == 0}">
					<div style="font-size: 25px; font-weight: bold">해당 상품은 아직 리뷰가 없습니다ㅠ.ㅠ</div>
				</div>
				<div class="d-block">
					<div class="d-flex justify-content-center mb-4">
						<div th:replace="~{/include/product-review-paging :: product-review-paging}"></div>			
					</div>
				</div>		
			</div>
		</div>
		<div style="border: 2px solid #e6e6e6; margin-bottom:30px">
			<div class="modal-body">
				<div class="d-flex justify-content-between">
					<h4 style="align-self:center">상품 문의</h4>
					<button class="inquiry-btn" onclick="openModal()">문의하기</button>
				</div>
				<div>
					<p class="margin-b-0">● 구매한 상품의 <span style="font-weight:bold">취소/반품은 마이쿠팡 구매내역에서 신청</span> 가능합니다.</p>
					<p class="margin-b-0">● 상품문의 및 리뷰를 통해 취소나 환불, 반품 등은 처리되지 않습니다.</p>
					<p class="margin-b-0">● <span style="font-weight:bold">가격,판매자,교환/환불 및 배송 등 해당 상품 자체와 관련 없는 문의는 고객센터 내 1:1 문의하기</span>를 이용해주세요.</p>
					<p class="margin-b-0">● <span style="font-weight:bold">"해당 상품 자체"와 관계없는 글, 양도, 광고성, 욕설, 비방, 도배 등의 글은 예고 없이 이동, 노출제한, 삭제 등의 조치가 취해질 수 있습니다.</span>
					<p class="margin-b-0">● 공개 게시판이므로 전화번호, 메일 주소 등 고객님의 소중한 개인정보는 절대 남기지 말아주세요.
				</div>
				<hr style="border: 1px solid"></hr>	
				<th:block th:each="inquiry : ${inquiryList}">
					<div class="d-flex" th:if="${inquiry.level == 1}">
						<div class="d-flex justify-content-center align-items-center" style="flex: 1">
							<div class="text-center" style="width:35px; height:20px; background-color:black; color:white; font-size:12px">
								질문
							</div>
						</div>
						<div class="d-flex flex-column" style="flex: 10">
							<div class="d-flex justify-content-between">
								<span>
									<span class="font-s-15">옵션 :</span>
									<span class="font-s-15" th:if="${inquiry.productOptionFirst != '0'}">[[${inquiry.productOptionFirst}]]</span>
									<span class="font-s-15" th:if="${inquiry.productOptionSecond != '0'}">| [[${inquiry.productOptionSecond}]]</span>
									<span class="font-s-15" th:if="${inquiry.productOptionThird != '0'}">| [[${inquiry.productOptionThird}]]</span>
								</span>
								<span style="font-size:12px">[[${inquiry.createDt}]]</span>
							</div>
							<div>[[${inquiry.inquiryContent}]]</div>
						</div>
					</div>
					<div class="d-flex" th:if="${inquiry.level == 2}">
						
						<div class="d-flex justify-content-center align-items-center" style="flex: 1">
							<div style="width:30px; height:30px">
								<img src="/assets/common/comments-regular.svg" style="width:100%; height: 100%">
							</div>
							<div class="text-center" style="margin-left: 10px; width:35px; height:20px; background-color: #0d32ff; color:white; font-size:12px">
								답변
							</div>
						</div>
						<div class="d-flex flex-column" style="flex: 7">
							<div class="d-flex justify-content-between">
								<span style="font-size:13px">
									[관리자]
								</span>
								<span style="font-size:12px">[[${inquiry.createDt}]]</span>
							</div>
							<div>[[${inquiry.inquiryContent}]]</div>
						</div>
					</div>
					<hr>
				</th:block>			
			</div>
		</div>
	</div>
</div>
<div class="modal">
	<div class="modal-frame">
		<div style="background-color:#e5e5e5">
			<div class="d-flex justify-content-between align-items-center" style="margin: 0 10px 0 10px; height: 55px">
				<h5 style="margin:0px">상품 문의</h5>
				<div onclick="closeModal()"><span style="font-size:30px; cursor:pointer">×</span></div>
			</div>
		</div>
		<hr style="border: 1px solid; margin: 40px 10px 0 10px;"></hr>
		<div style="margin: 0 10px 0 10px">
		    <div class="d-flex" style="height:120px; border-bottom: 1px solid;">
		    	<div class="d-flex justify-content-center align-items-center" style="flex:1; border-right: 1px solid;">
		    		<p>상품옵션</p>
		    	</div>
		    	<div class="d-flex flex-column justify-content-center align-items-center" style="flex:6;">			    		
			    		<div class="d-flex flex-column" style="width:450px;">
				    		<select class="inquiry-product-size margin-b-10" name="size" style="width: 200px" th:onchange="inquiryOptionChange([[${product.productGroupId}]],1)">
				    			<th:block th:each="option : ${oListFirst}">			    	
				    				<option th:if="${option.OPTIONFIRST == '0'}">사이즈옵션 없음</option>
									<option th:selected="${option.OPTIONFIRST eq product.productOptionFirst}" th:if="${option.OPTIONFIRST != '0'}">[[${option.OPTIONFIRST}]]</option>
								</th:block>
				    		</select>
				    		<select class="inquiry-product-color margin-b-10" name="color" style="width: 200px" th:onchange="inquiryOptionChange([[${product.productGroupId}]],2)">
				    			<th:block  th:each="option : ${oListSecond}">
				    				<option th:if="${option.OPTIONSECOND == '0'}">색상옵션 없음</option>
									<option th:selected="${option.OPTIONSECOND eq product.productOptionSecond}" th:if="${option.OPTIONSECOND != '0'}">[[${option.OPTIONSECOND}]]</option>
								</th:block>
				    		</select>
				    		<select class="inquiry-product-other margin-b-10" name="other" style="width: 200px">
				    			<th:block th:each="option : ${oListThird}">
				    				<option th:if="${option.OPTIONTHIRD == '0'}">기타옵션 없음</option>
									<option th:if="${option.OPTIONTHIRD != '0'}">[[${option.OPTIONTHIRD}]]</option>
								</th:block>
				    		</select>
			    		</div>	
		    	</div>
		    </div>
		    <div class="d-flex" style="height:300px; border-bottom: 1px solid;">
		    	<div class="d-flex justify-content-center align-items-center" style="flex:1; border-right: 1px solid;">
		    		<p>문의내용</p>
		    	</div>
		    	<div class="d-flex justify-content-center align-items-center" style="flex:6;">
		    		<input type="text" class="inquiry-content" name="content" required style="height:90%; width:450px" > 
		    	</div>
		    </div>
		</div>
		<p style="font-size:13px">* 개인정보(주민번호, 연락처, 주소, 계좌번호, 카드번호 등)가 포함되지 않도록 유의해주세요.</p>
		<div class="d-flex justify-content-center">
			<div style="width:100px; height:30px; background-color:#39594e; color:white; margin-right: 5px; cursor: pointer" th:onclick="insertInquiry([[${product.productGroupId}]])">확인</div>
			<div style="width:100px; height:30px; border:1px solid; cursor: pointer" onclick="closeModal()">취소</div>
		</div>
	</div>
</div>
<div th:replace="~{/include/footer :: footer}"></div>
</body>
<script th:src="@{/js/mic.js}"></script>
<script th:inline="javascript">
	const body = document.querySelector("body");
	const modal = document.querySelector(".modal");
	const cntInput = document.querySelector(".cnt-input");
	const hiddenProductId = document.querySelector('.hidden-product-id');
	const totalPrice = document.querySelector(".total-price");
	let fPrice = 0;
	product = /*[[${product}]]*/
	customerId = /*[[${customerId}]]*/
	hiddenProductId.value = product.productId;
	fPrice = product.productPrice;
	if(product.discountRate != 0){
//		document.querySelector('.origin-price').textContent = fPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
		text = fPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g,",") + '원';
		document.querySelector('.origin-price').innerHTML = `<span style="color: #5e5e5e; font-size:15px; text-decoration: line-through;">${text}</span><span style="color: #5e5e5e; font-size:15px;"> 10%</span>`
		//Math.round함수로 할인상품 반올림 사용
		fPrice = Math.round(product.productPrice * 0.9);						
	}
	totalPrice.textContent = fPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
	totalPrice.value = fPrice;


	//이미지 마우스 오버시 메인 이미지 변경
	const sImgFirst = document.querySelector('.s-img-first');
	sImgFirst.addEventListener('mouseover',function(){
		const img = document.querySelector('.img-first');
		img.src = sImgFirst.src;
	})
	const sImgSecond = document.querySelector('.s-img-second');
	sImgSecond.addEventListener('mouseover',function(){
		const img = document.querySelector('.img-first');
		img.src = sImgSecond.src;
	})
	const sImgThird = document.querySelector('.s-img-third');
	sImgThird.addEventListener('mouseover',function(){
		const img = document.querySelector('.img-first');
		img.src = sImgThird.src;
	})
	
	function cntBtn(division){
		if(division == 'plus'){
			var num = cntInput.value;
			if(num == product.productMaxGet){
				window.alert("최대 수량 초과입니다.");
			}else{
				var tPrice = (Number(num) + 1) * fPrice;
				totalPrice.textContent = tPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
				totalPrice.value = tPrice;
				cntInput.value = Number(num) + 1;
			}
		}
		else if(division == 'minus'){
			var num = cntInput.value;
			if(num == 1){
				window.alert('1미만은 안됨')
			}else{
				var tPrice = (Number(num) - 1) * fPrice;
				totalPrice.textContent = tPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
				totalPrice.value = tPrice;
				cntInput.value = Number(num) - 1;
			}
		}
	}

	function changeCnt(val){
		if(val > product.productMaxGet){
			cntInput.value = product.productMaxGet;
			var tPrice = product.productMaxGet * fPrice;
			totalPrice.textContent = tPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
			totalPrice.value = tPrice;
			window.alert('최대 수량 초과입니다.')
		}
		else if(val <= 0){
			cntInput.value = 1;
			var tPrice = fPrice;
			totalPrice.textContent = tPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
			totalPrice.value = tPrice;
			window.alert('1개 이상만 입력해주세요.')
		}
		else{
			var tPrice = val * fPrice;
			totalPrice.textContent = tPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
			totalPrice.value = tPrice;
		}
	}
	
	function inquiryOptionChange(productGroupId, num){
		const optionSize = document.querySelector(".inquiry-product-size");
		const optionColor = document.querySelector(".inquiry-product-color");
		const optionOther = document.querySelector(".inquiry-product-other");
		console.log(optionSize.value, optionColor, optionOther);
		var param = `?productGroupId=${productGroupId}`;
		if(num == 1){
			param += `&optionFirst=${optionSize.value}`;
		}
		else if(num == 2){
			param += `&optionFirst=${optionSize.value}&optionSecond=${optionColor.value}`;
		}
		fetch("/product/inquiry/option" + param)
		.then(response => response.json())
		.then(data => {
			if(data.length == 1){
	        	if(data[0].length != 1 | data[0][0].OPTIONTHIRD != 0){
	        		optionOther.innerHTML = "";
	        		data[0].forEach(option => {
	        			if(option.OPTIONTHIRD != 0){
		        			const selectOption = `<option>${option.OPTIONTHIRD}</option>`
		        			optionOther.innerHTML += selectOption;    				
	        			}
	        			
	        		})
	        	}else{
	        		optionOther.innerHTML = "";
	        	}
			}
			else{
				if(data[0].length != 1 | data[0][0].OPTIONSECOND != 0){
	        		optionColor.innerHTML = "";
	        		data[0].forEach(option => {
	        			if(option.OPTHIONSECOND != 0){
	    	    			const selectOption = `<option>${option.OPTIONSECOND}</option>`
	   		     			optionColor.innerHTML += selectOption;	        				
	        			}
	        			
	                })
	        	}else{
	        		optionColor.innerHTML = "";
	        	}
	        	if(data[1].length != 1 | data[1][0].OPTIONTHIRD != 0){
	        		optionOther.innerHTML = "";
	        		data[1].forEach(option => {
	        			if(option.OPTIONTHIRD != 0){
	        				const selectOption = `<option>${option.OPTIONTHIRD}</option>`
	    	        		optionOther.innerHTML += selectOption;
	        			}
	        		})
	        	}else{
	        		optionOther.innerHTML = "";
	        	}
			}
		})
	}

	function optionChange(productGroupId, num){
		const optionList = document.querySelector(".option-list");
		var optionSize = document.querySelector(".option-size");
		var optionColor = document.querySelector(".option-color");
		var optionOther = document.querySelector(".option-other");
		var sColor = document.querySelector(".option-list-color");
		var sOther = document.querySelector(".option-list-other");
		var cColor = "";
		var cOther = "";
		if(optionSize == null){
			optionSize = "0";
		}
		else{optionSize = optionSize.value}
		if(optionColor == null){
			optionColor = "0";
		}
		else{optionColor = optionColor.value}
		if(optionOther == null){
			optionOther = "0";
		}
		else{optionOther = optionOther.value}
		var params = `?`;
		if(num == 1){
			params += `optionFirst=${optionSize}`;
		}
		else if(num == 2){
			params += `optionFirst=${optionSize}&optionSecond=${optionColor}`;
		}
		else if(num == 3){
			params += `optionFirst=${optionSize}&optionSecond=${optionColor}&optionThird=${optionOther}`;
		}

        fetch("/product/change/" + productGroupId + params)
        .then(response => response.json())
        .then(data => {
        	document.querySelector('.img-first').src = data.productImageFirst;
        	document.querySelector('.s-img-first').src = data.productImageFirst;
        	if(document.querySelector('.s-img-second')) document.querySelector('.s-img-second').src = data.productImageSecond;
        	if(document.querySelector('.s-img-third')) document.querySelector('.s-img-third').src = data.productImageThird;
            const product = data;
            const cPrice = product.productPrice;
        	totalPrice.value = cPrice;
        	fPrice = cPrice;
        	hiddenProductId.value = product.productId;
        	cColor = product.productOptionSecond;
        	cOther = product.productOptionThird;
        	cntInput.value = 1;
        	if(num == 1){
        		params += `&optionSecond=${cColor}`;
        	} 
        	if(product.discountRate != 0){
        		text = cPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g,",") + '원';
        		document.querySelector('.origin-price').innerHTML = `<h5 style="color: #9E9E9E; font-size:15px; text-decoration: line-through; margin-bottom: 0px">${text}</h5>`
        		totalPrice.textContent = (Math.round(cPrice*0.9)).toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
        		fPrice = Math.round(cPrice * 0.9);
        	}
        	else{
        		document.querySelector('.origin-price').innerHTML = '';
        		totalPrice.textContent = cPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") + '원';
        	}
        	fetch("/product/option/" + productGroupId + params)
            .then(response => response.json())
            .then(data => {
                	if(data[0].length != 1 | data[0][0].OPTIONSECOND != "-"){
                		const select = `<div class="d-flex margin-b-10">
                						<span style="margin-right: 10px;">색상</span>
                						<select class="option-color select-style" name="color" onchange="optionChange('${product.productGroupId}',2)"></select>
                						</div>`
                		sColor.innerHTML = select;
                		const s = document.querySelector(".option-color");
                		data[0].forEach(option => {
                			const selectOption = `<option>${option.OPTIONSECOND}</option>`
        	        		s.innerHTML += selectOption;
                        })
                        const len = s.options.length;
                        for(let i=0; i<len; i++){
                        	//console.log(s.options[i].value, " + " , optionColor.value);
                        	if(s.options[i].value == cColor){
                        		s.options[i].selected = true;
                        	}
                        }
                	}
                	if(data[1].length != 1 | data[1][0].OPTIONTHIRD != "-"){
                		const select = `<div class="d-flex">
										<span style="margin-right: 10px;">기타</span>
                						<select class="option-other select-style" name="other" onchange="optionChange('${product.productGroupId}',3)"></select>
                						</div>`
                		sOther.innerHTML = select;
                		const s = document.querySelector(".option-other");
                		data[1].forEach(option => {
                			const selectOption = `<option>${option.OPTIONTHIRD}</option>`
                			s.innerHTML += selectOption;
                		})
                		const len = s.options.length;
                		//console.log(s);
                		//console.log("cold", cOther);
                		for(let i=0; i<len; i++){
                			if(s.options[i].value == cOther){
                				s.options[i].selected = true;
                			}
                		}
                	}
                	else{
                		sOther.innerHTML = "";
                	}
            });   
        });
	}
	
	function goToCart(selector){
		if(customerId == 'whoAreYou'){
			window.alert('whoAreYou');
		}
		else{
			if(selector == 'cart') {
				if(customerId == -1) {
					document.getElementById("cart-need-login").style.display = 'flex';	
				} else {
					fetch( window.location.origin + "/cart/insert-in-to" , {
					    method: "POST",
					    headers: { 
					        "Content-Type": "application/json",
					        "X-CSRF-TOKEN": [[${_csrf.token}]]
					    },
					    body: JSON.stringify({
					        productId: hiddenProductId.value,
					        productCnt: cntInput.value
					    }),
					})
					.then(response => response.json())
					.then((data) => {
						document.getElementById("cart-info").style.display = 'flex';	
					});	
				}
			} else {
				if(customerId == -1) {
					document.getElementById("cart-need-login").style.display = 'flex';	
				} else {
					let tag = document.createElement('form');
					
					let objId = document.createElement('input');
					objId.setAttribute('type', 'hidden');
					objId.setAttribute('name', 'productId');
					objId.setAttribute('value', hiddenProductId.value);
					
					let objCnt = document.createElement('input');
					objCnt.setAttribute('type', 'hidden');
					objCnt.setAttribute('name', 'productCnt');
					objCnt.setAttribute('value', cntInput.value);
					

					let objSelector = document.createElement('input');
					objSelector.setAttribute('type','hidden');
					objSelector.setAttribute('name', 'selector');
					objSelector.setAttribute('value', selector);
					
					let objCsrf = document.createElement('input');
					objCsrf.setAttribute('type','hidden');
					objCsrf.setAttribute('name', [[${_csrf.parameterName}]]);
					objCsrf.setAttribute('value', [[${_csrf.token}]]);

					tag.appendChild(objId);
					tag.appendChild(objCnt);
					tag.appendChild(objSelector);
					tag.appendChild(objCsrf);
					tag.setAttribute('method', 'post');
					tag.setAttribute('action', '/cart/insert');
					document.body.appendChild(tag);
					tag.submit();				
				}
			}	
		}
	}
	
	function closeCartInfo() {
		document.getElementById("cart-info").style.display = 'none';
		document.getElementById("cart-need-login").style.display = 'none';
	}

	function changeReviewPage(productGroupId, page){
		const reviewBody = document.querySelector(".review-body");
		const reviewNone = document.querySelector(".review-none");
		customerId = (customerId == 'whoAreYou') ? -1 : customerId; 
		
		fetch("/review/" + productGroupId +"/" + page + "/" + customerId)
		.then(response => response.json())
		.then(data => {
			if(data.length == 0){
			}
			else{
				reviewBody.innerHTML = "";
				data.forEach(review => {
					const rElement = `
						<div>
						<p style="margin-bottom:0px">${review.customerNm}</p>
						<div style="height:24px">
							<div class="star-parent">
								<div class="star-fill" style="width: ${review.reviewStarPoint}%;">
									<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
								<div class="star-base">
									<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span style="font-size:10px">${review.createDt}</span>
								</div>
							</div>
						</div>
						<p style="color:gray">${review.productNm} ${review.options}</p>
					</div>
					<div class="d-flex" style="height:100px; margin-bottom:10px">
						<!-- 나중에 th:each로 이미지 가져오자. 지금은 없으니 sample image로 대체 -->
						<img style="width: 100px; height: 100%" th:src="@{/images/mainImages.png}">
					</div>
					<p style="font-weight: bold; margin-bottom:0px;">${review.reviewTitle}</p>
					<p>${review.reviewContent}</p>
					<div class="review-heart${review.reviewId}">
						${review.clickCheck == 0 ? 
								`<div class="d-flex" style="width: 100px; height: 30px; border: 1px solid; cursor: pointer" onclick="heartClick(${review.reviewId})">
									<img src="/assets/common/thumbs-up-regular.svg" style="width:20%; margin-left:10px;"></img>
									<span style="font-weight:bold; font-size: 11px; align-self:center">도움돼요(${review.reviewHeartCount})</span>
								</div>`
						
						: 
							`<div class="d-flex" style="width: 100px; height: 30px; border: 1px solid;" >
								<img src="/assets/common/thumbs-up-solid.svg" style="width:20%; margin-left:10px;"></img>
								<span style="font-weight:bold; font-size: 11px; align-self:center">도움돼요(${review.reviewHeartCount})</span>
							</div> `
						}						
					</div>
					<hr></hr>
					`
					reviewBody.innerHTML += rElement;
				})
			}
		})
		document.querySelector(".direct-purchase-btn").scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
	}
	
	//문의하기 팝업창 열기
	function openModal(){
		//show 클래스 toggle(여기서는 modal 클래스에 show가 없으니 추가됨)
		modal.classList.toggle('show');
	}
	
	//문의하기 팝업창 닫기
	function closeModal(){
		modal.classList.toggle('show');
	}
	
	//문의하기 팝업창 이외에 다른 화면 클릭 시 닫기
    modal.addEventListener('click', (event) => {
     if (event.target === modal) {
       modal.classList.toggle('show')  
     }
    });
	
	function insertInquiry(productGroupId){
		if(customerId == 'whoAreYou'){
			window.alert('whoAreYou');
		}else{
			const content = document.querySelector('.inquiry-content').value;
			const size = document.querySelector('.inquiry-product-size').value;
			const color = document.querySelector('.inquiry-product-color').value;
			const other = document.querySelector('.inquiry-product-other').value;
			console.log(content, size, color, other, productGroupId)
			if(content == ''){
				window.alert("문의글을 작성해주세요");
			}
			else{
				const data = {
						content: content,
						size: size,
						color: color,
						other: other,
						productGroupId: productGroupId
				};
				fetch("/inquiry/insert",{
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
						"X-CSRF-TOKEN": [[${_csrf.token}]]
					},
					body: JSON.stringify(data)
				})
				.then(response => response.json())
				.then(data=> {
					if(data > 0){
						window.alert("문의가 정상적으로 접수되었습니다. 문의글은 마이페이지에서 확인하거나 관리자가 답변은 완료한 이후에 확인할 수 있습니다.");
						closeModal();
					}else{
						window.alert("문의글이 접수되지 않았습니다. 상품 옵션을 정확하게 선택한 이후에 다시 보내주세요.");
					}
				})
			}
			
		}
	}
	
	function heartClick(reviewId){
		const data = {
				customerId: customerId,
				reviewId: reviewId
		};
		if(customerId == 'whoAreYou'){
			window.alert('whoAreYou');			
		}else{
			fetch("/review/heart/update",{
				method: "POST",
				headers: {
					'Content-Type': 'application/json',
					"X-CSRF-TOKEN": [[${_csrf.token}]]
				},
				body: JSON.stringify(data)
			})
			.then(response => response.json())
			.then(data => {
				const reviewBody = document.querySelector(`.review-heart${reviewId}`);
				const el = `<div class="d-flex" style="width: 100px; height: 30px; border: 1px solid;">
								<img src="/assets/common/thumbs-up-solid.svg" style="width:20%; margin-left:10px;">
								<span style="font-weight:bold; font-size: 11px; align-self:center">도움돼요(${data})</span>
							</div>	`
				reviewBody.innerHTML = el;
			})
		}
	}
</script>
</html>