<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>카테고리별 상품 리스트</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WJB8ZT4ELE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WJB8ZT4ELE');
</script>
</head>
<div th:replace="include/header :: header"></div>
<body style="overflow-x:scroll">
	<div th:replace="include/body-header :: bodyHeader"></div>
	<div class="product-body">
		<div class="product-path-bar">
			<th:block th:if="${categoryId == 'noCategory'}">
				<span style="font-size:16px; font-weight:600; width:1100px">전체 > [[${path}]]</span>		
			</th:block>
			<th:block th:if="${categoryId != 'noCategory'}">
				<span style="font-size:16px; font-weight:600; width:1100px">전체 [[${path}]]</span>		
			</th:block>
		</div>
		<div class="d-flex justify-content-center">
			
			<div style="position:relative; min-height:650px;">
				<th:block th:if="${categoryId != 'noCategory'}">
					<div class="d-flex align-items-center" style="height: 40px; margin-top:15px; padding-left:10px; font-size:12px">
						<a class="a-sort" th:href="@{'/category/' + ${categoryId} + '?sort=lowPrice'}" style="margin-left: 20px">낮은 가격순</a>
						<span style="margin:0 10px 0 10px"> | </span>
						<a class="a-sort" th:href="@{'/category/' + ${categoryId} + '?sort=highPrice'}">높은 가격순</a>
						<span style="margin:0 10px 0 10px"> | </span>
						<a class="a-sort" th:href="@{'/category/' + ${categoryId} + '?sort=highRate'}">평점순</a>
					</div>				
				</th:block>
				<th:block th:if="${categoryId == 'noCategory'}">
					<div class="d-flex align-items-center" style="height: 40px; margin-top:15px; padding-left:10px; font-size:12px">
						<a class="a-sort" th:href="@{'/product/search' + '?sort=lowPrice&searchText='+ ${path}}" style="cursor: pointer; margin-left: 20px">낮은 가격순</a>
						<span style="margin:0 10px 0 10px"> | </span>
						<a class="a-sort" style="cursor: pointer" th:href="@{'/product/search' + '?sort=highPrice&searchText=' + ${path}}">높은 가격순</a>
						<span style="margin:0 10px 0 10px"> | </span>
						<a class="a-sort" style="cursor: pointer" th:href="@{'/product/search' + '?sort=highRate&searchText=' + ${path}}">평점순</a>
					</div>				
				</th:block>
				<th:block th:if="${categoryList != 'noCategory'}">
					<div class="product-sidebar">
						<div>
							<div style="width:200px; border: 1px solid #eee">
							<ul class="sidebar-ul">
							</ul>
							</div>	
						</div>
					</div>
				</th:block>
				<div class="product-large-box" style="position:relative;">
					<th:block th:each="list : ${productList}">
						<div style="width: 250px; height:400px" class="product-box" th:onclick="goProductDetail([[${list.productId}]], [[${list.productGroupId}]])">
							<div style="border:1px solid #d9d9d9; width: 231px; height: 212px;">
								<img style="padding: 10px; width: 100%; height: 100%" th:src="${list.productImageFirst}">
							</div>
							<div style="padding: 0 5px 0 5px;">
								<p style="margin-top: 10px; font-weight:500; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:15px; margin-bottom: 0px">[[${list.productNm}]]</p>
								<div th:if='${list.discountRate != 0}' style="margin-bottom: -5px;">
									<span  style="font-size:18px; text-decoration: line-through; margin-bottom: 0px; color:#5e5e5e" data-th-text="${#numbers.formatInteger(list.productPrice, 3, 'COMMA') + '원'}"></span>
									<span  style="color:#5e5e5e; font-weight:500"> 10%</span>	
									<p style="font-size:20px; font-weight:bold; margin-bottom: 0px; color:#cb1400" data-th-text="${#numbers.formatInteger(list.productPrice * 0.9, 3, 'COMMA') + '원'}"></p>					
								</div>
								<div th:if='${list.discountRate == 0}' style="margin-bottom: -5px;">
									<p style="font-size:20px; font-weight:bold; margin-bottom: 0px; color:#cb1400" data-th-text="${#numbers.formatInteger(list.productPrice, 3, 'COMMA') + '원'}"></p>				
								</div>
								<div>상품 리뷰([[${list.reviewCount}]])</div>
								<div class="star-parent">
									<div class="star-fill" th:style="'width: ' + ${list.reviewStarPoint} + '%;'">
										<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
									</div>
									<div class="star-base">
										<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
									</div>
								</div>
							</div>					
						</div>
					</th:block>
				</div>
				
			</div>
		</div>
		<div class="d-block">
			<div th:if='${categoryId != "noCategory"}' class="d-flex justify-content-center mb-4">
				<div th:replace="include/product-paging :: product-paging"></div>			
			</div>
			<div th:if='${categoryId == "noCategory"}' class="d-flex justify-content-center mb-4">
				<div th:replace="include/product-search-paging :: product-search-paging"></div>			
			</div>
		</div>
			
	</div>
	<div th:replace="include/footer :: footer"></div>
	<script th:src="@{/js/speech.js}"></script>
	<script th:inline="javascript">
	
	/*<![CDATA[*/
    var cList = /*[[${categoryList}]]*/
    cId = /*[[${categoryId}]]*/
    /*]]>*/
	pList =/*[[${productList}]]*/
	
	//카테고리 요소 삽입 코드
	sideEl = document.querySelector('.sidebar-ul');
    cList.map((data,idx) => {
		if(data.lv == 1){
			const elements = `<div style="border-bottom: solid 1px #eee">
								<a class="a${data.categoryId}" href="/category/${data.categoryId}" style="text-decoration:none; color: black; font-size:20px; margin-left:10px;">${data.categoryNm}</a>
							  </div>`
			sideEl.innerHTML += elements;
		}
		else if(data.lv == 2){
			const elements = `<li class="li${data.categoryId} font-s-13 margin-b-5" style="margin-left:20px">
							  	<a class="a${data.categoryId}" href="/category/${data.categoryId}" style="text-decoration:none; color: black; font-size:17px;">${data.categoryNm}</a> 
							  	${data.isLeaf == 0 ? `
							  			<a class="show-btn${data.categoryId}"  onclick="showDownCategory(${data.categoryId})">
											<img style="width:10px" src="/assets/common/angle-down-solid.svg"></img>
										</a>
										<a class="hidden-btn${data.categoryId}"  style="display:none" onclick="hideDownCategory(${data.categoryId})">
											<img style="width:10px" src="/assets/common/angle-up-solid.svg"></img>
										</a>
							  			`  : 
							  			``
							  	}	
								</a>
						 	   </li>`
			sideEl.innerHTML += elements;
		}
		else{
			if(data.lv > cList[idx-1].lv){
				const span = document.createElement('span');
				const elements = `<ul class="ul${data.categoryPrId}" style="display: none">
									<li class="li${data.categoryId}">
										<a class="a${data.categoryId}" href="/category/${data.categoryId}" style="text-decoration:none; color: black; font-size:17px;">${data.categoryNm}</a> 
									  	${data.isLeaf == 0 ? `
									  			<a class="show-btn${data.categoryId}"  onclick="showDownCategory(${data.categoryId})">
													<img style="width:10px" src="/assets/common/angle-down-solid.svg"></img>
												</a>
												<a class="hidden-btn${data.categoryId}"  style="display:none" onclick="hideDownCategory(${data.categoryId})">
													<img style="width:10px" src="/assets/common/angle-up-solid.svg"></img>
												</a>
									  			`  : 
									  			``
									  	}
									</li>
								  </ul>`
				const parent = document.querySelector(`.li${data.categoryPrId}`)
				parent.innerHTML += elements;
				for (let j=0; j<data.lv-1; j++){
					span.innerHTML += '&nbsp&nbsp';
				}
				const tag = document.querySelector(`.li${data.categoryId}`);		
				tag.prepend(span);
				if(cId == data.categoryId){
					var uEl = document.querySelector(`.ul${data.categoryPrId}`)
					uEl.style.display = "block";
					var showBtn = document.querySelector(`.show-btn${data.categoryPrId}`)
					showBtn.style.display = "none";
					var hiddenBtn = document.querySelector(`.hidden-btn${data.categoryPrId}`)
					hiddenBtn.style.display = "inline";
					for(var i=3; i<data.lv; i++){
						uEl = uEl.parentNode.parentNode;
						uEl.style.display = "block";
						showBtn = showBtn.parentNode.parentNode;
						var text = showBtn.className.substr(2);
						var el = document.querySelector(`.show-btn${text}`);
						el.style.display = "none";
						el = document.querySelector(`.hidden-btn${text}`);
						el.style.display = "inline";
					}  
					
				}
			}
			else if(data.lv <= cList[idx-1].lv){
				const span = document.createElement('span');
				const elements = `<li class="li${data.categoryId}">
									<a class="a${data.categoryId}" href="/category/${data.categoryId}" style="text-decoration:none; color: black; font-size:17px;">${data.categoryNm}</a> 
								  	${data.isLeaf == 0 ? `
								  			<a class="show-btn${data.categoryId}"  onclick="showDownCategory(${data.categoryId}, ${data.lv})">
												<img style="width:10px" src="/assets/common/angle-down-solid.svg"></img>
											</a>
											<a class="hidden-btn${data.categoryId}"  style="display:none" onclick="hideDownCategory(${data.categoryId}, ${data.lv})">
												<img style="width:10px" src="/assets/common/angle-up-solid.svg"></img>
											</a>
								  			`  : 
								  			``
								  	}
								  </li>`
				const parent = document.querySelector(`.ul${data.categoryPrId}`)
				parent.innerHTML += elements;	
				for (let j=0; j<data.lv-1; j++){
					span.innerHTML += '&nbsp&nbsp';
				}
				const tag = document.querySelector(`.li${data.categoryId}`);		
				tag.prepend(span);
				if(cId == data.categoryId){
					var uEl = document.querySelector(`.ul${data.categoryPrId}`)
					uEl.style.display = "block";
					var showBtn = document.querySelector(`.show-btn${data.categoryPrId}`)
					showBtn.style.display = "none";
					var hiddenBtn = document.querySelector(`.hidden-btn${data.categoryPrId}`)
					hiddenBtn.style.display = "inline";
					for(var i=3; i<data.lv; i++){
						uEl = uEl.parentNode.parentNode;
						uEl.style.display = "block";
						showBtn = showBtn.parentNode.parentNode;
						var text = showBtn.className.substr(4);
						console.log(text);
						var el = document.querySelector(`.show-btn${text}`);
						el.style.display = "none";
						el = document.querySelector(`.hidden-btn${text}`);
						el.style.display = "inline";
					}  
				}
			}
		}
	}) 
	
	// 선택 카테고리 css 추가 코드
	selected = document.querySelector(`.a${cId}`);
    if(selected){
    	selected.style.color="#39594e";
    	selected.style.fontWeight="bold";    	
    }
    
    // absolute 처리된 요소의 길이보다 화면이 더 길도록 minHeight 속성 추가 코드
    const sidebarHeight = document.querySelector('.product-sidebar').offsetHeight;
    console.log(sidebarHeight);
    document.querySelector('.product-large-box').style.minHeight = sidebarHeight + 'px';
	
	function goProductDetail(id, groupId){
		let tag = document.createElement('form');
		
		tag.setAttribute('method', 'get');
		tag.setAttribute('action', `/product/${id}/${groupId}`);
		document.body.appendChild(tag);
		tag.submit(); 
	}
	
	function showDownCategory(categoryId){
		const ulEl = document.querySelector(`.ul${categoryId}`)
		ulEl.style.display = "block";
		const showBtn = document.querySelector(`.show-btn${categoryId}`);
		const hiddenBtn = document.querySelector(`.hidden-btn${categoryId}`);
		const lbody = document.querySelector(`.li${categoryId}`);
		showBtn.style.display = "none";
		hiddenBtn.style.display = "inline";
	}

	
	function hideDownCategory(categoryId){
		const ulEl = document.querySelector(`.ul${categoryId}`)
		ulEl.style.display = "none";
		const showBtn = document.querySelector(`.show-btn${categoryId}`);
		const hiddenBtn = document.querySelector(`.hidden-btn${categoryId}`);
		const lbody = document.querySelector(`.li${categoryId}`);
		showBtn.style.display = "inline";
		hiddenBtn.style.display = "none";
		
	}

</script>
</body>

</html>