<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>카테고리별 상품 리스트</title>
</head>
<div th:replace="~{/include/header :: header}"></div>
<body>
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<div class="product-body">
		<div>
			<img style="width: 100%;" th:src="@{/images/mainImages.png}">		
		</div>
		<div class="product-path-bar">
			<span style="margin-left:20%">전체 > 초콜릿</span>
		</div>
		<div style="display: flex;">
			<div class="product-sidebar">
				<div >
					<div style="border: solid">
					<ul>
						<th:block th:each="list : ${categoryList}">
							<p style="text-align:center; font-weight:bold" th:if="${list.level == 1}">[[${list.categoryNm}]]</p>
							<!-- <li th:if="${list.level != 1}">
								<span th:each="num: ${#numbers.sequence(1, list.level)}">&nbsp&nbsp</span>
								<span>[[${list.categoryNm}]]</span>
							</li> -->
							<li th:class="list+${list.categoryId}"  th:if="${list.level == 2}">
								<a th:href="@{/category/{id}(id=${list.categoryId})}">[[${list.categoryNm}]] 
									<a th:class="show-btn+${list.categoryId}"  href="#" th:onclick="showDownCategory([[${list.categoryId}]], [[${list.level}]])" th:if="${list.isLeaf == 0}">
										<img style="width:10px" th:src="@{/assets/common/angle-down-solid.svg}"></img>
									</a>
									<a th:class="hidden-btn+${list.categoryId}" href="#" style="display:none" th:onclick="hideDownCategory([[${list.categoryId}]], [[${list.level}]])" th:if="${list.isLeaf == 0}">
										<img style="width:10px" th:src="@{/assets/common/angle-up-solid.svg}"></img>
									</a>
								</a>
							</li>						
						</th:block>
					</ul>
					</div>	
				</div>
			</div>
			<div class="product-large-box">
				<th:block th:each="list : ${productList}">
					<div class="product-box" th:onclick="goProductDetail([[${list.productId}]])">
						<div style="width: 248px; height: 195px;">
							<img style="width: 100%; height: 100%" th:src="@{/images/mainImages.png}">
						</div>
						<div style="width: 248px;">
							<span>[[${list.productNm}]]</span>
						</div>					
					</div>
				</th:block>
			</div>
		</div>
	</div>
	<div th:replace="~{/include/footer :: footer}"></div>
	<script th:inline="javascript">
	
	/*<![CDATA[*/
    var cList = /*[[${categoryList}]]*/
    /*]]>*/
	

	function goProductDetail(id){
		let tag = document.createElement('form');
		
		tag.setAttribute('method', 'get');
		tag.setAttribute('action', `/product/${id}`);
		document.body.appendChild(tag);
		tag.submit(); 
	}
	
	function showDownCategory(categoryId, level){
		
		var showBtn = document.querySelector(`.show-btn${categoryId}`);
		var hiddenBtn = document.querySelector(`.hidden-btn${categoryId}`);
		console.log(hiddenBtn);
		var lbody = document.querySelector(`.list${categoryId}`);
		showBtn.style.display = "none";
		hiddenBtn.style.display = "inline";
		var frame = `<ul class="down-ul${categoryId}-level${level}"></ul>`;
		lbody.innerHTML += frame;
		var mbody = document.querySelector(`.down-ul${categoryId}-level${level}`);
		cList.forEach(list => {
			if(list.categoryPrId == categoryId){
				var category = `
						<li class="list${list.categoryId}">
							<a href="/category/${list.categoryId}">${list.categoryNm}
								${list.isLeaf == 0 ?  
									`<a class="show-btn${list.categoryId}"  href="#" onclick="showDownCategory(${list.categoryId}, ${list.level})"> 
									 	<img style="width:10px" src="/assets/common/angle-down-solid.svg"></img>
									 </a>
									 <a class="hidden-btn${list.categoryId}" href="#" style="display:none" onclick="hideDownCategory(${list.categoryId}, ${list.level})">
										<img style="width:10px" src="/assets/common/angle-up-solid.svg"></img>
									</a>
									 `
									: ``
								}
									
							</a>
						</li> 
				`
				mbody.innerHTML += category;
			}
		})
		
		
	}
	
	function hideDownCategory(categoryId, level){
		var showBtn = document.querySelector(`.show-btn${categoryId}`);
		var hiddenBtn = document.querySelector(`.hidden-btn${categoryId}`);
		var downUl = document.querySelector(`.down-ul${categoryId}-level${level}`);
		showBtn.style.display = "inline";
		hiddenBtn.style.display = "none";
		downUl.innerHTML = "";
		
	}
</script>
</body>

</html>