<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/bs-header :: bsHeader}"></head>
<link rel="stylesheet" th:href="@{/css/admin-css/admin-coupon.css}">
<link rel="stylesheet" th:href="@{/css/admin-css/admin-frame.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 <!-- jQuery 및 jQuery UI 스타일시트 및 스크립트 포함 -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<body>
	<div th:replace="~{/include/admin-body-header :: adminBodyHeader}"></div>
	<div th:replace="~{/include/admin-frame :: adminFrame}"></div>

	<div class="container-lg" style="padding-top: 10px">

		<div style="font-weight: bold; margin-top: 20px; font-size:20px;">쿠폰관리 <img class="cart-order-list-img" src="/assets/common/right_arrow_gray.svg"> 쿠폰 등록/수정/삭제</div>
		<div style="padding-bottom: 15px;justify-content: flex-end;border-bottom: 2px solid #1a385d;display: flex;margin-bottom: 20px;">
			<div style="text-align: end;">
				<button class="btn btn-primary" style="background-color: #1a385d; border-color: #1a385d; font-weight: 600;"
					data-bs-toggle="modal" data-bs-target="#registerModal"
					type="button">등록</button>
			</div>
		</div>
		<div style="height: 675px;">
		
		<div>
			<div style="display: flex; height: 60px; line-height: 60px; text-align: center; margin-top: 20px; font-size: 16px; margin-bottom: 20px;">
				<a class="clicked-title"   id="btnN" type="button" onclick="loadData(601); setActiveButton('btnN');">용도 미정 쿠폰</a>				
				<a class="unclicked-title" id="btnA" type="button" onclick="loadData(602); setActiveButton('btnA');">전체 고객 대상 쿠폰</a>
				<a class="unclicked-title" id="btnE" type="button" onclick="loadData(603); setActiveButton('btnE');">프로모션 쿠폰</a>
			</div>
		</div>
		
			<table class="table" style="text-align: center; table-layout:fixed">
				<thead>
					<tr>
						<th style="width: 7%;">순번</th>
						<th style="width: 30%;">쿠폰명</th>
						<th style="width: 10%;">할인율</th>
						<th style="width: 12%;">쿠폰 발행일</th>
						<th style="width: 12%;">쿠폰 만료일</th>
						<th style="width: 15%;">쿠폰 구분</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="couponTable">		

				</tbody> 
			</table>
		</div>
	
		
		<!-- 페이지 링크 표시 -->
		<div th:if="${totalCount > 0}">
			 <ul class="pagination" id="pagination">

			</ul>
		</div>	  
		
		<!-- 쿠폰 등록 모달 -->
		<div id="registerModal" class="modal fade" tabindex="-1" role="dialog" style="overflow-y: auto;">
		<div class="modal-dialog" role="document" style="max-width: 700px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">쿠폰 등록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					    <i class="fas fa-times"></i> <!-- "X" 아이콘 -->
					</button>
				</div>			 
				 <!-- <form action="/admin/coupon" method="POST" onsubmit="return generateAndSubmitCoupon()">  -->
				 <form action="/admin/coupon" method="POST"> 
                	<input type="hidden" id="couponSn" name="couponSn" value="">
					<div class="modal-body">		
						<div style="display: flex; align-items: flex-end; padding-bottom: 10px; margin-left: 10px;">
							<label for="categoryId" class="col-form-label" style="margin-bottom: 3px; margin-right: 10px;">쿠폰 적용대상</label>
							<input type="hidden" id="selectsCategoryId" name="categoryId">
								<div style="display: flex; align-items: flex-end; padding-bottom: 10px;">
								<!-- 첫 번째 카테고리 -->
								<div style="padding-left: 10px; padding-right: 0px; text-align: center;">
									<label for="firstCategory"></label> 
									<select id="firstCategory"	name="firstCategory" 
										onchange="showSecondCategoryField(); getSecondForRegister(this.value, 'unsyn'); updateSelectCategoryId();"
										style="padding-left: 5px; padding-right: 5px; border-radius:8px;">
										<option value="">전체</option>
										<option th:each="category : ${firstCategories}"
											th:value="${category.categoryId}"
											th:text="${category.categoryNm}"></option>
									</select>
								</div>
								<!-- 두 번째 카테고리 -->
								<div class="col-sm-6">
									<label for="secondCategorys"></label> 
									<select	id="secondCategorys" name="secondCategorys"
										onchange="showThirdCategoryField(); getThirdForRegister('unsyn'); updateSelectCategoryId();"
										style="padding-left: 5px; padding-right: 5px; border-radius:8px; width: 167px;">
										<option value="">선택안함</option>
									</select>
								</div>
								<!-- 세 번째 카테고리 -->
								<div class="col-sm-3"
									style="text-align: center; padding-left: 0px;">
									<label for="thirdCategorys"></label> 
									<select	id="thirdCategorys" name="thirdCategorys" onchange="updateSelectCategoryId()"
										style="padding-left: 10px; padding-right: 5px; border-radius:8px; width:90px;">
										<option value="">선택안함</option>
									</select>
								</div>
								</div>
							</div>
							
						<div style="display: flex; align-items: center; margin-bottom: 10px;">
								<label for="couponNm" style="margin-left: 10px; margin-right: 70px;">쿠폰명</label>
								<div>
									<input type="text" id="couponNm" name="couponNm" style="width: 140%;"
										autocomplete="off" required>
								</div>
						</div>
												
						<div style="display: flex; align-items: center; margin-bottom: 10px;">
							<label for="couponDscntRate" style="margin-left: 10px;margin-right: 45px;">할인율(%)</label>
							<div>
								<input type="number" min="1" max="100"
								id="couponDscntRate" name="couponDscntRate" style="width: 80%;"	autocomplete="off" required>
							</div>
						</div>
							
							
						<div style="margin-bottom: 10px;">
						    <label for="couponPblDt" class="col-sm-2 col-form-label" style="margin-right: 10px;padding-left: 10px;">쿠폰 발행일</label>
						    <input type="text" id="couponPblDt" name="couponPblDt" autocomplete="off" style="width: 20%;" required>
						
						    <label for="couponEprDt" class="col-sm-2 col-form-label">쿠폰 만료일</label>
						    <input type="text" id="couponEprDt" name="couponEprDt" autocomplete="off" style="width: 20%;" required> 
						</div> 
						
						<div class="modal-footer">
							<button class="btn btn-primary" style="background-color: #1a385d;border-color: #1a385d; font-weight: 600; color:white;"
								 type="submit">저장</button>
							<button type="button" class="btn btn-secondary" style="color: #fff; background-color: #c1c1c1;border-color: #c1c1c1; font-weight: 600;" data-bs-dismiss="modal">닫기</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
	
	
	
	</div>

	</div>
	</div>
	</div>
	<div th:replace="~{/include/admin-footer :: footer}"></div>
	<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
	<script th:inline="javascript">
	
	//배송 상태별 데이터 + 페이지
	function loadData(commonCodeId, page) {
	    $.ajax({
	        type: "GET",
	        url: "/admin/coupons",
	        data: { commonCodeId: commonCodeId, page: page }, 
	        success: function (data) {
	            var tableBody = $('#couponTable');
	            tableBody.empty(); 
	            if (data.length === 0) {
	                var noResultRow = "<tr><td colspan='5'> 검색 결과가 없습니다.</td></tr>";
	                tableBody.append(noResultRow);
	            } else {
	            	for (var i = 0; i < data.data.length; i++) {	            		
 	                    var newRow = "<tr>" +
	                        "<td>" + data.data[i].rn + "</td>" +
	                        "<td>" + data.data[i].couponNm + "</td>" +
	                        "<td>" + data.data[i].couponDscntRate + "</td>" +
	                        "<td>" + data.data[i].couponPblDt + "</td>" +
	                        "<td>" + data.data[i].couponEprDt + "</td>" +
	                        "<td>" + data.data[i].commonCodeNm + "</td>" +
	                        "<td>" +
	                        "</td>";
	                        "</tr>";  
	                    tableBody.append(newRow);
	                }
	            }

	            /// 페이징 정보 업데이트
	            var pagination = $('#pagination');
	            pagination.empty();
	            
	            // 첫 페이지로 이동하는 링크
	             var firstLink = "<li class='page-item " + (data.currentPage === 1 ? 'disabled' : '') + "'>" +
				    "<a class='page-link' onclick='loadData(" + commonCodeId + ")' aria-label='First'><span aria-hidden='true'>&laquo;</span></a>" +
				    "</li>";
				 pagination.append(firstLink);

	            // 이전 페이지로 이동하는 링크
	            var prevLink = "<li class='page-item " + (data.currentPage === 1 ? 'disabled' : '') + "'>" +
	                "<a class='page-link' onclick='loadData(" + commonCodeId + ", " + (data.currentPage - 1) + ")' aria-label='Previous'><span aria-hidden='true'>&lsaquo;</span></a>" +
	                "</li>";
	            pagination.append(prevLink);

	            for (var i = 1; i <= data.totalPages; i++) {
	                var pageLink = "<li class='page-item " + (i === data.currentPage ? 'active' : '') + "'>" +
	                    "<a class='page-link' onclick='loadData(" + commonCodeId + ", " + i + ")'>" + i + "</a>" +
	                    "</li>";
	                pagination.append(pageLink);
	            }

	            // 다음 페이지로 이동하는 링크
	            var nextLink = "<li class='page-item " + (data.currentPage === data.totalPages ? 'disabled' : '') + "'>" +
	                "<a class='page-link' onclick='loadData(" + commonCodeId + ", " + (data.currentPage + 1) + ")' aria-label='Next'><span aria-hidden='true'>&rsaquo;</span></a>" +
	                "</li>";
	            pagination.append(nextLink);
	            
	            // 마지막 페이지로 이동하는 링크
	             var lastLink = "<li class='page-item " + (data.currentPage === data.totalPages ? 'disabled' : '') + "'>" +
		             "<a class='page-link' onclick='loadData(" + commonCodeId + ", " + (data.totalPages) + ")' aria-label='Last'><span aria-hidden='true'>&raquo;</span></a>" +
		             "</li>";
	        	 pagination.append(lastLink);
	        },
	        error: function (error) {
	            console.log("에러 발생: " + error);
	        }
	    });
	}
	
	function setActiveButton(buttonId) {
	    // 모든 버튼 초기화 (unclicked-title 스타일로 변경)
	    document.getElementById("btnN").classList.add("unclicked-title");
	    document.getElementById("btnA").classList.add("unclicked-title");
	    document.getElementById("btnE").classList.add("unclicked-title");

	    // 선택한 버튼 스타일 변경 (clicked-title 스타일로 변경)
	    document.getElementById(buttonId).classList.remove("unclicked-title");
	    document.getElementById(buttonId).classList.add("clicked-title");
	}
	
	window.onload = function() {
        // 두 번째, 세 번째 선택 필드 초기 숨김
        document.getElementById("secondCategorys").style.display = "none";
        document.getElementById("thirdCategorys").style.display = "none";
    };
    
 	function showSecondCategoryField() {
        // 첫 번째 카테고리 선택값 가져오기
        var selectedValue = document.getElementById("firstCategory").value;
        
        // 선택한 값에 따라 두 번째 카테고리 필드 표시/숨기기
        var secondCategoryField = document.getElementById("secondCategorys");
        if (selectedValue !== "") {
            secondCategoryField.style.display = "block";
        } else {
            secondCategoryField.style.display = "none";
        }
        
        // 선택한 값에 따라 세 번째 카테고리 필드 숨기기
        document.getElementById("thirdCategorys").style.display = "none";
    }
    
    function showThirdCategoryField() {
        // 두 번째 카테고리 선택값 가져오기
        var selectedValue = document.getElementById("secondCategorys").value;
        
        // 선택한 값에 따라 세 번째 카테고리 필드 표시/숨기기
        var thirdCategoryField = document.getElementById("thirdCategorys");
        if (selectedValue !== "") {
            thirdCategoryField.style.display = "block";
        } else {
            thirdCategoryField.style.display = "none";
        }
    }
    
/* 	function generateAndSubmitCoupon() {
	    var couponSn = generateRandomCouponSn();
	    document.getElementById("couponSn").value = couponSn;
	    document.querySelector("form").submit();
	}

	function generateRandomCouponSn() {
	    var characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyz";
	    var couponSn = "";
	    var length = 16;
	    
	    for (var i = 0; i < length; i++) {
	        var randomIndex = Math.floor(Math.random() * characters.length);
	        couponSn += characters.charAt(randomIndex);
	    }
	    
	    return couponSn;
	} */
	
	// 0 다음에 다른 숫자 입력되지 않게 하기
	var inputElement = document.getElementById("couponDscntRate");

	inputElement.addEventListener("input", function () {
	    var inputValue = this.value;
	    
	    if (inputValue.startsWith('0')) {
	        // 입력값에서 0을 제외한 숫자만 추출하여 다시 설정
	        this.value = inputValue.replace(/^0+/, '');
	    }
	});

	/* // 쿠폰 중복 확인 후 등록하기
	function generateAndSubmitCoupon() {
	    var maxAttempts = 3; // 최대 시도 횟수
	    var attempts = 0;

	    function tryGenerateCoupon() {
	        var couponSn = generateRandomCouponSn();
	        document.getElementById("couponSn").value = couponSn;

	        // 서버로 중복 검사 요청 보내기
	        checkCouponUniqueness(couponSn)
	            .then(function (isUnique) {
	                if (isUnique) {
	                    // 중복되지 않은 쿠폰 번호인 경우 폼 제출
	                    document.querySelector("form").submit();
	                } else {
	                    attempts++;
	                    if (attempts < maxAttempts) {
	                        // 최대 시도 횟수에 도달하지 않으면 다시 시도
	                        tryGenerateCoupon();
	                    } else {
	                        // 최대 시도 횟수를 초과한 경우 오류 메시지 표시
	                        alert("쿠폰 생성 시도 횟수를 초과했습니다. 다시 시도해주세요.");
	                    }
	                }
	            });
	    }
	    tryGenerateCoupon();
	}

	// 쿠폰 일련번호 등록하기
	function generateRandomCouponSn() {
	    var characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyz";
	    var couponSn = "";
	    var length = 16;

	    for (var i = 0; i < length; i++) {
	        var randomIndex = Math.floor(Math.random() * characters.length);
	        couponSn += characters.charAt(randomIndex);
	    }

	    return couponSn;
	}

	// 서버로 중복 검사 요청 보내기
	function checkCouponUniqueness(couponSn) {
	    return fetch('/admin/checkCouponUniqueness?couponSn=' + couponSn)
	        .then(function (response) {
	            if (response.ok) {
	                return response.json();
	            } else {
	                throw new Error('서버 오류');
	            }
	        });
	} */
	
	// 쿠폰 등록시 선택한 카테고리 정보 갖고오기
	function updateSelectCategoryId() {
	    var selectedFirstCategory = $("#firstCategory").val();
	    var selectedSecondCategory = $("#secondCategorys").val();
	    var selectedThirdCategory = $("#thirdCategorys").val();
	    
	    if (selectedThirdCategory) {
	        $("#selectsCategoryId").val(selectedThirdCategory);
	    } else if (selectedSecondCategory) {
	        $("#selectsCategoryId").val(selectedSecondCategory);
	    } else if (selectedFirstCategory) {
	        $("#selectsCategoryId").val(selectedFirstCategory);
	    } else {
	        $("#selectsCategoryId").val(0); // 모든 카테고리가 선택되지 않았을 때 0 할당
	    }
	} 
 	 // 빈 문자열
    if ($("#selectsCategoryId").val() === "") {
        $("#selectsCategoryId").val(0);
    }
	
	// 쿠폰 등록시 두 번째 카테고리 불러오기
	function getSecondForRegister(firstCategoryId, selector) {
	    var secondCategorys = $("#secondCategorys");
	    secondCategorys.empty(); // 조회하고 다시 조회하면 이전 값 붙어서 안 나오게 비워줘야함
	    secondCategorys.append('<option value="">전체</option>');
	    getThirdForRegister('unsyn');
	    if(selector == 'unsyn'){
		    // 첫 번째 카테고리가 "전체"로 선택된 경우 처리 종료
		    if (firstCategoryId === "") {
		        return;
		    }
		    $.ajax({
		        type: "GET",
		        url: "/admin/product/second/" + firstCategoryId,
		        success: function (data) {
		            // 선택된 첫 번째 카테고리의 하위 카테고리 목록을 추가
		            for (var i = 0; i < data.length; i++) {
	            		secondCategorys.append('<option value="' + data[i].categoryId + '">' + data[i].categoryNm + '</option>');	
		            }
		        }
		    });
		} 
	} 

	const thirdCategoryNum = /*[[${selectedThirdCategoryId}]]*/ null;
	
	// 쿠폰 등록시 세 번째 카테고리 불러오기
	function getThirdForRegister(selector) {
	    var thirdCategorys = $("#thirdCategorys");
	    var secondCategoryIds = $("#secondCategorys").val(); // 두 번째 카테고리의 값을 가져옴
	  	 if(selector == 'unsyn'){
			console.log("unsyn!!!!")
		    if (!secondCategoryIds) {
		        thirdCategorys.empty();
		        thirdCategorys.append('<option value="">전체</option>');
		    } else {
		        $.ajax({
		            type: "GET",
		            url: "/admin/product/third/" + secondCategoryIds,
		            success: function (data) {
		                thirdCategorys.empty();
		                thirdCategorys.append('<option value="">전체</option>');
		                for (var i = 0; i < data.length; i++)  {
			                if (thirdCategoryNum == data[i].categoryId) {
			                	thirdCategorys.append('<option value="' + data[i].categoryId + '" selected>' + data[i].categoryNm + '</option>');
			                } else {
			                	thirdCategorys.append('<option value="' + data[i].categoryId + '">' + data[i].categoryNm + '</option>');	
			                }
		                }
		                console.log(secondCategoryIds);
		            }
		        });
		    }
		}
	}   
	
	// 쿠폰 삭제시 확인 메시지 실행해서 삭제하기
    function deleteCoupon(couponId) {
        if (!confirm('해당 쿠폰을 삭제하시겠습니까?')) {
            return false;
        }
        const formHtml = `
            <form id="deleteForm" action="/admin/coupon/delete?couponId=${couponId}" method="post">
            </form>
        `;
        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
        const form = doc.body.firstChild;
        document.body.append(form);
        setTimeout(() => {
            document.getElementById('deleteForm').submit();
        }, 50) //대기시간
    }  

	 // Datepicker를 사용해서 날짜 입력받기
     $(function() {
   	 	$.datepicker.setDefaults($.datepicker.regional['ko']);
       	$("#couponPblDt").datepicker();
       	$("#couponEprDt").datepicker();
    })

    /*$(document).ready(function () {
        // 쿠폰 발행일과 쿠폰 만료일 input 요소를 가져옵니다.
        var $couponPblDt = $('#couponPblDt');
        var $couponEprDt = $('#couponEprDt');
        
        // 쿠폰 발행일이 변경되었을 때 쿠폰 만료일을 설정합니다.
        $couponPblDt.on('change', function () {
            var startDate = new Date($couponPblDt.val());
            console.log('Start Date:', startDate);
            var endDate = new Date($couponEprDt.val());

            if (endDate <= startDate) {
                $couponEprDt.val('');
            }
        });
    }); */

  </script>

</body>
</html>