<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daitso.product.repository.IProductRepository">

<select id="selectAllProducts" resultType="com.example.daitso.product.model.Product">
<![CDATA[
	select product_code as "productCode",
		   product_nm as "productNm",
		   product_option_first as "productOptionFirst",
		   product_option_second as "productOptionSecond",
		   product_option_third as "productOptionThird",
		   product_stock as "ProductStock"
	from product
]]>
</select>


</mapper>
