@charset "UTF-8";

.table td, .table th {
    padding: 0.6rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    
}


/* 모달 */
.modal-content {
	opacity: 1;
	visibility: visible;
}

.modal-body input {
	width: 80%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.modal-header{
	background-color: #c4d8ff;
}


/* 상품 수정 모달 */
.update-modal-body input {
	width: 80%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.span-like-input {
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 0;
    outline: none;
}


/* 기존 상품 등록 모달 input */
#productOptionFirst, #productOptionSecond,
#productOptionThird, #productPrice, #productStock, #productMaxGet{
	width: 33%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#productContent {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#getProductGroupId, #getCategoryNm, #getProductNm{
	border:none;
	font-weight: bold;
}


div.col-sm-10 {
	padding-top: 7px;
	padding-bottom: 7px;
}


/* 페이지 링크 표시  */
.pagination {
	justify-content: center;
	padding-top: 10px;
}

.pagination li a {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	padding: 4px;
	margin-right: 3px;
	color: #000;
	font: bold 12px tahoma;
	border: 1px solid #eee;
	text-align: center;
	text-decoration: none;
	float: none;
	width: 26px;
}

.pagination li a:hover, .pagination1 li a:focus {
	color: #fff;
	border: 1px solid #1a385d;
	background-color: #1a385d;
}

.page-item.active .page-link {
	color: black;
	background-color: #fff;
	z-index: 3;
	border-color: #1a385d;
}


input{
	accent-color: #6f8095;
}

.check{
	width: 180px;
    text-align: center;
    font-size: 20px;
    padding: 20px 0 20px 0;
    background-color: #1a385d;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}


/* .admin-product-thead {
	width: 100%;
	text-align: center;
	justify-content: space-around;
	display: flex;
	margin-top: 20px;
	padding: 12px 0 12px 0;
	border: 1px solid #1a385d;
	border-left: none;
	border-right: none;
	font-size: 16px;
	font-weight: 500;
}

 .admin-product-thead div:nth-child(1){
	width: 5%;
}

.admin-product-thead div:nth-child(2){
	width: 7%;
}

.admin-product-thead div:nth-child(3){
	width: 15%;
}

.admin-product-thead div:nth-child(4){
	width: 53%;
}

.admin-product-thead div:nth-child(5){
	width: 20%;
}

.tableBody {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    font-weight: 400;
    background-color: #F8F8F8;
    border-bottom: 1px solid #1a385d;
} */
