@charset "UTF-8";

.modal-content {
	opacity: 1;
	visibility: visible;
}

.table td, .table th {
    padding: 0.55rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#table {
	padding-top: 10px;
    padding-left: 50px;
    width: -webkit-fill-available;
}


.modal-body input {
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.modal-header{
	background-color: #c4d8ff;
}


.pagination {
	justify-content: center;
}

.pagination li a {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	padding: 4px;
	margin-right: 3px;
	color: #000;
	font: bold 12px tahoma;
	border: 1px solid #eee;
	text-align: center;
	text-decoration: none;
	float: none;
	width: 26px;
}

.pagination li a:hover, .pagination1 li a:focus {
	color: #fff;
	border: 1px solid #1a385d;
	background-color: #1a385d;
}

.page-item.active .page-link {
	color: black;
	background-color: #fff;
	z-index: 3;
	border-color: #1a385d;
}


/*   #thirdCategory {
    display: none;
} */ 


.clicked-title {
	width: 50%;
	height: 100%;
	font-weight: 600;
	cursor: pointer;
	border: 1px solid #1a385d;
	border-bottom: none;
}

.unclicked-title {
	width: 50%;
	height: 100%;
	border: 1px solid #999999;
	border-bottom: 1px solid #1a385d;
	background-color: #F8F8F8;
	color: #555555;
	font-weight: 600;
	cursor: pointer;
}