<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/bs-header :: bsHeader}"></head>
<link rel="stylesheet" th:href="@{/css/admin-product.css}">
<link rel="stylesheet" th:href="@{/css/admin-purchase.css}">
<link rel="stylesheet" th:href="@{/css/admin-frame.css}">
<body>
	<div th:replace="~{/include/admin-body-header :: adminBodyHeader}"></div>
	<div th:replace="~{/include/admin-frame :: adminFrame}"></div>

	<!-- 오른쪽 컨텐츠 -->
	<div id="productTable">
	<hr class="my-3">
		<div class="col-sm-12"	style="display: grid; grid-template-columns: repeat(3, 1fr); margin-bottom: 15px;">
			<a	th:href="@{/admin/purchase(page=${page}, pageSize=${pageSize}, commonCodeId=${401})}"
				class="btn btn-default" style="border-color: #aac8b2;">입금/결제</a> 
			<a th:href="@{/admin/purchase(page=${page}, pageSize=${pageSize}, commonCodeId=${402})}"
				class="btn btn-default" style="border-color: #aac8b2;">배송중</a> 
			<a th:href="@{/admin/purchase(page=${page}, pageSize=${pageSize}, commonCodeId=${403})}"
				class="btn btn-default" style="border-color: #aac8b2;">배송완료</a>
		</div>
		<div id="searchTextDiv" style="display:flex;justify-content: flex-end;padding-right: 15px; padding-bottom: 15px;">
			<select>
				<option>회원명</option>
				<option>주문번호</option>
			</select>
			<input id="searchText" style="width:15%;" type="text"> 
			<input type="button" class="btn-secondary" style="width:7%; background-color: #aac8b2" value="검색" onclick="searchList()"/>
		</div>

		<div style="height: 690px;">
			<table class="table" style="text-align: center;">
				<thead>
					<tr>
						<th></th>
						<th>회원명</th>
						<th>주문번호</th>
						<th>등록날짜</th>
						<th>배송상태</th>
					</tr>
				</thead>
				<tbody id="searchTable">		
					 <tr th:each="purchase : ${purchaselist}">
					 	<td th:text="${purchase.rn}"></td>
						<td th:text="${purchase.customerNm}"></td>
						<td th:text="${purchase.purchaseNum}"></td>
						<td th:text="${purchase.createDt}"></td>
						<td>
							<form th:action="@{/admin/purchase/change-status}" method="post" style="display:flex; align-items: center; justify-content: space-evenly;">
								<input type="hidden" name="purchaseId" th:value="${purchase.purchaseId}"> 
									<select	onchange="this.form.submit()" name="commonCodeId" class="form-select">
	 								<option value="401" th:selected="${purchase.commonCodeNm == '입금/결제'}">입금/결제</option>
									<option value="402" th:selected="${purchase.commonCodeNm == '배송중'}">배송중</option>
									<option value="403" th:selected="${purchase.commonCodeNm == '배송완료'}">배송완료</option>
									</select>
							</form>
						</td>
					</tr>
					 
				</tbody>
			</table>
		</div>
		
		<!-- 페이지 링크 표시 -->
		<div th:if="${totalCount > 0}">
			<ul class="pagination">
				<!-- 이전 페이지 -->
				<li class="page-item" th:classappend="${currentPage == 1} ? disabled"> <!-- 현재 페이지가 1이면 비활성화 -->
					<!-- 이전 페이지로 이동하는 링크 -->
					<a class="page-link"
					th:href="@{/admin/purchase(page=${currentPage - 1}, pageSize=${pageSize}, commonCodeId=${commonCodeId})}"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<!-- 페이지 번호 링크 -->
				<li th:each="page : ${#numbers.sequence(1, totalPages, 1)}" class="page-item" th:classappend="${page == currentPage} ? active">
					<a class="page-link"
					th:href="@{/admin/purchase(page=${page}, pageSize=${pageSize}, commonCodeId=${commonCodeId})}"
					th:text="${page}">
					</a>
				</li>

				<!-- 다음 페이지 -->
				<li class="page-item" th:classappend="${currentPage * pageSize >= totalCount} ? disabled"> <!-- 현재 페이지가 마지막 페이지면 비활성화 -->
					<!-- 다음 페이지로 이동하는 링크 -->
					<a class="page-link" 
					th:href="@{/admin/purchase(page=${currentPage + 1}, pageSize=${pageSize}, commonCodeId=${commonCodeId})}"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	
</div>
</div>

	<div th:replace="~{/include/footer :: footer}"></div>
	<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script th:inline="javascript">
	
	function searchList() {
	    var searchText = document.getElementById('searchText').value;
	    $.ajax({
	        type: "GET",
	        url: "/admin/search-purchase",
	        contentType: "application/json",
	        data: { searchText: searchText },
	        success: function (response) {
	            $('#searchTable').empty();    	            
	            if (response.length == 0) {
	                var noResultRow = "<tr><td colspan='5'> 검색 결과가 없습니다.</td></tr>";
	                $('#searchTable').append(noResultRow);
	            } else {
	                for (var i = 0; i < response.length; i++) {
	                	
	                    var addTableRow = "<tr>" +
	                        "<td><input type='radio' onchange='getProductCheck(this)' name ='productCheck' value=" + response[i].productGroupId + " class ='productCheckbox' required></td>" +
	                        "<td>" + response[i].productGroupId + "</td>" +
	                        "<td id = categoryNm" + response[i].productGroupId +">" + response[i].categoryNm + "</td>" +
	                        "<td id = productNm" + response[i].productGroupId +">" + response[i].productNm + "</td>" +
	                        "<td id='categoryId" + response[i].productGroupId + "' style='display: none;'>" + response[i].categoryId + "</td>" +
	                        "</tr>"
	                        ;

	                    $('#searchTable').append(addTableRow);
	                }
	            }
	            return;
	        }
	    });
	}
	
	</script>		
		
</body>
</html>