<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/bs-header :: bsHeader}"></head>
<link rel="stylesheet" th:href="@{/css/admin-product.css}">
<link rel="stylesheet" th:href="@{/css/admin-purchase.css}">
<link rel="stylesheet" th:href="@{/css/admin-frame.css}">
<body>
	<div th:replace="~{/include/admin-body-header :: adminBodyHeader}"></div>
	<div th:replace="~{/include/admin-frame :: adminFrame}"></div>

	<!-- 오른쪽 컨텐츠 -->
	<div id="productTable">
	<hr class="my-3">
		<div class="col-sm-12"	style="display: grid; grid-template-columns: repeat(3, 1fr); margin-bottom: 15px;">
				<button type="button" onclick="loadData(401)" class="btn btn-default" style="border-color: #aac8b2;">입금/결제</button>
				<button type="button" onclick="loadData(402)" class="btn btn-default" style="border-color: #aac8b2;">배송중</button>
				<button type="button" onclick="loadData(403)" class="btn btn-default" style="border-color: #aac8b2;">배송완료</button>				
		</div>
		
		<div id="searchTextDiv" style="display:flex; justify-content:flex-end; padding-right:15px; padding-bottom:15px;">
		    <select id="searchOption">
		        <option value="customerNm">회원명</option>
		        <option value="purchaseNum">주문번호</option>
		    </select>
		    <input id="searchText" style="width:15%;" type="text" onkeypress="if( event.keyCode == 13 ){searchList();}"> 
		    <input type="button" class="btn btn-secondary" style="width:7%; background-color: #aac8b2; border-color: #aac8b2; color: #ffff; margin-left: 5px;" value="검색" 
		    	   onclick="searchList()"/>
		</div>


		<div style="height: 690px;">
			<table class="table" style="text-align: center;">
				<thead>
					<tr>
						<th></th>
						<th>회원명</th>
						<th>주문번호</th>
						<th>구매상품</th>
						<th>등록날짜</th>
						<th>배송상태</th>
					</tr>
				</thead>
				<tbody id="purchaseTable">		
					 <tr th:each="purchase : ${purchaselist}">
					 	<td th:text="${purchase.rn}"></td>
						<td th:text="${purchase.customerNm}"></td>
						<td th:text="${purchase.purchaseNum}" data-bs-toggle="modal" data-bs-target="#infoModal" style="cursor:pointer;" 
								     th:onclick="getPurchaseDetails([[${purchase.purchaseNum}]])"></td>
						<td th:text="${purchase.productNm}"></td>
						<td th:text="${purchase.createDt}"></td>
						<td>
							<form th:action="@{/admin/purchase/change-status}" method="post" style="display:flex; align-items: center; justify-content: space-evenly;">
								<input type="hidden" name="purchaseId" th:value="${purchase.purchaseId}"> 
									<select	onchange="this.form.submit()" name="commonCodeId" class="form-select">
	 								<option value="401" th:selected="${purchase.commonCodeNm == '입금/결제'}">입금/결제</option>
									<option value="402" th:selected="${purchase.commonCodeNm == '배송중'}">배송중</option>
									<option value="403" th:selected="${purchase.commonCodeNm == '배송완료'}">배송완료</option>
									</select>
							</form>
						</td>
					</tr>				 
			   </tbody>
			</table>
		</div>
		
		<!-- 페이지 링크 표시 -->
		<div th:if="${totalCount > 0}">
			 <ul class="pagination" id="pagination">
				<!-- 이전 페이지 -->
				<li class="page-item" th:classappend="${currentPage == 1} ? disabled"> <!-- 현재 페이지가 1이면 비활성화 -->
					<!-- 이전 페이지로 이동하는 링크 -->
					<a class="page-link"
					th:href="@{/admin/purchase(page=${currentPage - 1}, pageSize=${pageSize}, commonCodeId=${commonCodeId})}"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<!-- 페이지 번호 링크 -->
				<li th:each="page : ${#numbers.sequence(1, totalPages, 1)}" class="page-item" th:classappend="${page == currentPage} ? active">
					<a class="page-link"
					th:href="@{/admin/purchase(page=${page}, pageSize=${pageSize}, commonCodeId=${commonCodeId})}"
					th:text="${page}">
					</a>
				</li>

				<!-- 다음 페이지 -->
				<li class="page-item" th:classappend="${currentPage * pageSize >= totalCount} ? disabled"> <!-- 현재 페이지가 마지막 페이지면 비활성화 -->
					<!-- 다음 페이지로 이동하는 링크 -->
					<a class="page-link" 
					th:href="@{/admin/purchase(page=${currentPage + 1}, pageSize=${pageSize}, commonCodeId=${commonCodeId})}"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<!-- 주문 내역 조회 모달 -->
	<div id="infoModal" class="modal fade" tabindex="-1"	role="dialog">
		<div class="modal-dialog" role="document" style="max-width: 900px;">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title">주문 내역 조회</h5>
				</div>
						<div class="modal-body">
						 <p>주문 번호 : <span id="purchaseNumSpan"></span></p>
						 <p>회원명 : <span id="customerNmSpan"></span></p>
						 <p>총 가격 : <span id="totalCostSpan"></span></p>
							<table class="table">
								<thead>
									<tr>
										<th>상품명</th>
										<th>상품가격</th>
										<th>수량</th>
									</tr>
								</thead>
								<tbody id="detailTableBody">
								</tbody>
								
							</table>
							
						</div>
						<div class="modal-footer">
						<button class="btn btn-secondary"
								th:onclick="|location.href='@{/admin/purchase}'|" type="button">닫기</button>
						</div>
			</div>
		</div>
	</div>	
	
</div>
</div>

	<div th:replace="~{/include/footer :: footer}"></div>
	<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script th:inline="javascript">

	//배송 상태별 데이터 + 페이지
	function loadData(commonCodeId, page) {
	    $.ajax({
	        type: "GET",
	        url: "/admin/purchases",
	        data: { commonCodeId: commonCodeId, page: page }, 
	        success: function (data) {
	            var tableBody = $('#purchaseTable');
	            tableBody.empty(); 

	            if (data.length === 0) {
	                var noResultRow = "<tr><td colspan='5'> 검색 결과가 없습니다.</td></tr>";
	                tableBody.append(noResultRow);
	            } else {
	                for (var i = 0; i < data.data.length; i++) {
 	                    var newRow = "<tr>" +
	                        "<td>" + data.data[i].rn + "</td>" +
	                        "<td>" + data.data[i].customerNm + "</td>" +
	                        "<td>" + data.data[i].purchaseNum + "</td>" +
	                        "<td>" + data.data[i].productNm + "</td>" +
	                        "<td>" + data.data[i].createDt + "</td>" +
	                        "<td>" +
	                        "<form action='/admin/purchase/change-status' method='post' style='display:flex; align-items: center; justify-content: space-evenly;'>" +
	                        "<input type='hidden' name='purchaseId' value='" + data.data[i].purchaseId + "'>" +
	                        "<select onchange='this.form.submit()' name='commonCodeId' class='form-select'>" +
	                        "<option value='401' " + (data.data[i].commonCodeId === 401 ? 'selected' : '') + ">입금/결제</option>" +
	                        "<option value='402' " + (data.data[i].commonCodeId === 402 ? 'selected' : '') + ">배송중</option>" +
	                        "<option value='403' " + (data.data[i].commonCodeId === 403 ? 'selected' : '') + ">배송완료</option>" +
	                        "</select>" +
	                        "</form>" +
	                        "</td>";
	                        "</tr>";  
	                      
	                    tableBody.append(newRow);
	                }
	            }

	            /// 페이징 정보 업데이트
	            var pagination = $('#pagination');
	            pagination.empty();

	            // 이전 페이지로 이동하는 링크
	            var prevLink = "<li class='page-item " + (data.currentPage === 1 ? 'disabled' : '') + "'>" +
	                "<a class='page-link' onclick='loadData(" + commonCodeId + ", " + (data.currentPage - 1) + ")' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a>" +
	                "</li>";
	            pagination.append(prevLink);

	            for (var i = 1; i <= data.totalPages; i++) {
	                var pageLink = "<li class='page-item " + (i === data.currentPage ? 'active' : '') + "'>" +
	                    "<a class='page-link' onclick='loadData(" + commonCodeId + ", " + i + ")'>" + i + "</a>" +
	                    "</li>";
	                pagination.append(pageLink);
	            }

	            // 다음 페이지로 이동하는 링크
	            var nextLink = "<li class='page-item " + (data.currentPage === data.totalPages ? 'disabled' : '') + "'>" +
	                "<a class='page-link' onclick='loadData(" + commonCodeId + ", " + (data.currentPage + 1) + ")' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a>" +
	                "</li>";
	            pagination.append(nextLink);

	        },
	        error: function (error) {
	            console.log("에러 발생: " + error);
	        }
	    });
	}

	
	//검색한 결과 데이터 + 페이지
	function searchList(page) {
	    var searchText = $('#searchText').val();
	    var searchOption = $('#searchOption').val();
	
	    $.ajax({
	        type: "GET",
	        url: "/admin/search-purchase",
	        data: { searchText: searchText, searchOption: searchOption, page: page },
	        success: function (data) {
	            var tableBody = $('#purchaseTable');
	            tableBody.empty();
	
	            if (data.data.length === 0) {
	                var noResultRow = "<tr><td colspan='5'> 검색 결과가 없습니다.</td></tr>";
	                tableBody.append(noResultRow);
	            } else {
	                for (var i = 0; i < data.data.length; i++) {
	                    var newRow = "<tr>" +
	                        "<td>" + data.data[i].rn + "</td>" +
	                        "<td>" + data.data[i].customerNm + "</td>" +
	                        "<td>" + data.data[i].purchaseNum + "</td>" +
	                        "<td>" + data.data[i].productNm + "</td>" +
	                        "<td>" + data.data[i].createDt + "</td>" +
	                        "<td>" +
	                        "<form action='/admin/purchase/change-status' method='post' style='display:flex; align-items: center; justify-content: space-evenly;'>" +
	                        "<input type='hidden' name='purchaseId' value='" + data.data[i].purchaseId + "'>" +
	                        "<select onchange='this.form.submit()' name='commonCodeId' class='form-select'>" +
	                        "<option value='401' " + (data.data[i].commonCodeId === 401 ? 'selected' : '') + ">입금/결제</option>" +
	                        "<option value='402' " + (data.data[i].commonCodeId === 402 ? 'selected' : '') + ">배송중</option>" +
	                        "<option value='403' " + (data.data[i].commonCodeId === 403 ? 'selected' : '') + ">배송완료</option>" +
	                        "</select>" +
	                        "</form>" +
	                        "</td>" +
	                        "</tr>";
	
	                    tableBody.append(newRow);
	                }
	            }
	
	            // 페이징 정보 업데이트
	            var pagination = $('#pagination');
	            pagination.empty();

	            // 이전 페이지로 이동하는 링크
	            var prevLink = "<li class='page-item " + (data.currentPage === 1 ? 'disabled' : '') + "'>" +
	                "<a class='page-link' onclick='searchList(" + (data.currentPage - 1) + ")' aria-label='Previous'><span aria-hidden='true'>&laquo;</span></a>" +
	                "</li>";
	            pagination.append(prevLink);

	            for (var i = 1; i <= data.totalPages; i++) {
	                var pageLink = "<li class='page-item " + (i === data.currentPage ? 'active' : '') + "'>" +
	                    "<a class='page-link' onclick='searchList(" + i + ")'>" + i + "</a>" +
	                    "</li>";
	                pagination.append(pageLink);
	            }

	            // 다음 페이지로 이동하는 링크
	            var nextLink = "<li class='page-item " + (data.currentPage === data.totalPages ? 'disabled' : '') + "'>" +
	                "<a class='page-link' onclick='searchList(" + (data.currentPage + 1) + ")' aria-label='Next'><span aria-hidden='true'>&raquo;</span></a>" +
	                "</li>";
	            pagination.append(nextLink);
	            
	        },
	        error: function (error) {
	            console.log("에러 발생: " + error);
	        }
	    });
	}
	
	
	 //
	 function getPurchaseDetails(purchaseNum) { 
	 		
	         fetch("/admin/purchase-details/" + purchaseNum)
	             .then(response => response.json())
	             .then(data => {            	 
	                 const detailTableBody = document.getElementById("detailTableBody");
	                 detailTableBody.innerHTML = "";
	                                
	                 const purchaseNumSpan = document.getElementById("purchaseNumSpan");
	                 purchaseNumSpan.textContent = purchaseNum;
	                 
 	                 const customerNmSpan = document.getElementById("customerNmSpan");
	                 customerNmSpan.textContent = data[0].customerNm;
                 
	                 const totalCostSpan = document.getElementById("totalCostSpan");
	                 totalCostSpan.textContent = data[0].totalCost;
	                 
	                 data.forEach( purchaselist => {
	                     const row = document.createElement("tr");
	                     row.innerHTML = `
	                          <td>${purchaselist.productNm}</td>
	                          <td>${purchaselist.purchasePrice}</td>
	                          <td>${purchaselist.purchaseCount}</td>                        
	                         `;
	                      detailTableBody.appendChild(row);
	                  });
	              });
	      }

	</script>		
		
</body>
</html>